<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Deudas solucionadas</ion-title>
          </ion-col>
        </ion-row> 
      </ion-toolbar>
</ion-header>
<ion-content class="myview" color="">
  <ion-row style="margin-bottom: 0px; padding-top: 20px; padding-bottom: 20px; padding-right: 10px; background-color: #000c3b; padding-left: 10px;">
    <ion-col col-12 style="padding-top: 0px;">
      <span style="font-size: 15px;color: #fff; white-space: normal;">Hola {{this.usuario}}, tienes ({{ this.solicitudespendientesn }}) cuota</span>
    </ion-col>
  </ion-row>

  <div *ngFor="let item of this.solicitudespendientes; let i = index" >
     <div *ngIf="item.status=='C'" padding class="mostrar-principal" style="padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
            <ion-row style="padding-top: 10px;" (click)="verDetalleCuenta(item.application_id)">
              <ion-col col-11>
                <b style="font-size: 14px;">{{item.banco_deuda}}</b>
                <br>
                <span style="color: #82868b; font-size: 13px;" *ngIf="item.tipo_deuda=='1'">Tarjeta de Crédito</span>
                <span style="color: #82868b; font-size: 13px;" *ngIf="item.tipo_deuda=='2'">Préstamo</span>
                <br><br>
                <span style="color: #82868b; font-size: 13px;" *ngIf="item.product_type_id==2">Pago directo a cuenta {{item.currency}}$ {{item.monto_deuda | currency:' ' }}</span>
                <span style="color: #82868b; font-size: 13px;" *ngIf="item.product_type_id==1">Pago a plazos {{item.currency}}$ {{item.monto_deuda | currency:' ' }}</span>
              </ion-col>
              <ion-col col-1 style="padding-top: 44px;">
                <ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
                </ion-icon>
              </ion-col>
            </ion-row>
      </div>
  </div>

  

</ion-content>
