<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Deudas solucionadas</ion-title>
          </ion-col>
        </ion-row> 
      </ion-toolbar>
</ion-header>
<ion-content class="myview" color="">
  <ion-row style="margin-bottom: 0px; padding-top: 20px; padding-bottom: 20px; padding-right: 10px; background-color: #000c3b; padding-left: 10px;">
    <ion-col col-12 style="padding-top: 0px;">
      <span style="font-size: 15px;color: #fff; white-space: normal;">Hola {{this.usuario}}, tienes ({{ this.solicitudespendientes.length }}) cuota</span>
    </ion-col>
  </ion-row>

  <div *ngFor="let item of this.solicitudespendientes; let i = index" >
     <div *ngIf="item.status=='C'" padding class="mostrar-principal" style="padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
            <ion-row style="padding-top: 10px;" (click)="verDetalleCuenta(item.application_id)">
              <ion-col col-11>
                <b style="font-size: 14px;">{{item.banco_deuda}}</b>
                <br>
                <span style="color: #82868b; font-size: 13px;" *ngIf="item.tipo_deuda=='1'">Tarjeta de Crédito</span>
                <span style="color: #82868b; font-size: 13px;" *ngIf="item.tipo_deuda=='2'">Préstamo</span>
                <br>
                <span style="color: #82868b; font-size: 13px;">Cuota {{item.currency}} {{item.installment_payment | currency:' ' }}</span>
              </ion-col>
              <ion-col col-1 style="padding-top: 44px;">
                <ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
                </ion-icon>
              </ion-col>
            </ion-row>
      </div>
  </div>

       <div *ngFor="let item of this.solicitudespendientes; let i = index" >
          <div *ngIf="item.status=='C'"  padding class="mostrar-principal" style="padding-top: 0px; border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
            <ion-row>
              <ion-col col-10>
                <ion-label *ngIf="item.tipo_deuda=='1'"
                  style=" margin-bottom: 0px; margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
                  <b>Tarjeta de Crédito</b>
                  <br>
                  <b>{{item.status_text}}</b>
                </ion-label>
                <ion-label *ngIf="item.tipo_deuda=='2'"
                  style="margin-bottom: 0px; margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
                  <b>Préstamo</b>
                  <br>
                  <b>{{item.status_text}}</b>
                </ion-label>
                <ion-label *ngIf="item.tipo_deuda!='2' && item.tipo_deuda!='1'"
                  style="margin-bottom: 0px; margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
                  <b> </b>
                  <br>
                  <b>{{item.status_text}}</b>
                </ion-label>
              </ion-col>
              <ion-col col-1>
                <ion-icon *ngIf="item.tipo_deuda=='1'" style="margin-top: 20px;" name="card-outline">
                </ion-icon>
                <ion-icon *ngIf="item.tipo_deuda=='2'" style="margin-top: 20px;" name="cash-outline">
                </ion-icon>
                <ion-icon *ngIf="item.tipo_deuda!='2' && item.tipo_deuda!='1'" style="margin-top: 20px;"
                  name="cash-outline">
                </ion-icon>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="item.creditor_instruccion">
              <ion-col col-12 class="contraoferta">
                {{item.creditor_instruccion}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <!--<b *ngIf="item.tipo_deuda=='1'" style="font-size: 14px;">**** {{item.identifica_banco}}</b> -->
                <b *ngIf="item.tipo_deuda=='2'" style="font-size: 14px;">{{item.identifica_banco}}</b>
                <br>
                <b style="font-size: 14px; font-weight: normal; color: #a8abaf;">{{item.banco_deuda}}</b>
                <br>
                <b style="font-size: 14px; font-weight: normal; color: #a8abaf;">Número de aplicación
                  {{item.application_id}}</b>
                <br>
                <b *ngIf="item.product_type_id==2"
                  style="font-size: 14px; font-weight: normal; color: #a8abaf;">Ofreciste un pago a
                  plazos</b>
                <b *ngIf="item.product_type_id==1"
                  style="font-size: 14px; font-weight: normal; color: #a8abaf;">Ofreciste un saldo
                  nuevo</b>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: 20px;" *ngIf="item.status=='CO' || item.status=='COL'">
              <ion-col col-12 class="contraoferta">
                <b>Tienes una contraoferta</b>
                <br>
                Te hemos hecho una contraoferta para este producto, por favor "Ver detalle" para que revises
                esta contraoferta y tomes una decisión
              </ion-col>
            </ion-row>
            <!--<ion-row style="margin-top: 20px;" *ngIf="(item.status!='CAPOS' && item.product_type_id!=1) && (item.status!='PP' && item.product_type_id!=1)">-->
            <ion-row style="margin-top: 20px;" *ngIf="item.status_text != 'Pendiente de Pago Convenido'">
              <ion-col col-6>
                <b style="font-size: 14px;">Monto deuda</b>
              </ion-col>
              <ion-col col-6 style="text-align: right;">
                <b style="font-size: 14px;">{{item.currency}} {{item.monto_deuda | currency:' ' }}</b>
              </ion-col>
            </ion-row>
            <!--<ion-row style="margin-top: 20px;" *ngIf="(item.status!='CAPOS' && item.product_type_id!=1) && (item.status!='PP' && item.product_type_id!=1)">-->
            <ion-row style="margin-top: 20px;" *ngIf="item.status_text != 'Pendiente de Pago Convenido'">
              <ion-col col-6>
                <b *ngIf="item.product_type_id==2" style="font-size: 14px;">Pago inicial que ofreciste</b>
                <b *ngIf="item.product_type_id==1" style="font-size: 14px;">Saldo que ofreciste</b>
              </ion-col>
              <ion-col col-6 style="text-align: right;">
                <b *ngIf="item.offer_payoff_amount==0" style="font-size: 14px;">{{item.currency}}
                  {{item.initial_payment_offer | currency:' ' }}</b>
                <b *ngIf="item.offer_payoff_amount!=0" style="font-size: 14px;">{{item.currency}}
                  {{item.offer_payoff_amount
                  | currency:' ' }}</b>
              </ion-col>
            </ion-row>
            <!--<ion-row style="margin-top: 20px;" *ngIf="(item.status=='CAPOS' && item.product_type_id==1) || (item.status=='PP' && item.product_type_id==1)">-->
            <ion-row style="margin-top: 20px;" *ngIf="item.status_text == 'Pendiente de Pago Convenido'">
              <ion-col col-6>
                <b style="font-size: 14px;">Monto convenido para saldar</b>
              </ion-col>
              <ion-col col-6 style="text-align: right;">
                <b style="font-size: 14px;">{{item.currency}} {{item.final_agree_debt_amount | currency:' '
                  }}</b>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: 20px;">
              <ion-col col-12>
                <!--<ion-button expand="block" type="button" style="text-transform: none;"
                  *ngIf="item.status=='CAPOS' || item.status=='PP'" color="primary"
                  (click)="pagarcuentadeposito(item.application_id)">
                  Enviar comprobante de pago
                </ion-button>-->
                <ion-button expand="block" type="button" style="text-transform: none;"
                  *ngIf="(item.status=='CAPOS' || item.status=='PP') && item.account_number > 0"
                  color="primary" (click)="enviarpago(item.application_id, item.account_number)">
                  Enviar pago
                </ion-button>
                <ion-button expand="block" type="button" style="text-transform: none;"
                  *ngIf="(item.status=='CAPOS' || item.status=='PP') && item.account_number == 0"
                  color="primary" (click)="pagarcuentadeposito(item.application_id)">
                  Enviar comprobante de pago
                </ion-button>

                <ion-button expand="block" type="button" style="text-transform: none;"
                  *ngIf="item.status!='CO' && item.status!='COL'" color="primary"
                  (click)="verDetalleCuenta(item.application_id)">
                  Ver detalle
                </ion-button>

                <!--<ion-button expand="block" type="button" style="text-transform: none;"
                  *ngIf="item.status=='CO' || item.status=='COL'" color="primary"
                  (click)="verdetallecontraoferta(item.application_id)">
                  Contraoferta
                </ion-button>-->

                <ion-tab-button tab="verdetallecontraoferta/{{item.application_id}}" expand="block"
                  type="button" class="btn_contra" style="text-transform: none;"
                  *ngIf="item.status=='CO' || item.status=='COL'" color="primary">
                  Contraoferta
                </ion-tab-button>
                <!--<ion-button expand="block" type="button" style="text-transform: none;"
                  *ngIf="item.contraoferta=='2'" color="primary" (click)="verdetallecontinua(item.id)">
                  Ver detalle
                </ion-button>
                <ion-button expand="block" type="button" style="text-transform: none;"
                  *ngIf="item.contraoferta=='3'" color="primary"
                  (click)="verdetallecontraofertacontinua(item.id)">
                  Ver detalle
                </ion-button>-->

                <ion-tab-button tab="verdetalleaceptar/{{item.application_id}}" expand="block" type="button"
                  class="btn_contra" style="text-transform: none;" *ngIf="item.status=='LC'"
                  color="primary">
                  Aceptar
                </ion-tab-button>

                <!--<ion-button expand="block" type="button" style="text-transform: none;"
                  *ngIf="item.status=='WSA'" color="primary"
                  >
                  Firmar
                </ion-button>-->
              </ion-col>
            </ion-row>
          </div>
        </div>

</ion-content>
