<ion-content class="myview" color="" >
	<ion-row style="position: absolute; top: 51%; left: 12%; color: #fff;">
	  <ion-col col-12 style="padding-bottom:0px">
	      <ion-label style="font-size: 16px; margin-bottom: 0px; margin-top: 0px; font-weight: normal;">{{ this.mensaje1 }}</ion-label>
	  </ion-col>
	  <ion-col col-12 style="padding-top:0px; padding-bottom:0px">
	  	<ion-label style="font-size: 16px; margin-bottom: 0px; font-weight: normal;">Pago inicial: {{ this.mensaje2 | currency:'$ '  }}</ion-label>
	  </ion-col>
	  <ion-col col-12 style="padding-top:0px" *ngIf="this.mensaje3==2">
	  	<ion-label style="font-size: 16px; margin-bottom: 0px; font-weight: normal;">Restante a refinanciar: {{ (this.mensaje6-this.mensaje2) | currency:'$ '  }}</ion-label>
	  	<ion-label style="font-size: 16px; margin-bottom: 0px; font-weight: normal;">Número de cuotas: {{ this.mensaje5 }}</ion-label>
	  </ion-col>
	  <ion-col col-12 style="padding-top:0px" *ngIf="this.mensaje3==1">
	  	<ion-label style="font-size: 16px; font-weight: normal;">Monto de cuotas: {{ this.mensaje4 | currency:'$ '  }}</ion-label>
	  </ion-col>
	</ion-row>
</ion-content>
