<ion-content class="myview" color="">
	<ion-row style="position: absolute; top: 51%; left: 15%; color: #fff;">
		<ion-col col-12 style="padding-bottom:0px">
			<ion-label style="font-size: 16px; margin-bottom: 0px; margin-top: 5px; font-weight: normal;">{{ this.mensaje1 }}</ion-label>
		</ion-col>
		<ion-col col-12 style="padding-top:0px">
			<ion-label style="font-size: 16px; font-weight: normal;">Saldo ofrecido {{ this.currency }} {{ this.mensaje2 | currency:'$ ' }}</ion-label>
		</ion-col>
	</ion-row>

</ion-content>