<ion-header>
	<ion-toolbar color="light">
		<ion-buttons style="position: absolute; margin-top: 10px;">
                <ion-icon (click)="ayuda()" style="font-size: 20px; margin-left: 26px; margin-right: -26px;color: var(--ion-color-primary) ;" name="help-circle-outline"></ion-icon>
                <span style="font-size: 14px; margin-left: 31px; color: var(--ion-color-primary) ;" >Ayuda</span>
         </ion-buttons>
		<ion-title text-center>
			<img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content ppullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
		</ion-refresher-content>
	</ion-refresher>
	<!--<ion-row style="margin-right: 5px; margin-left: 5px; display: none;">
		<ion-col col-6>
			<ion-row style="">
				<ion-col col-12 class="montos">
					<ion-icon name="card-outline"></ion-icon>
					<br>
					Deuda actual
					<br>
					<b>{{this.totaldeudaactual | currency:'RD ' }}</b>
				</ion-col>
			</ion-row>
		</ion-col>
		<ion-col col-6>
			<ion-row style="">
				<ion-col col-12 class="montos">
					<ion-icon name="cash-outline"></ion-icon>
					<br>
					Cuota mensual
					<br>
					<b>{{this.totaldeudamensual | currency:'RD ' }}</b>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>-->
	<br>
	<ion-list class="accordion-list" lines="none" detail="false" no-padding>
		<ion-item tappable (click)="toggleSection(0)"
			[ngClass]="{'section-active': this.information[0], 'section': !this.information[0]}">
			<ion-icon slot="end" name="chevron-down-outline" *ngIf="!this.information[0]"></ion-icon>
			<ion-icon slot="end" name="chevron-up-outline" *ngIf="this.information[0]"></ion-icon>
			<ion-label style="white-space: normal;">
				Solicitudes pendientes
			</ion-label>
		</ion-item>
		<div *ngIf="this.information[0]">
			<ion-list class="child-list" lines="none">
				<div *ngFor="let item of this.solicitudespendientes; let i = index" >
							<div *ngIf="item.status!='C'"  padding class="mostrar-principal" style="padding-top: 0px; border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
							<ion-row>
								<ion-col col-10>
									<ion-label *ngIf="item.tipo_deuda=='1'"
										style=" margin-bottom: 0px; margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
										<b>Tarjeta de Crédito</b>
										<br>
										<b>{{item.status_text}}</b>
									</ion-label>
									<ion-label *ngIf="item.tipo_deuda=='2'"
										style="margin-bottom: 0px; margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
										<b>Préstamo</b>
										<br>
										<b>{{item.status_text}}</b>
									</ion-label>
									<ion-label *ngIf="item.tipo_deuda!='2' && item.tipo_deuda!='1'"
										style="margin-bottom: 0px; margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
										<b> </b>
										<br>
										<b>{{item.status_text}}</b>
									</ion-label>
								</ion-col>
								<ion-col col-1>
									<ion-icon *ngIf="item.tipo_deuda=='1'" style="margin-top: 20px;" name="card-outline">
									</ion-icon>
									<ion-icon *ngIf="item.tipo_deuda=='2'" style="margin-top: 20px;" name="cash-outline">
									</ion-icon>
									<ion-icon *ngIf="item.tipo_deuda!='2' && item.tipo_deuda!='1'" style="margin-top: 20px;"
										name="cash-outline">
									</ion-icon>
								</ion-col>
							</ion-row>
							<ion-row *ngIf="item.creditor_instruccion">
								<ion-col col-12 class="contraoferta">
									{{item.creditor_instruccion}}
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-12>
									<!--<b *ngIf="item.tipo_deuda=='1'" style="font-size: 14px;">**** {{item.identifica_banco}}</b> -->
									<b *ngIf="item.tipo_deuda=='2'" style="font-size: 14px;">{{item.identifica_banco}}</b>
									<br>
									<b style="font-size: 14px; font-weight: normal; color: #a8abaf;">{{item.banco_deuda}}</b>
									<br>
									<b style="font-size: 14px; font-weight: normal; color: #a8abaf;">Número de aplicación
										{{item.application_id}}</b>
									<br>
									<b *ngIf="item.product_type_id==2"
										style="font-size: 14px; font-weight: normal; color: #a8abaf;">Ofreciste un pago a
										plazos</b>
									<b *ngIf="item.product_type_id==1"
										style="font-size: 14px; font-weight: normal; color: #a8abaf;">Ofreciste un saldo
										nuevo</b>
								</ion-col>
							</ion-row>
							<ion-row style="margin-top: 20px;" *ngIf="item.status=='CO' || item.status=='COL'">
								<ion-col col-12 class="contraoferta">
									<b>Tienes una contraoferta</b>
									<br>
									Te hemos hecho una contraoferta para este producto, por favor "Ver detalle" para que revises
									esta contraoferta y tomes una decisión
								</ion-col>
							</ion-row>
							<!--<ion-row style="margin-top: 20px;" *ngIf="(item.status!='CAPOS' && item.product_type_id!=1) && (item.status!='PP' && item.product_type_id!=1)">-->
							<ion-row style="margin-top: 20px;" *ngIf="item.status_text != 'Pendiente de Pago Convenido'">
								<ion-col col-6>
									<b style="font-size: 14px;">Monto deuda</b>
								</ion-col>
								<ion-col col-6 style="text-align: right;">
									<b style="font-size: 14px;">{{item.currency}} {{item.monto_deuda | currency:' ' }}</b>
								</ion-col>
							</ion-row>
							<!--<ion-row style="margin-top: 20px;" *ngIf="(item.status!='CAPOS' && item.product_type_id!=1) && (item.status!='PP' && item.product_type_id!=1)">-->
							<ion-row style="margin-top: 20px;" *ngIf="item.status_text != 'Pendiente de Pago Convenido'">
								<ion-col col-6>
									<b *ngIf="item.product_type_id==2" style="font-size: 14px;">Pago inicial que ofreciste</b>
									<b *ngIf="item.product_type_id==1" style="font-size: 14px;">Saldo que ofreciste</b>
								</ion-col>
								<ion-col col-6 style="text-align: right;">
									<b *ngIf="item.offer_payoff_amount==0" style="font-size: 14px;">{{item.currency}}
										{{item.initial_payment_offer | currency:' ' }}</b>
									<b *ngIf="item.offer_payoff_amount!=0" style="font-size: 14px;">{{item.currency}}
										{{item.offer_payoff_amount
										| currency:' ' }}</b>
								</ion-col>
							</ion-row>
							<!--<ion-row style="margin-top: 20px;" *ngIf="(item.status=='CAPOS' && item.product_type_id==1) || (item.status=='PP' && item.product_type_id==1)">-->
							<ion-row style="margin-top: 20px;" *ngIf="item.status_text == 'Pendiente de Pago Convenido'">
								<ion-col col-6>
									<b style="font-size: 14px;">Monto convenido para saldar</b>
								</ion-col>
								<ion-col col-6 style="text-align: right;">
									<b style="font-size: 14px;">{{item.currency}} {{item.final_agree_debt_amount | currency:' '
										}}</b>
								</ion-col>
							</ion-row>
							<ion-row style="margin-top: 20px;">
								<ion-col col-12>
									<!--<ion-button expand="block" type="button" style="text-transform: none;"
										*ngIf="item.status=='CAPOS' || item.status=='PP'" color="primary"
										(click)="pagarcuentadeposito(item.application_id)">
										Enviar comprobante de pago
									</ion-button>-->
									<ion-button expand="block" type="button" style="text-transform: none;"
										*ngIf="(item.status=='CAPOS' || item.status=='PP') && item.account_number > 0"
										color="primary" (click)="enviarpago(item.application_id, item.account_number)">
										Enviar pago
									</ion-button>
									<ion-button expand="block" type="button" style="text-transform: none;"
										*ngIf="(item.status=='CAPOS' || item.status=='PP') && item.account_number == 0"
										color="primary" (click)="pagarcuentadeposito(item.application_id)">
										Enviar comprobante de pago
									</ion-button>

									<ion-button expand="block" type="button" style="text-transform: none;"
										*ngIf="item.status!='CO' && item.status!='COL'" color="primary"
										(click)="verDetalleCuenta(item.application_id)">
										Ver detalle
									</ion-button>

									<!--<ion-button expand="block" type="button" style="text-transform: none;"
										*ngIf="item.status=='CO' || item.status=='COL'" color="primary"
										(click)="verdetallecontraoferta(item.application_id)">
										Contraoferta
									</ion-button>-->

									<ion-tab-button tab="verdetallecontraoferta/{{item.application_id}}" expand="block"
										type="button" class="btn_contra" style="text-transform: none;"
										*ngIf="item.status=='CO' || item.status=='COL'" color="primary">
										Contraoferta
									</ion-tab-button>
									<!--<ion-button expand="block" type="button" style="text-transform: none;"
										*ngIf="item.contraoferta=='2'" color="primary" (click)="verdetallecontinua(item.id)">
										Ver detalle
									</ion-button>
									<ion-button expand="block" type="button" style="text-transform: none;"
										*ngIf="item.contraoferta=='3'" color="primary"
										(click)="verdetallecontraofertacontinua(item.id)">
										Ver detalle
									</ion-button>-->

									<ion-tab-button tab="verdetalleaceptar/{{item.application_id}}" expand="block" type="button"
										class="btn_contra" style="text-transform: none;" *ngIf="item.status=='LC'"
										color="primary">
										Aceptar
									</ion-tab-button>

									<!--<ion-button expand="block" type="button" style="text-transform: none;"
										*ngIf="item.status=='WSA'" color="primary"
										>
										Firmar
									</ion-button>-->
								</ion-col>
							</ion-row>
						</div>
				</div>
			</ion-list>
		</div>
	</ion-list>
	<ion-list class="accordion-list" lines="none" detail="false" no-padding>
		<ion-item tappable (click)="toggleSection(1)"
			[ngClass]="{'section-active': this.information[1], 'section': !this.information[1]}">
			<ion-icon slot="end" name="chevron-down-outline" *ngIf="!this.information[1]"></ion-icon>
			<ion-icon slot="end" name="chevron-up-outline" *ngIf="this.information[1]"></ion-icon>
			<ion-label style="white-space: normal;">
				Deudas pendientes por solucionar ({{this.cuentadeudassinresolver}})
			</ion-label>
		</ion-item>
		<div *ngIf="this.information[1]">
			<ion-list class="child-list" lines="none">
				<div padding *ngFor="let item of this.datosdeudassinresolver; let i = index" class="mostrar-principal"
					style="padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
					<ion-row>
						<ion-col col-10>
							<ion-item style="--inner-border-width: 0px;">
								<ion-label *ngIf="item.tipo_deuda=='1'"
									style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
									<b>Tarjeta de Crédito</b>
								</ion-label>
								<ion-label *ngIf="item.tipo_deuda=='2'"
									style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
									<b>Préstamo</b>
								</ion-label>
							</ion-item>
						</ion-col>
						<ion-col col-2>
							<ion-icon *ngIf="item.tipo_deuda=='1'" style="margin-top: 20px;" name="card-outline">
							</ion-icon>
							<ion-icon *ngIf="item.tipo_deuda=='2'" style="margin-top: 20px;" name="cash-outline">
							</ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-6>
							<!--<b *ngIf="item.tipo_deuda=='1'" style="font-size: 14px;">**** {{item.identifica_banco}}</b>-->
							<b *ngIf="item.tipo_deuda=='2'" style="font-size: 14px;">{{item.identifica_banco}}</b>
							<br>
							<b style="font-size: 14px; font-weight: normal; color: #a8abaf;">{{item.banco_deuda}}</b>
							<br>
							<b style="font-size: 14px; font-weight: normal; color: #a8abaf;">Número de aplicación
								{{item.application_id}}</b>
							<br>
						</ion-col>
						<ion-col col-6 style="padding-top: 20px;text-align: right;">
						</ion-col>
					</ion-row>
					<ion-row style="margin-top: 20px;">
						<ion-col col-6>
							<b style="font-size: 14px;">Monto deuda</b>
						</ion-col>
						<ion-col col-6 style="text-align: right;">
							<b style="font-size: 14px;">{{item.moneda}} {{item.monto_deuda | currency:' ' }}</b>
						</ion-col>
					</ion-row>
					<ion-row style="margin-top: 20px;">
						<ion-col col-6>
							<ion-button expand="block" type="button" style="text-transform: none;" color="primary"
								(click)="resolverdeuda(1, item.id)">
								Resolver
							</ion-button>
						</ion-col>
						<ion-col col-6 style="text-align: right;">
						</ion-col>
					</ion-row>
				</div>
			</ion-list>
		</div>
	</ion-list>


	<ion-list class="accordion-list" lines="none" detail="false" no-padding>
		<ion-item tappable (click)="toggleSection(2)"
			[ngClass]="{'section-active': this.information[2], 'section': !this.information[2]}">
			<ion-icon slot="end" name="chevron-down-outline" *ngIf="!this.information[2]"></ion-icon>
			<ion-icon slot="end" name="chevron-up-outline" *ngIf="this.information[2]"></ion-icon>
			<ion-label style="white-space: normal;">
				Cuentas
			</ion-label>
		</ion-item>
		<div *ngIf="this.information[2]">
			<ion-list class="child-list" lines="none">
				<div padding *ngFor="let item of this.cuentaspendientes; let i = index" class="mostrar-principal"
					style="padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
					<ion-row>
						<ion-col col-7>
							<ion-label *ngIf="item.tipo_deuda=='1'"
								style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
								<b>Tarjeta de Crédito</b>
								<br>
								<b>{{item.status}}</b>
							</ion-label>
							<ion-label *ngIf="item.tipo_deuda=='2'"
								style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
								<b>Préstamo</b>
								<br>
								<b>{{item.status}}</b>
							</ion-label>
						</ion-col>
						<ion-col col-3>
						</ion-col>
						<ion-col col-1>
							<ion-icon *ngIf="item.tipo_deuda=='1'" style="margin-top: 20px;" name="card-outline">
							</ion-icon>
							<ion-icon *ngIf="item.tipo_deuda=='2'" style="margin-top: 20px;" name="cash-outline">
							</ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-12>
							<b *ngIf="item.tipo_deuda=='2'" style="font-size: 14px;">{{item.identifica_banco}}</b>
							<br>
							<b style="font-size: 14px; font-weight: normal; color: #a8abaf;">{{item.banco_deuda}}</b>
							<br>
							<b style="font-size: 14px; font-weight: normal; color: #a8abaf;">Número de aplicación {{item.application_id}}</b>
							<br>
							<b style="font-size: 14px; font-weight: normal; color: #a8abaf;">Número de cuenta {{item.contract_id}}</b>
						</ion-col>
					</ion-row>
					<ion-row style="margin-top: 10px;">
						<ion-col col-6>
							<b style="font-size: 14px;">Monto deuda</b>
						</ion-col>
						<ion-col col-6 style="text-align: right;">
							<b style="font-size: 14px;">{{item.moneda}} {{item.monto_deuda | currency:' ' }}</b>
						</ion-col>
					</ion-row>
					<ion-row style="margin-top: 10px;">
						<ion-col col-6>
							<b *ngIf="item.n_cuotas!='0'" style="font-size: 14px;">Pago inicial que ofreciste</b>
							<b *ngIf="item.n_cuotas=='0'" style="font-size: 14px;">Saldo que ofreciste</b>
						</ion-col>
						<ion-col col-6 style="text-align: right;">
							<b style="font-size: 14px;">{{item.currency}}
								{{item.installment_payment
								| currency:' ' }}</b>
						</ion-col>
					</ion-row>
					<ion-row style="margin-top: 20px;">
						<ion-col col-6>
						</ion-col>
						<ion-col col-6 style="text-align: right;">
							<ion-button expand="block" type="button" style="text-transform: none;" color="primary"
								(click)="vercuenta(item.contract_id)">
								Ver detalle
							</ion-button>
						</ion-col>
					</ion-row>
				</div>
			</ion-list>
		</div>
	</ion-list>

	<ion-list class="accordion-list" lines="none" detail="false" no-padding>
		<ion-item tappable (click)="toggleSection(3)"
			[ngClass]="{'section-active': this.information[3], 'section': !this.information[3]}">
			<ion-icon slot="end" name="chevron-down-outline" *ngIf="!this.information[3]"></ion-icon>
			<ion-icon slot="end" name="chevron-up-outline" *ngIf="this.information[3]"></ion-icon>
			<ion-label style="white-space: normal;">
				Solicitudes Completadas
			</ion-label>
		</ion-item>
		<div *ngIf="this.information[3]">
			<ion-list class="child-list" lines="none">
				<div *ngFor="let item of this.solicitudespendientes; let i = index" >
					<div *ngIf="item.status=='C'"  padding class="mostrar-principal" style="padding-top: 0px; border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
						<ion-row>
							<ion-col col-10>
								<ion-label *ngIf="item.tipo_deuda=='1'"
									style=" margin-bottom: 0px; margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
									<b>Tarjeta de Crédito</b>
									<br>
									<b>{{item.status_text}}</b>
								</ion-label>
								<ion-label *ngIf="item.tipo_deuda=='2'"
									style="margin-bottom: 0px; margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
									<b>Préstamo</b>
									<br>
									<b>{{item.status_text}}</b>
								</ion-label>
								<ion-label *ngIf="item.tipo_deuda!='2' && item.tipo_deuda!='1'"
									style="margin-bottom: 0px; margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
									<b> </b>
									<br>
									<b>{{item.status_text}}</b>
								</ion-label>
							</ion-col>
							<ion-col col-1>
								<ion-icon *ngIf="item.tipo_deuda=='1'" style="margin-top: 20px;" name="card-outline">
								</ion-icon>
								<ion-icon *ngIf="item.tipo_deuda=='2'" style="margin-top: 20px;" name="cash-outline">
								</ion-icon>
								<ion-icon *ngIf="item.tipo_deuda!='2' && item.tipo_deuda!='1'" style="margin-top: 20px;"
									name="cash-outline">
								</ion-icon>
							</ion-col>
						</ion-row>
						<ion-row *ngIf="item.creditor_instruccion">
							<ion-col col-12 class="contraoferta">
								{{item.creditor_instruccion}}
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col col-12>
								<!--<b *ngIf="item.tipo_deuda=='1'" style="font-size: 14px;">**** {{item.identifica_banco}}</b> -->
								<b *ngIf="item.tipo_deuda=='2'" style="font-size: 14px;">{{item.identifica_banco}}</b>
								<br>
								<b style="font-size: 14px; font-weight: normal; color: #a8abaf;">{{item.banco_deuda}}</b>
								<br>
								<b style="font-size: 14px; font-weight: normal; color: #a8abaf;">Número de aplicación
									{{item.application_id}}</b>
								<br>
								<b *ngIf="item.product_type_id==2"
									style="font-size: 14px; font-weight: normal; color: #a8abaf;">Ofreciste un pago a
									plazos</b>
								<b *ngIf="item.product_type_id==1"
									style="font-size: 14px; font-weight: normal; color: #a8abaf;">Ofreciste un saldo
									nuevo</b>
							</ion-col>
						</ion-row>
						<ion-row style="margin-top: 20px;" *ngIf="item.status=='CO' || item.status=='COL'">
							<ion-col col-12 class="contraoferta">
								<b>Tienes una contraoferta</b>
								<br>
								Te hemos hecho una contraoferta para este producto, por favor "Ver detalle" para que revises
								esta contraoferta y tomes una decisión
							</ion-col>
						</ion-row>
						<!--<ion-row style="margin-top: 20px;" *ngIf="(item.status!='CAPOS' && item.product_type_id!=1) && (item.status!='PP' && item.product_type_id!=1)">-->
						<ion-row style="margin-top: 20px;" *ngIf="item.status_text != 'Pendiente de Pago Convenido'">
							<ion-col col-6>
								<b style="font-size: 14px;">Monto deuda</b>
							</ion-col>
							<ion-col col-6 style="text-align: right;">
								<b style="font-size: 14px;">{{item.currency}} {{item.monto_deuda | currency:' ' }}</b>
							</ion-col>
						</ion-row>
						<!--<ion-row style="margin-top: 20px;" *ngIf="(item.status!='CAPOS' && item.product_type_id!=1) && (item.status!='PP' && item.product_type_id!=1)">-->
						<ion-row style="margin-top: 20px;" *ngIf="item.status_text != 'Pendiente de Pago Convenido'">
							<ion-col col-6>
								<b *ngIf="item.product_type_id==2" style="font-size: 14px;">Pago inicial que ofreciste</b>
								<b *ngIf="item.product_type_id==1" style="font-size: 14px;">Saldo que ofreciste</b>
							</ion-col>
							<ion-col col-6 style="text-align: right;">
								<b *ngIf="item.offer_payoff_amount==0" style="font-size: 14px;">{{item.currency}}
									{{item.initial_payment_offer | currency:' ' }}</b>
								<b *ngIf="item.offer_payoff_amount!=0" style="font-size: 14px;">{{item.currency}}
									{{item.offer_payoff_amount
									| currency:' ' }}</b>
							</ion-col>
						</ion-row>
						<!--<ion-row style="margin-top: 20px;" *ngIf="(item.status=='CAPOS' && item.product_type_id==1) || (item.status=='PP' && item.product_type_id==1)">-->
						<ion-row style="margin-top: 20px;" *ngIf="item.status_text == 'Pendiente de Pago Convenido'">
							<ion-col col-6>
								<b style="font-size: 14px;">Monto convenido para saldar</b>
							</ion-col>
							<ion-col col-6 style="text-align: right;">
								<b style="font-size: 14px;">{{item.currency}} {{item.final_agree_debt_amount | currency:' '
									}}</b>
							</ion-col>
						</ion-row>
						<ion-row style="margin-top: 20px;">
							<ion-col col-12>
								<!--<ion-button expand="block" type="button" style="text-transform: none;"
									*ngIf="item.status=='CAPOS' || item.status=='PP'" color="primary"
									(click)="pagarcuentadeposito(item.application_id)">
									Enviar comprobante de pago
								</ion-button>-->
								<ion-button expand="block" type="button" style="text-transform: none;"
									*ngIf="(item.status=='CAPOS' || item.status=='PP') && item.account_number > 0"
									color="primary" (click)="enviarpago(item.application_id, item.account_number)">
									Enviar pago
								</ion-button>
								<ion-button expand="block" type="button" style="text-transform: none;"
									*ngIf="(item.status=='CAPOS' || item.status=='PP') && item.account_number == 0"
									color="primary" (click)="pagarcuentadeposito(item.application_id)">
									Enviar comprobante de pago
								</ion-button>

								<ion-button expand="block" type="button" style="text-transform: none;"
									*ngIf="item.status!='CO' && item.status!='COL'" color="primary"
									(click)="verDetalleCuenta(item.application_id)">
									Ver detalle
								</ion-button>

								<!--<ion-button expand="block" type="button" style="text-transform: none;"
									*ngIf="item.status=='CO' || item.status=='COL'" color="primary"
									(click)="verdetallecontraoferta(item.application_id)">
									Contraoferta
								</ion-button>-->

								<ion-tab-button tab="verdetallecontraoferta/{{item.application_id}}" expand="block"
									type="button" class="btn_contra" style="text-transform: none;"
									*ngIf="item.status=='CO' || item.status=='COL'" color="primary">
									Contraoferta
								</ion-tab-button>
								<!--<ion-button expand="block" type="button" style="text-transform: none;"
									*ngIf="item.contraoferta=='2'" color="primary" (click)="verdetallecontinua(item.id)">
									Ver detalle
								</ion-button>
								<ion-button expand="block" type="button" style="text-transform: none;"
									*ngIf="item.contraoferta=='3'" color="primary"
									(click)="verdetallecontraofertacontinua(item.id)">
									Ver detalle
								</ion-button>-->

								<ion-tab-button tab="verdetalleaceptar/{{item.application_id}}" expand="block" type="button"
									class="btn_contra" style="text-transform: none;" *ngIf="item.status=='LC'"
									color="primary">
									Aceptar
								</ion-tab-button>

								<!--<ion-button expand="block" type="button" style="text-transform: none;"
									*ngIf="item.status=='WSA'" color="primary"
									>
									Firmar
								</ion-button>-->
							</ion-col>
						</ion-row>
					</div>
				</div>
			</ion-list>
		</div>
	</ion-list>
</ion-content>