<ion-header>
	<ion-toolbar color="light">
		<ion-buttons style="position: absolute; margin-top: 10px;">
                <ion-icon (click)="ayuda()" style="font-size: 20px; margin-left: 26px; margin-right: -26px;color: var(--ion-color-primary) ;" name="help-circle-outline"></ion-icon>
                <span style="font-size: 14px; margin-left: 31px; color: var(--ion-color-primary) ;" >Ayuda</span>
         </ion-buttons>
		<ion-title text-center>
			<img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content ppullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
		</ion-refresher-content>
	</ion-refresher>

	<div>
		<img src="assets/principal/tarjeta.png" style="width:100%">
	</div>
<br>
<span style="color: var(--ion-color-primary);font-size: 20px; margin-left: 12px;">Proceso en curso</span>
<br>
<ion-slides *ngIf="this.solicitudespendientes.length>=1" speed="4000" avoid-super-tabs="true" #mySlider [options]="slideOpts2" loop="false" pager="false" paginationType="arrows" style="height: 300px;">
	<ion-slide  *ngFor="let item of this.solicitudespendientes; let i = index" style="text-align: left;">
		<div *ngIf="item.status!='C'"  padding class="mostrar-principal2" style="padding-top: 0px; border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
			<ion-row>
				<ion-col col-12>
		              <span style="color: var(--ion-color-primary);font-size: 14px;">{{item.banco_deuda}}</span>
		              <br>
		              <span style="color: var(--ion-color-primary); font-size: 13px;" *ngIf="item.tipo_deuda=='1'">Tarjeta de Crédito</span>
		              <span style="color: var(--ion-color-primary);font-size: 13px;" *ngIf="item.tipo_deuda=='2'">Préstamo</span>
		              <br>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="item.creditor_instruccion">
				<ion-col col-12 class="contraoferta">
					{{item.creditor_instruccion}}
				</ion-col>
			</ion-row>
			<ion-row style="margin-top: 0px;" *ngIf="item.status=='CO' || item.status=='COL'">
				<ion-col col-12 class="contraoferta">
					<b>Tienes una contraoferta</b>
					<br>
					Te hemos hecho una contraoferta para este producto, por favor "Ver detalle" para que revises
					esta contraoferta y tomes una decisión
				</ion-col>
			</ion-row>
			<ion-row style="margin-top: 0px;" *ngIf="item.status_text != 'Pendiente de Pago Convenido'">
				<ion-col col-6>
					<span style="color: var(--ion-color-primary); font-size: 14px;">Monto deuda</span>
				</ion-col>
				<ion-col col-6 style="text-align: right;">
					<span style="color: var(--ion-color-primary); font-size: 14px;">{{item.currency}} {{item.monto_deuda | currency:' ' }}</span>
				</ion-col>
			</ion-row>
			<ion-row style="margin-top: 0px;" *ngIf="item.status_text != 'Pendiente de Pago Convenido'">
				<ion-col col-6>
					<span *ngIf="item.product_type_id==2" style="color: var(--ion-color-primary); font-size: 14px;">Pago inicial que ofreciste</span>
					<span *ngIf="item.product_type_id==1" style="color: var(--ion-color-primary); font-size: 14px;">Saldo que ofreciste</span>
				</ion-col>
				<ion-col col-6 style="text-align: right;">
					<span *ngIf="item.offer_payoff_amount==0" style="color: var(--ion-color-primary); font-size: 14px;">{{item.currency}} {{item.initial_payment_offer | currency:' ' }}</span>
					<span *ngIf="item.offer_payoff_amount!=0" style="color: var(--ion-color-primary); font-size: 14px;">{{item.currency}} {{item.offer_payoff_amount | currency:' ' }}</span>
				</ion-col>
			</ion-row>
			<ion-row style="margin-top: 0px;" *ngIf="item.status_text == 'Pendiente de Pago Convenido'">
				<ion-col col-6>
					<span style="color: var(--ion-color-primary); font-size: 14px;">Monto convenido para saldar</span>
				</ion-col>
				<ion-col col-6 style="text-align: right;">
					<span style="color: var(--ion-color-primary); font-size: 14px;">{{item.currency}} {{item.final_agree_debt_amount | currency:' '}}</span>
				</ion-col>
			</ion-row>
			<ion-row style="margin-top: 0px;">
				<ion-col col-12>
					<ion-button expand="block" type="button" style="text-transform: none;" *ngIf="(item.status=='CAPOS' || item.status=='PP') && item.account_number > 0" color="primary" (click)="enviarpago(item.application_id, item.account_number)">
						Enviar pago
					</ion-button>
					<ion-button expand="block" type="button" style="text-transform: none;" *ngIf="(item.status=='CAPOS' || item.status=='PP') && item.account_number == 0" color="primary" (click)="pagarcuentadeposito(item.application_id)">
						Enviar comprobante de pago
					</ion-button>
					<ion-button expand="block" type="button" style="text-transform: none;" *ngIf="item.status!='CO' && item.status!='COL' && item.status!='LC' && item.status!='CAPOS' && item.status!='PP'" color="primary" (click)="verDetalleCuenta(item.application_id)">
						Ver detalle
					</ion-button>
					<ion-tab-button tab="verdetallecontraoferta/{{item.application_id}}" expand="block" type="button" class="btn_contra" style="text-transform: none;" *ngIf="item.status=='CO' || item.status=='COL'" color="primary">
						Contraoferta
					</ion-tab-button>
					<ion-tab-button tab="verdetalleaceptar/{{item.application_id}}" expand="block" type="button" class="btn_contra" style="text-transform: none;" *ngIf="item.status=='LC'" color="primary">
						Aceptar
					</ion-tab-button>
				</ion-col>
			</ion-row>
		</div>
	</ion-slide >
</ion-slides>



	<div padding class="mostrar-principal" style="padding-top: 0px; border-radius: 0px;">
		<ion-row style="padding-top: 10px;" (click)="irdatos('1')">
			<ion-col col-11>
				<span style="color: var(--ion-color-primary); font-size: 14px;">Mis deudas</span>
				<br>
				<span style="color: #82868b; font-size: 13px;">{{ this.ccuentaspendientes }} deudas localizadas</span>
			</ion-col>
			<ion-col col-1 style="padding-top: 15px;">
			</ion-col>
		</ion-row>
	</div>
	<div padding class="mostrar-principal" style="padding-top: 0px; border-radius: 0px;">
		<ion-row style="padding-top: 10px;" (click)="irdatos('2')">
			<ion-col col-11>
				<span style="color: var(--ion-color-primary); font-size: 14px;">Deudas por solucionar <span style="color: #fff; background: #000c3b; border-radius: 100%; margin-left: 5px; padding-left: 4px; padding-right: 4px;">{{this.cuentadeudassinresolver}}</span></span> 
			</ion-col>
			<ion-col col-1 style="padding-top: 15px;">
				<ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
				</ion-icon>
			</ion-col>
		</ion-row>
	</div>
	<div padding class="mostrar-principal" style="padding-top: 0px; border-radius: 0px;">
		<ion-row style="padding-top: 10px;" (click)="irdatos('3')">
			<ion-col col-11>
				<span style="color: var(--ion-color-primary);font-size: 14px;">Deudas solucionadas</span>
			</ion-col>
			<ion-col col-1 style="padding-top: 15px;">
				<ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
				</ion-icon>
			</ion-col>
		</ion-row>
	</div>
	<div padding class="mostrar-principal" style="padding-top: 0px; border-radius: 0px;">
		<ion-row style="padding-top: 10px;" (click)="irdatos('4')">
			<ion-col col-11>
				<span style="color: var(--ion-color-primary);font-size: 14px;">Deudas en proceso de solución</span>
			</ion-col>
			<ion-col col-1 style="padding-top: 15px;">
				<ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
				</ion-icon>
			</ion-col>
		</ion-row>
	</div>
</ion-content>