<ion-header>
      <ion-toolbar color="light">
        <ion-title text-center>
         	 <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png" >	PAGADORES
      	</ion-title>
      </ion-toolbar>
</ion-header>
<ion-content>
	<ion-row style="margin-right: 5px; margin-left: 5px;">
			<ion-col col-6>
				<ion-row style="">
			          <ion-col col-12 class="montos">
			          	<ion-icon name="card-outline"></ion-icon> 
			          	<br>
			          	Deuda actual
			          	<br>
			          	<b>{{this.totaldeudaactual  | currency:'RD$ ' }}</b>
			          </ion-col>
				</ion-row>   
			</ion-col>
			<ion-col col-6>
				<ion-row style="">
			          <ion-col col-12 class="montos">
			          	<ion-icon name="cash-outline"></ion-icon> 
			          	<br>
			          	Cuota mensual
			          	<br>
			          	<b>{{this.totaldeudamensual  | currency:'RD$ ' }}</b>
			          </ion-col>
			      </ion-row>
			</ion-col>
      </ion-row>

	<br>
	<ion-list class="accordion-list" lines="none" detail="false" no-padding>
		    <ion-item tappable (click)="toggleSection(0)" [ngClass]="{'section-active': this.information[0], 'section': !this.information[0]}">
			    	<ion-icon slot="end" name="chevron-down-outline" *ngIf="!this.information[0]"></ion-icon>
			      	<ion-icon slot="end" name="chevron-up-outline"   *ngIf="this.information[0]"></ion-icon>
			      	<ion-label style="white-space: normal;">
			        	Solicitudes pendientes
			    	</ion-label>
		    </ion-item>
		    <div *ngIf="this.information[0]">
			    <ion-list class="child-list" lines="none">
						    		<div padding *ngFor="let item of this.solicitudespendientes; let i = index" class="mostrar-principal" style="padding-top: 0px; border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
								              <ion-row>
								                  <ion-col col-10>
								                      <ion-item style="--inner-border-width: 0px;">
								                      <ion-label *ngIf="item.tipo_deuda=='1'" style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;"> <b>Tarjeta de Crédito</b></ion-label>
								                      <ion-label *ngIf="item.tipo_deuda=='2'" style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;"> <b>Préstamo</b></ion-label>
								                    </ion-item>
								                  </ion-col>
								                  <ion-col col-2>
								                      <ion-icon *ngIf="item.tipo_deuda=='1'" style="margin-top: 20px;" name="card-outline"></ion-icon> 
								                      <ion-icon *ngIf="item.tipo_deuda=='2'" style="margin-top: 20px;" name="cash-outline"></ion-icon>
								                  </ion-col>
								              </ion-row>
								              <ion-row>
								                  <ion-col col-12>
								                    <b *ngIf="item.tipo_deuda=='1'" style="font-size: 14px;">**** {{item.identifica_banco}}</b>
								                    <b *ngIf="item.tipo_deuda=='2'" style="font-size: 14px;">{{item.identifica_banco}}</b>
								                    <br>
								                    <b style="font-size: 14px; font-weight: normal; color: #a8abaf;">{{item.banco_deuda}}</b>
								                    <br>
								                    <b *ngIf="item.n_cuotas!='0'" style="font-size: 14px; font-weight: normal; color: #a8abaf;">Ofreciste un pago a plazos</b>
								                    <b *ngIf="item.n_cuotas=='0'" style="font-size: 14px; font-weight: normal; color: #a8abaf;">Ofreciste un saldo nuevo</b>
								                  </ion-col>
								              </ion-row>
								              <ion-row style="margin-top: 20px;" *ngIf="item.contraoferta=='1'">
								              			 <ion-col col-12 class="contraoferta">
								              			 	<b>Tienes una contraoferta</b>
								              			 	<br>
								              			 	Te hemos hecho una contraoferta para este producto, por favor "Ver detalle" para que revises esta contraoferta y tomes una decisión
								              			 </ion-col>

								               	</ion-row>
								              <ion-row style="margin-top: 20px;">
								                  <ion-col col-6>
								                    <b *ngIf="item.n_cuotas!='0'"  style="font-size: 14px;">Cuota que ofreciste</b>
								                    <b *ngIf="item.n_cuotas=='0'"  style="font-size: 14px;">Saldo que ofreciste</b>
								                  </ion-col>
								                  <ion-col col-6 style="text-align: right;">
								                      <b style="font-size: 14px;">RD{{item.monto_deuda  | currency:'$ ' }}</b> 
								                  </ion-col>
								              </ion-row>
								              <ion-row style="margin-top: 20px;">
								                  <ion-col col-6>
								                  	<ion-button expand="block" type="button" style="text-transform: none;" *ngIf="item.contraoferta=='1'" color="primary" (click)="verdetallecontraoferta(item.id)">
											        	Ver detalle
											      	</ion-button>
											      	<ion-button expand="block" type="button" style="text-transform: none;" *ngIf="item.contraoferta=='2'" color="primary" (click)="verdetallecontinua(item.id)">
											        	Ver detalle
											      	</ion-button>
											      	<ion-button expand="block" type="button" style="text-transform: none;" *ngIf="item.contraoferta=='3'" color="primary" (click)="verdetallecontraofertacontinua(item.id)">
											        	Ver detalle
											      	</ion-button>
								                  </ion-col>
								                  <ion-col col-6 style="text-align: right;">
								                  </ion-col>
								              </ion-row>
								    </div>
			    </ion-list>
			</div>
  	</ion-list>
  	<ion-list class="accordion-list" lines="none" detail="false" no-padding>
		    <ion-item tappable (click)="toggleSection(1)" [ngClass]="{'section-active': this.information[1], 'section': !this.information[1]}">
			      	<ion-icon slot="end" name="chevron-down-outline" *ngIf="!this.information[1]"></ion-icon>
			      	<ion-icon slot="end" name="chevron-up-outline"   *ngIf="this.information[1]"></ion-icon>
			      	<ion-label style="white-space: normal;">
			        	Deudas pendientes por solucionar ({{this.cuentadeudassinresolver}})
			    	</ion-label>
		    </ion-item>
		    <div *ngIf="this.information[1]">
			    <ion-list class="child-list" lines="none">
						    		<div padding *ngFor="let item of this.datosdeudassinresolver; let i = index" class="mostrar-principal" style="padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
								              <ion-row>
								                  <ion-col col-10>
								                      <ion-item style="--inner-border-width: 0px;">
								                      <ion-label *ngIf="item.tipo_deuda=='1'" style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;"> <b>Tarjeta de Crédito</b></ion-label>
								                      <ion-label *ngIf="item.tipo_deuda=='2'" style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;"> <b>Préstamo</b></ion-label>
								                    </ion-item>
								                  </ion-col>
								                  <ion-col col-2>
								                      <ion-icon *ngIf="item.tipo_deuda=='1'" style="margin-top: 20px;" name="card-outline"></ion-icon> 
								                      <ion-icon *ngIf="item.tipo_deuda=='2'" style="margin-top: 20px;" name="cash-outline"></ion-icon>
								                  </ion-col>
								              </ion-row>
								              <ion-row>
								                  <ion-col col-6>
								                    <b *ngIf="item.tipo_deuda=='1'" style="font-size: 14px;">**** {{item.identifica_banco}}</b>
								                    <b *ngIf="item.tipo_deuda=='2'" style="font-size: 14px;">{{item.identifica_banco}}</b>
								                    <br>
								                    <b style="font-size: 14px; font-weight: normal; color: #a8abaf;">{{item.banco_deuda}}</b>

								                  </ion-col>
								                  <ion-col col-6 style="padding-top: 20px;text-align: right;">
								                  </ion-col>
								              </ion-row>
								              <ion-row style="margin-top: 20px;">
								                  <ion-col col-6>
								                    <b style="font-size: 14px;">Monto deuda</b>
								                  </ion-col>
								                  <ion-col col-6 style="text-align: right;">
								                      <b style="font-size: 14px;">RD{{item.monto_deuda  | currency:'$ ' }}</b> 
								                  </ion-col>
								              </ion-row>
								               <ion-row style="margin-top: 20px;">
								                  <ion-col col-6>
								                  	<ion-button expand="block" type="button" style="text-transform: none;" color="primary" (click)="resolverdeuda(1, item.id)">
											        	Resolver
											      	</ion-button>
								                  </ion-col>
								                  <ion-col col-6 style="text-align: right;">
								                  </ion-col>
								              </ion-row>
								    </div>
			    </ion-list>
			</div>
  	</ion-list>
</ion-content>
















