<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Terminos y Condiciones</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="myview">
<ion-grid>
        <div padding  text-center>
          <div class="texto-center" scrollY="false" [innerHTML]="this.texto"></div>
        </div>
</ion-grid>
</ion-content>



