<ion-header>
  <ion-toolbar>
          <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="this.navController.back()" style="font-size: 20px; margin-left: 26px; margin-right: -26px; color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
          </ion-buttons>
          <ion-title text-center  style="font-size: 18px !important;  text-align: center;  padding-left: 0px; padding-right: 0px; color: var(--ion-color-primary) ;">Nueva contraseña</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="myview" color="" >
  <form [formGroup]="myForm" (ngSubmit)="enviarformulario()" #EnForm="ngForm"> 
      <div padding style="margin-top: 10px;padding-bottom:0px">
                    <ion-label style="font-size:16px;font-weight: bold; text-transform: uppercase;">Ingresa tu nueva <br>contraseña</ion-label>
          </div>
           <div padding style="padding-top: 0px;">
                    <!--<ion-label style="font-size: 13px; color: #767a7d; white-space: normal;">Ahora ingresa tu nueva contraseña</ion-label>-->
          </div>
      <div padding style="margin-top: 0px;">
                    <ion-label>Contraseña</ion-label>
                    <ion-item>
                        <ion-input placeholder="Escribe tu contraseña" formControlName="clave1" type="password"></ion-input>
                    </ion-item>
      </div>
      <div padding style="padding-top: 0px;">
                    <ion-label>Repete tu contraseña</ion-label>
                    <ion-item>
                        <ion-input placeholder="Escribe tu contraseña nuevamente" formControlName="clave2" type="password"></ion-input>
                    </ion-item>
      </div>
    </form> 
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="" >
    <div padding>
      <ion-button expand="block" type="submit"  [disabled]="!myForm.valid" style="text-transform: none;--box-shadow: #000c3b;" color="primary" (click)="EnForm.ngSubmit.emit()">Confirmar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>