<ion-header>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col col-2 style="padding-top: 10px;">
        <ion-buttons>
          <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
      </ion-col>
      <ion-col col-10>
        <ion-title style="font-size: 18px !important;" text-center>Agregar comprobante de pago</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="myview" color="">
  <form [formGroup]="myForm" (ngSubmit)="enviarformulario()"
    style="position: absolute; z-index: 4; background-color: #f4f4f4; width: 100%; height: 300px;" #EnForm="ngForm">
    <ion-row>
      <ion-col col-12>
        <ion-list lines="full" class="ion-no-margin" style="background: none;">
          <ion-item style="margin-top: 30px; margin-bottom: 30px;     --background: none;">
            <!--<ion-avatar class="ion-margin-start"
              style="margin-left: 0px; height: 82px; width: 82px; border: 1px solid var(--ion-color-primary);"
              (click)="cambiarimagen()">
            </ion-avatar>-->
            <ion-col col-6 style="margin: 0px; padding: 0px; padding-right: 1px;">
              <ion-button expand="block" type="button" (click)="cambiarimagengaleria()" color="primary">
                Adjuntar
                <ion-icon name="attach-outline" style="margin-left: 5px;"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col col-6 style="margin: 0px; padding: 0px; padding-left: 1px;">
              <!--
                  <ion-button expand="block" type="button" (click)="cambiarimagencamara()" color="primary">
                    Cámara
                    <ion-icon name="camera-outline" style="margin-left: 5px;"></ion-icon>
                  </ion-button>
              -->
            </ion-col>            
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-card>
          <ion-card-header>Imagen</ion-card-header>
          <ion-card-content>
            <!--<img [src]="currentImagen" *ngIf="currentImagen" />-->
            <ion-img [src]="currentImagen" *ngIf="currentImagen"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!--

      <ion-col col-12>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">Número de la transacción</ion-label>
            <ion-input formControlName="numeroTransaccion" [(ngModel)]="numeroTransaccion"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
            
      <ion-col col-12>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">Selecciona tu banco</ion-label>
            <ionic-selectable formControlName="banco" placeholder="Selecciona entidad bancaria" [items]="ports"
              itemValueField="id" itemTextField="name" [canSearch]="true" closeButtonText="Cancelar"
              searchPlaceholder="Buscar" (onChange)="portChange($event)">
            </ionic-selectable>
          </ion-item>
        </ion-list>
      </ion-col>
      -->
      
      

    </ion-row>

    <div padding style="padding-top: 0px;">
      <div padding class="mostrar-principal">
        <ion-row style="border-bottom: 0px solid #dee2e6;">
          <ion-col col-2>
            <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
          </ion-col>
          <ion-col col-10>
            <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px;"
              class="label-monstrar-radio">Monto del pago</ion-label>
          </ion-col>
          <ion-col col-12>
            <ion-item style="--background: none !important; text-align: center;">
              <ion-input formControlName="montoDepositado"  (input)="getText($event)" (ionBlur)="vaciar2()" (ionFocus)="vaciar()"  type="tel" [(ngModel)]="montoDepositado"></ion-input>
            </ion-item>
        </ion-col>
        </ion-row>
      </div>
    </div>
    <!--
    <div padding style="white-space: normal; font-size: 14px;">
      Al dar click en el botón Pagar acepta todas las <a style="font-size: 14px !important;" (click)="informacion('2')"
        href="javascript:" class="">Políticas</a> y <a style="font-size: 14px !important;" (click)="informacion('2')"
        href="javascript:" class="">Términos</a> provisto en el contrato de uso.
    </div>
  -->
  </form>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;" *ngIf="this.activa=='2'" [disabled]="!myForm.valid"
        (click)="continuar()" type="button" color="primary">Envíar comprobante de pago</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>