* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 11px;
  position: fixed;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  background-color: transparent;
  color: #b1d9f8;
  font-size: 11px;
}
a:hover {
    color: #d4cb39;
    text-decoration: underline;
}

.enable-hover a:hover {
  opacity: .7;
}

[no-padding] {
  padding-bottom: 0px!important;
  padding-top: 0px!important;
  padding-left: 0px!important;
  padding-right: 0px!important;
  /*padding-top: 25px !important;*/
}

.grid[no-padding] {
  padding-bottom: 0px!important;
  padding-top: 0px!important;
  padding-left: 0px!important;
  padding-right: 0px!important;
  /*padding-top: 25px !important;*/
}

.wrapper {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin-left: -20px;
}

.collapsed {
  height: 0 !important;
}

.wrapper {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin-left: -20px;
}

.collapsed {
  height: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

ion-list {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
}

[ion-slide] { 
    width: 100% !important;

}

ion-list[inset] {
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.item-highlight{
    background: none;
}

.item-native{
  color: #b1d9f8
}

[padding] {
}

[padding] h1:first-child,
[padding] h2:first-child,
[padding] h3:first-child,
[padding] h4:first-child,
[padding] h5:first-child,
[padding] h6:first-child {
  margin-top: -0.3rem;
}

h1 + h2,
h1 + h3,
h2 + h3 {
  margin-top: -0.3rem;
}

h1 {
  margin-top: 2rem;
  font-size: 2.6rem;
}

h2 {
  margin-top: 1.8rem;
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

small {
  font-size: 75%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}


[text-center] {
  text-align: center !important;
}

[text-justify] {
  text-align: justify !important;
}

[text-start] {
  text-align: left;
  text-align: start !important;
}

[text-end] {
  text-align: right;
  text-align: end !important;
}

[text-left] {
  text-align: left !important;
}

[text-right] {
  text-align: right !important;
}

[text-nowrap] {
  white-space: nowrap !important;
}

[text-wrap] {
  white-space: normal !important;
}

@media (min-width: 576px) {
  [text-sm-center] {
    text-align: center !important;
  }
  [text-sm-justify] {
    text-align: justify !important;
  }
  [text-sm-start] {
    text-align: left;
    text-align: start !important;
  }
  [text-sm-end] {
    text-align: right;
    text-align: end !important;
  }
  [text-sm-left] {
    text-align: left !important;
  }
  [text-sm-right] {
    text-align: right !important;
  }
  [text-sm-nowrap] {
    white-space: nowrap !important;
  }
  [text-sm-wrap] {
    white-space: normal !important;
  }
}

@media (min-width: 768px) {
  [text-md-center] {
    text-align: center !important;
  }
  [text-md-justify] {
    text-align: justify !important;
  }
  [text-md-start] {
    text-align: left;
    text-align: start !important;
  }
  [text-md-end] {
    text-align: right;
    text-align: end !important;
  }
  [text-md-left] {
    text-align: left !important;
  }
  [text-md-right] {
    text-align: right !important;
  }
  [text-md-nowrap] {
    white-space: nowrap !important;
  }
  [text-md-wrap] {
    white-space: normal !important;
  }
}

@media (min-width: 992px) {
  [text-lg-center] {
    text-align: center !important;
  }
  [text-lg-justify] {
    text-align: justify !important;
  }
  [text-lg-start] {
    text-align: left;
    text-align: start !important;
  }
  [text-lg-end] {
    text-align: right;
    text-align: end !important;
  }
  [text-lg-left] {
    text-align: left !important;
  }
  [text-lg-right] {
    text-align: right !important;
  }
  [text-lg-nowrap] {
    white-space: nowrap !important;
  }
  [text-lg-wrap] {
    white-space: normal !important;
  }
}

@media (min-width: 1200px) {
  [text-xl-center] {
    text-align: center !important;
  }
  [text-xl-justify] {
    text-align: justify !important;
  }
  [text-xl-start] {
    text-align: left;
    text-align: start !important;
  }
  [text-xl-end] {
    text-align: right;
    text-align: end !important;
  }
  [text-xl-left] {
    text-align: left !important;
  }
  [text-xl-right] {
    text-align: right !important;
  }
  [text-xl-nowrap] {
    white-space: nowrap !important;
  }
  [text-xl-wrap] {
    white-space: normal !important;
  }
}

[text-uppercase] {
  text-transform: uppercase !important;
}

[text-lowercase] {
  text-transform: lowercase !important;
}

[text-capitalize] {
  text-transform: capitalize !important;
}

@media (min-width: 576px) {
  [text-sm-uppercase] {
    text-transform: uppercase !important;
  }
  [text-sm-lowercase] {
    text-transform: lowercase !important;
  }
  [text-sm-capitalize] {
    text-transform: capitalize !important;
  }
}

@media (min-width: 768px) {
  [text-md-uppercase] {
    text-transform: uppercase !important;
  }
  [text-md-lowercase] {
    text-transform: lowercase !important;
  }
  [text-md-capitalize] {
    text-transform: capitalize !important;
  }
}

@media (min-width: 992px) {
  [text-lg-uppercase] {
    text-transform: uppercase !important;
  }
  [text-lg-lowercase] {
    text-transform: lowercase !important;
  }
  [text-lg-capitalize] {
    text-transform: capitalize !important;
  }
}

@media (min-width: 1200px) {
  [text-xl-uppercase] {
    text-transform: uppercase !important;
  }
  [text-xl-lowercase] {
    text-transform: lowercase !important;
  }
  [text-xl-capitalize] {
    text-transform: capitalize !important;
  }
}

[float-left] {
  float: left !important;
}

[float-right] {
  float: right !important;
}

[float-start] {
  float: left !important;
}

[float-end] {
  float: right !important;
}

@media (min-width: 576px) {
  [float-sm-left] {
    float: left !important;
  }
  [float-sm-right] {
    float: right !important;
  }
  [float-sm-start] {
    float: left !important;
  }
  [float-sm-end] {
    float: right !important;
  }
}

@media (min-width: 768px) {
  [float-md-left] {
    float: left !important;
  }
  [float-md-right] {
    float: right !important;
  }
  [float-md-start] {
    float: left !important;
  }
  [float-md-end] {
    float: right !important;
  }
}

@media (min-width: 992px) {
  [float-lg-left] {
    float: left !important;
  }
  [float-lg-right] {
    float: right !important;
  }
  [float-lg-start] {
    float: left !important;
  }
  [float-lg-end] {
    float: right !important;
  }
}

@media (min-width: 1200px) {
  [float-xl-left] {
    float: left !important;
  }
  [float-xl-right] {
    float: right !important;
  }
  [float-xl-start] {
    float: left !important;
  }
  [float-xl-end] {
    float: right !important;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ion-label {
  margin: 0;
  display: block;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-input ion-label {
  -webkit-box-flex: initial;
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial;
  max-width: 200px;
  pointer-events: none;
}

[text-wrap] ion-label {
  white-space: normal;
}

ion-label[fixed] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  width: 100px;
  min-width: 100px;
  max-width: 200px;
}

.item-label-stacked ion-label,
.item-label-floating ion-label {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: auto;
  max-width: 100%;
}

ion-label[stacked],
ion-label[floating] {
  margin-bottom: 0;
}

.item-md {
  padding-left: 16px;
  padding-right: 0;
  position: relative;
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: none;
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-md.activated {
  background-color: #f1f1f1;
}

.item-md[no-lines] {
  border-width: 0;
}

.item-md h1 {
  margin: 0 0 2px;
  font-size: 2.4rem;
  font-weight: normal;
}

.item-md h2 {
  margin: 2px 0;
  font-size: 1.6rem;
  font-weight: normal;
}

.item-md h3,
.item-md h4,
.item-md h5,
.item-md h6 {
  margin: 2px 0;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: normal;
}

.item-md p {
  margin: 0 0 2px;
  overflow: inherit;
  font-size: 1.4rem;
  line-height: normal;
  text-overflow: inherit;
  color: #666;
}

.item-md.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 1px solid #dedede;
}

.item-md [item-left],
.item-md [item-right],
.item-md [item-start],
.item-md [item-end] {
  margin: 9px 8px 9px 0;
}

.item-md ion-icon[item-left],
.item-md ion-icon[item-right],
.item-md ion-icon[item-start],
.item-md ion-icon[item-end] {
  margin-left: 0;
  margin-top: 11px;
  margin-bottom: 10px;
}

.item-md .item-button {
  padding: 0 0.6em;
  height: 25px;
  font-size: 1.2rem;
}

.item-md .item-button[icon-only] ion-icon,
.item-md .item-button[icon-only] {
  padding: 0 1px;
}

.item-md ion-icon[item-left] + .item-inner,
.item-md ion-icon[item-left] + .item-input,
.item-md ion-icon[item-start] + .item-inner,
.item-md ion-icon[item-start] + .item-input {
  margin-left: 24px;
}

.item-md ion-avatar[item-left],
.item-md ion-thumbnail[item-left],
.item-md ion-avatar[item-start],
.item-md ion-thumbnail[item-start] {
  margin: 8px 16px 8px 0;
}

.item-md ion-avatar[item-right],
.item-md ion-thumbnail[item-right],
.item-md ion-avatar[item-end],
.item-md ion-thumbnail[item-end] {
  margin: 8px;
}

.item-md ion-avatar {
  min-width: 40px;
  min-height: 40px;
}

.item-md ion-avatar ion-img,
.item-md ion-avatar img {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.item-md ion-thumbnail {
  min-width: 80px;
  min-height: 80px;
}

.item-md ion-thumbnail ion-img,
.item-md ion-thumbnail img {
  width: 80px;
  height: 80px;
}

ion-item-group .item-md:first-child .item-inner {
  border-top-width: 0;
}

ion-item-group .item-md:last-child .item-inner,
ion-item-group .item-md .item-wrapper:last-child .item-inner {
  border: 0;
}

.item-divider-md {
  padding-left: 16px;
  border-bottom: 1px solid #dedede;
  font-size: 1.4rem;
  color: #858585;
  background-color: #fff;
}

.item-md .text-md-primary {
  color: #923797;
}

.item-md-primary,
.item-divider-md-primary {
  color: #fff;
  background-color: #923797;
}

.item-md-primary p,
.item-divider-md-primary p {
  color: #fff;
}

.item-md-primary.activated,
.item-divider-md-primary.activated {
  background-color: #9b479f;
}

.item-md .text-md-secondary {
  color: #F3932D;
}

.item-md-secondary,
.item-divider-md-secondary {
  color: #fff;
  background-color: #F3932D;
}

.item-md-secondary p,
.item-divider-md-secondary p {
  color: #fff;
}

.item-md-secondary.activated,
.item-divider-md-secondary.activated {
  background-color: #e08729;
}

.item-md .text-md-tercer {
  color: #f59332;
}

.item-md-tercer,
.item-divider-md-tercer {
  color: #fff;
  background-color: #f59332;
}

.item-md-tercer p,
.item-divider-md-tercer p {
  color: #fff;
}

.item-md-tercer.activated,
.item-divider-md-tercer.activated {
  background-color: #e1872e;
}

.item-md .text-md-danger {
  color: #f53d3d;
}

.item-md-danger,
.item-divider-md-danger {
  color: #fff;
  background-color: #f53d3d;
}

.item-md-danger p,
.item-divider-md-danger p {
  color: #fff;
}

.item-md-danger.activated,
.item-divider-md-danger.activated {
  background-color: #e13838;
}

.item-md .text-md-light {
  color: #f4f4f4;
}

.item-md-light,
.item-divider-md-light {
  color: #000;
  background-color: #f4f4f4;
}

.item-md-light p,
.item-divider-md-light p {
  color: #000;
}

.item-md-light.activated,
.item-divider-md-light.activated {
  background-color: #e0e0e0;
}

.item-md .text-md-dark {
  color: #222;
}

.item-md-dark,
.item-divider-md-dark {
  color: #fff;
  background-color: #222;
}

.item-md-dark p,
.item-divider-md-dark p {
  color: #fff;
}

.item-md-dark.activated,
.item-divider-md-dark.activated {
  background-color: #343434;
}

.list-md ion-item-sliding {
  background-color: #fff;
}

.item-md ion-reorder {
  font-size: 1.5em;
  opacity: .3;
}

.item-wp {
  padding-left: 16px;
  padding-right: 0;
  position: relative;
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: none;
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.item-wp.activated {
  background-color: #aaa;
}

.item-wp[no-lines] {
  border-width: 0;
}

.item-wp h1 {
  margin: 0 0 2px;
  font-size: 2.4rem;
  font-weight: normal;
}

.item-wp h2 {
  margin: 2px 0;
  font-size: 1.6rem;
  font-weight: normal;
}

.item-wp h3,
.item-wp h4,
.item-wp h5,
.item-wp h6 {
  margin: 2px 0;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: normal;
}

.item-wp p {
  margin: 0 0 2px;
  overflow: inherit;
  font-size: 1.4rem;
  line-height: normal;
  text-overflow: inherit;
  color: #666;
}

.item-wp.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 1px solid transparent;
}

.item-wp [item-left],
.item-wp [item-right],
.item-wp [item-start],
.item-wp [item-end] {
  margin: 9px 8px 9px 0;
}

.item-wp ion-icon[item-left],
.item-wp ion-icon[item-right],
.item-wp ion-icon[item-start],
.item-wp ion-icon[item-end] {
  margin-left: 0;
  margin-top: 11px;
  margin-bottom: 10px;
}

.item-wp .item-button {
  padding: 0 0.6em;
  height: 25px;
  font-size: 1.2rem;
}

.item-wp .item-button[icon-only] ion-icon,
.item-wp .item-button[icon-only] {
  padding: 0 1px;
}

.item-wp[text-wrap] ion-label {
  font-size: 1.4rem;
  line-height: 1.5;
}

.item-wp ion-icon[item-left] + .item-inner,
.item-wp ion-icon[item-left] + .item-input,
.item-wp ion-icon[item-start] + .item-inner,
.item-wp ion-icon[item-start] + .item-input {
  margin-left: 8px;
}

.item-wp ion-avatar[item-left],
.item-wp ion-thumbnail[item-left],
.item-wp ion-avatar[item-start],
.item-wp ion-thumbnail[item-start] {
  margin: 8px 16px 8px 0;
}

.item-wp ion-avatar[item-right],
.item-wp ion-thumbnail[item-right],
.item-wp ion-avatar[item-end],
.item-wp ion-thumbnail[item-end] {
  margin: 8px;
}

.item-wp ion-avatar {
  min-width: 40px;
  min-height: 40px;
}

.item-wp ion-avatar ion-img,
.item-wp ion-avatar img {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.item-wp ion-thumbnail {
  min-width: 80px;
  min-height: 80px;
}

.item-wp ion-thumbnail ion-img,
.item-wp ion-thumbnail img {
  width: 80px;
  height: 80px;
}

.item-divider-wp {
  padding-left: 16px;
  border-bottom: 1px solid transparent;
  font-size: 2rem;
  color: #000;
  background-color: #fff;
}

.item-wp .text-wp-primary {
  color: #923797;
}

.item-wp-primary,
.item-divider-wp-primary {
  color: #fff;
  background-color: #923797;
}

.item-wp-primary p,
.item-divider-wp-primary p {
  color: #fff;
}

.item-wp-primary.activated,
.item-divider-wp-primary.activated {
  background-color: #9b479f;
}

.item-wp .text-wp-secondary {
  color: #F3932D;
}

.item-wp-secondary,
.item-divider-wp-secondary {
  color: #fff;
  background-color: #F3932D;
}

.item-wp-secondary p,
.item-divider-wp-secondary p {
  color: #fff;
}

.item-wp-secondary.activated,
.item-divider-wp-secondary.activated {
  background-color: #e08729;
}

.item-wp .text-wp-tercer {
  color: #f59332;
}

.item-wp-tercer,
.item-divider-wp-tercer {
  color: #fff;
  background-color: #f59332;
}

.item-wp-tercer p,
.item-divider-wp-tercer p {
  color: #fff;
}

.item-wp-tercer.activated,
.item-divider-wp-tercer.activated {
  background-color: #e1872e;
}

.item-wp .text-wp-danger {
  color: #f53d3d;
}

.item-wp-danger,
.item-divider-wp-danger {
  color: #fff;
  background-color: #f53d3d;
}

.item-wp-danger p,
.item-divider-wp-danger p {
  color: #fff;
}

.item-wp-danger.activated,
.item-divider-wp-danger.activated {
  background-color: #e13838;
}

.item-wp .text-wp-light {
  color: #f4f4f4;
}

.item-wp-light,
.item-divider-wp-light {
  color: #000;
  background-color: #f4f4f4;
}

.item-wp-light p,
.item-divider-wp-light p {
  color: #000;
}

.item-wp-light.activated,
.item-divider-wp-light.activated {
  background-color: #e0e0e0;
}

.item-wp .text-wp-dark {
  color: #222;
}

.item-wp-dark,
.item-divider-wp-dark {
  color: #fff;
  background-color: #222;
}

.item-wp-dark p,
.item-divider-wp-dark p {
  color: #fff;
}

.item-wp-dark.activated,
.item-divider-wp-dark.activated {
  background-color: #343434;
}

.list-wp ion-item-sliding {
  background-color: #fff;
}


.grid {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.grid[no-padding] {
  padding: 0;
}

.grid[no-padding] > .row > .col {
  padding: 0;
}

@media (min-width: 576px) {
  .grid[fixed] {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .grid[fixed] {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .grid[fixed] {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .grid[fixed] {
    width: 1140px;
    max-width: 100%;
  }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row[nowrap] {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.row[wrap-reverse] {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.row[align-items-start] {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row[align-items-center] {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row[align-items-end] {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.row[align-items-stretch] {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.row[align-items-baseline] {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.row[justify-content-start] {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.row[justify-content-center] {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row[justify-content-end] {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.row[justify-content-around] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.row[justify-content-between] {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col {
  padding: 5px;
  position: relative;
  width: 100%;
  margin: 0;
  min-height: 1px;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col[align-self-start] {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.col[align-self-end] {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.col[align-self-center] {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.col[align-self-stretch] {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.col[align-self-baseline] {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

[col-1] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-1] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-1] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-1] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-1] {
    padding: 5px;
  }
}

[col-2] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-2] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-2] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-2] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-2] {
    padding: 5px;
  }
}

[col-3] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-3] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-3] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-3] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-3] {
    padding: 5px;
  }
}

[col-4] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-4] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-4] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-4] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-4] {
    padding: 5px;
  }
}

[col-5] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-5] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-5] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-5] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-5] {
    padding: 5px;
  }
}

[col-6] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-6] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-6] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-6] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-6] {
    padding: 5px;
  }
}

[col-7] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-7] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-7] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-7] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-7] {
    padding: 5px;
  }
}

[col-8] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-8] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-8] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-8] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-8] {
    padding: 5px;
  }
}

[col-9] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-9] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-9] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-9] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-9] {
    padding: 5px;
  }
}

[col-10] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-10] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-10] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-10] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-10] {
    padding: 5px;
  }
}

[col-11] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-11] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-11] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-11] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-11] {
    padding: 5px;
  }
}

[col-12] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-12] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-12] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-12] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-12] {
    padding: 5px;
  }
}

[col] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col] {
    padding: 5px;
  }
}

[col] {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

[col-auto] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

[col-1] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  width: 8.33333%;
  max-width: 8.33333%;
}

[col-2] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  width: 16.66667%;
  max-width: 16.66667%;
}

[col-3] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  width: 25%;
  max-width: 25%;
}

[col-4] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  width: 33.33333%;
  max-width: 33.33333%;
}

[col-5] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66667%;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  width: 41.66667%;
  max-width: 41.66667%;
}

[col-6] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
}

[col-7] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  width: 58.33333%;
  max-width: 58.33333%;
}

[col-8] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66667%;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  width: 66.66667%;
  max-width: 66.66667%;
}

[col-9] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  width: 75%;
  max-width: 75%;
}

[col-10] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  width: 83.33333%;
  max-width: 83.33333%;
}

[col-11] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66667%;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  width: 91.66667%;
  max-width: 91.66667%;
}

[col-12] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
}

[pull-0] {
  right: auto;
}

[pull-1] {
  right: 8.33333%;
}

[pull-2] {
  right: 16.66667%;
}

[pull-3] {
  right: 25%;
}

[pull-4] {
  right: 33.33333%;
}

[pull-5] {
  right: 41.66667%;
}

[pull-6] {
  right: 50%;
}

[pull-7] {
  right: 58.33333%;
}

[pull-8] {
  right: 66.66667%;
}

[pull-9] {
  right: 75%;
}

[pull-10] {
  right: 83.33333%;
}

[pull-11] {
  right: 91.66667%;
}

[pull-12] {
  right: 100%;
}

[push-0] {
  left: auto;
}

[push-1] {
  left: 8.33333%;
}

[push-2] {
  left: 16.66667%;
}

[push-3] {
  left: 25%;
}

[push-4] {
  left: 33.33333%;
}

[push-5] {
  left: 41.66667%;
}

[push-6] {
  left: 50%;
}

[push-7] {
  left: 58.33333%;
}

[push-8] {
  left: 66.66667%;
}

[push-9] {
  left: 75%;
}

[push-10] {
  left: 83.33333%;
}

[push-11] {
  left: 91.66667%;
}

[push-12] {
  left: 100%;
}

[offset-1] {
  margin-left: 8.33333%;
}

[offset-2] {
  margin-left: 16.66667%;
}

[offset-3] {
  margin-left: 25%;
}

[offset-4] {
  margin-left: 33.33333%;
}

[offset-5] {
  margin-left: 41.66667%;
}

[offset-6] {
  margin-left: 50%;
}

[offset-7] {
  margin-left: 58.33333%;
}

[offset-8] {
  margin-left: 66.66667%;
}

[offset-9] {
  margin-left: 75%;
}

[offset-10] {
  margin-left: 83.33333%;
}

[offset-11] {
  margin-left: 91.66667%;
}

[col-sm-1] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm-1] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm-1] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm-1] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm-1] {
    padding: 5px;
  }
}

[col-sm-2] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm-2] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm-2] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm-2] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm-2] {
    padding: 5px;
  }
}

[col-sm-3] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm-3] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm-3] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm-3] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm-3] {
    padding: 5px;
  }
}

[col-sm-4] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm-4] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm-4] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm-4] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm-4] {
    padding: 5px;
  }
}

[col-sm-5] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm-5] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm-5] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm-5] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm-5] {
    padding: 5px;
  }
}

[col-sm-6] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm-6] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm-6] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm-6] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm-6] {
    padding: 5px;
  }
}

[col-sm-7] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm-7] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm-7] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm-7] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm-7] {
    padding: 5px;
  }
}

[col-sm-8] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm-8] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm-8] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm-8] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm-8] {
    padding: 5px;
  }
}

[col-sm-9] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm-9] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm-9] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm-9] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm-9] {
    padding: 5px;
  }
}

[col-sm-10] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm-10] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm-10] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm-10] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm-10] {
    padding: 5px;
  }
}

[col-sm-11] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm-11] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm-11] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm-11] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm-11] {
    padding: 5px;
  }
}

[col-sm-12] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm-12] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm-12] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm-12] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm-12] {
    padding: 5px;
  }
}

[col-sm] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-sm] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-sm] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-sm] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-sm] {
    padding: 5px;
  }
}

@media (min-width: 576px) {
  [col-sm] {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  [col-sm-auto] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  [col-sm-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    width: 8.33333%;
    max-width: 8.33333%;
  }
  [col-sm-2] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    width: 16.66667%;
    max-width: 16.66667%;
  }
  [col-sm-3] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }
  [col-sm-4] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%;
  }
  [col-sm-5] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    width: 41.66667%;
    max-width: 41.66667%;
  }
  [col-sm-6] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  [col-sm-7] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    width: 58.33333%;
    max-width: 58.33333%;
  }
  [col-sm-8] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%;
  }
  [col-sm-9] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    width: 75%;
    max-width: 75%;
  }
  [col-sm-10] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    width: 83.33333%;
    max-width: 83.33333%;
  }
  [col-sm-11] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    width: 91.66667%;
    max-width: 91.66667%;
  }
  [col-sm-12] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  [pull-sm-0] {
    right: auto;
  }
  [pull-sm-1] {
    right: 8.33333%;
  }
  [pull-sm-2] {
    right: 16.66667%;
  }
  [pull-sm-3] {
    right: 25%;
  }
  [pull-sm-4] {
    right: 33.33333%;
  }
  [pull-sm-5] {
    right: 41.66667%;
  }
  [pull-sm-6] {
    right: 50%;
  }
  [pull-sm-7] {
    right: 58.33333%;
  }
  [pull-sm-8] {
    right: 66.66667%;
  }
  [pull-sm-9] {
    right: 75%;
  }
  [pull-sm-10] {
    right: 83.33333%;
  }
  [pull-sm-11] {
    right: 91.66667%;
  }
  [pull-sm-12] {
    right: 100%;
  }
  [push-sm-0] {
    left: auto;
  }
  [push-sm-1] {
    left: 8.33333%;
  }
  [push-sm-2] {
    left: 16.66667%;
  }
  [push-sm-3] {
    left: 25%;
  }
  [push-sm-4] {
    left: 33.33333%;
  }
  [push-sm-5] {
    left: 41.66667%;
  }
  [push-sm-6] {
    left: 50%;
  }
  [push-sm-7] {
    left: 58.33333%;
  }
  [push-sm-8] {
    left: 66.66667%;
  }
  [push-sm-9] {
    left: 75%;
  }
  [push-sm-10] {
    left: 83.33333%;
  }
  [push-sm-11] {
    left: 91.66667%;
  }
  [push-sm-12] {
    left: 100%;
  }
  [offset-sm-0] {
    margin-left: 0%;
  }
  [offset-sm-1] {
    margin-left: 8.33333%;
  }
  [offset-sm-2] {
    margin-left: 16.66667%;
  }
  [offset-sm-3] {
    margin-left: 25%;
  }
  [offset-sm-4] {
    margin-left: 33.33333%;
  }
  [offset-sm-5] {
    margin-left: 41.66667%;
  }
  [offset-sm-6] {
    margin-left: 50%;
  }
  [offset-sm-7] {
    margin-left: 58.33333%;
  }
  [offset-sm-8] {
    margin-left: 66.66667%;
  }
  [offset-sm-9] {
    margin-left: 75%;
  }
  [offset-sm-10] {
    margin-left: 83.33333%;
  }
  [offset-sm-11] {
    margin-left: 91.66667%;
  }
}

[col-md-1] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md-1] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md-1] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md-1] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md-1] {
    padding: 5px;
  }
}

[col-md-2] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md-2] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md-2] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md-2] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md-2] {
    padding: 5px;
  }
}

[col-md-3] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md-3] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md-3] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md-3] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md-3] {
    padding: 5px;
  }
}

[col-md-4] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md-4] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md-4] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md-4] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md-4] {
    padding: 5px;
  }
}

[col-md-5] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md-5] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md-5] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md-5] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md-5] {
    padding: 5px;
  }
}

[col-md-6] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md-6] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md-6] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md-6] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md-6] {
    padding: 5px;
  }
}

[col-md-7] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md-7] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md-7] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md-7] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md-7] {
    padding: 5px;
  }
}

[col-md-8] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md-8] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md-8] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md-8] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md-8] {
    padding: 5px;
  }
}

[col-md-9] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md-9] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md-9] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md-9] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md-9] {
    padding: 5px;
  }
}

[col-md-10] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md-10] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md-10] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md-10] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md-10] {
    padding: 5px;
  }
}

[col-md-11] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md-11] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md-11] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md-11] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md-11] {
    padding: 5px;
  }
}

[col-md-12] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md-12] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md-12] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md-12] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md-12] {
    padding: 5px;
  }
}

[col-md] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-md] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-md] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-md] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-md] {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  [col-md-auto] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  [col-md-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    width: 8.33333%;
    max-width: 8.33333%;
  }
  [col-md-2] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    width: 16.66667%;
    max-width: 16.66667%;
  }
  [col-md-3] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }
  [col-md-4] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%;
  }
  [col-md-5] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    width: 41.66667%;
    max-width: 41.66667%;
  }
  [col-md-6] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  [col-md-7] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    width: 58.33333%;
    max-width: 58.33333%;
  }
  [col-md-8] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%;
  }
  [col-md-9] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    width: 75%;
    max-width: 75%;
  }
  [col-md-10] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    width: 83.33333%;
    max-width: 83.33333%;
  }
  [col-md-11] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    width: 91.66667%;
    max-width: 91.66667%;
  }
  [col-md-12] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  [pull-md-0] {
    right: auto;
  }
  [pull-md-1] {
    right: 8.33333%;
  }
  [pull-md-2] {
    right: 16.66667%;
  }
  [pull-md-3] {
    right: 25%;
  }
  [pull-md-4] {
    right: 33.33333%;
  }
  [pull-md-5] {
    right: 41.66667%;
  }
  [pull-md-6] {
    right: 50%;
  }
  [pull-md-7] {
    right: 58.33333%;
  }
  [pull-md-8] {
    right: 66.66667%;
  }
  [pull-md-9] {
    right: 75%;
  }
  [pull-md-10] {
    right: 83.33333%;
  }
  [pull-md-11] {
    right: 91.66667%;
  }
  [pull-md-12] {
    right: 100%;
  }
  [push-md-0] {
    left: auto;
  }
  [push-md-1] {
    left: 8.33333%;
  }
  [push-md-2] {
    left: 16.66667%;
  }
  [push-md-3] {
    left: 25%;
  }
  [push-md-4] {
    left: 33.33333%;
  }
  [push-md-5] {
    left: 41.66667%;
  }
  [push-md-6] {
    left: 50%;
  }
  [push-md-7] {
    left: 58.33333%;
  }
  [push-md-8] {
    left: 66.66667%;
  }
  [push-md-9] {
    left: 75%;
  }
  [push-md-10] {
    left: 83.33333%;
  }
  [push-md-11] {
    left: 91.66667%;
  }
  [push-md-12] {
    left: 100%;
  }
  [offset-md-0] {
    margin-left: 0%;
  }
  [offset-md-1] {
    margin-left: 8.33333%;
  }
  [offset-md-2] {
    margin-left: 16.66667%;
  }
  [offset-md-3] {
    margin-left: 25%;
  }
  [offset-md-4] {
    margin-left: 33.33333%;
  }
  [offset-md-5] {
    margin-left: 41.66667%;
  }
  [offset-md-6] {
    margin-left: 50%;
  }
  [offset-md-7] {
    margin-left: 58.33333%;
  }
  [offset-md-8] {
    margin-left: 66.66667%;
  }
  [offset-md-9] {
    margin-left: 75%;
  }
  [offset-md-10] {
    margin-left: 83.33333%;
  }
  [offset-md-11] {
    margin-left: 91.66667%;
  }
}

[col-lg-1] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg-1] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg-1] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg-1] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg-1] {
    padding: 5px;
  }
}

[col-lg-2] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg-2] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg-2] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg-2] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg-2] {
    padding: 5px;
  }
}

[col-lg-3] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg-3] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg-3] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg-3] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg-3] {
    padding: 5px;
  }
}

[col-lg-4] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg-4] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg-4] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg-4] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg-4] {
    padding: 5px;
  }
}

[col-lg-5] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg-5] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg-5] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg-5] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg-5] {
    padding: 5px;
  }
}

[col-lg-6] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg-6] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg-6] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg-6] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg-6] {
    padding: 5px;
  }
}

[col-lg-7] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg-7] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg-7] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg-7] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg-7] {
    padding: 5px;
  }
}

[col-lg-8] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg-8] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg-8] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg-8] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg-8] {
    padding: 5px;
  }
}

[col-lg-9] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg-9] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg-9] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg-9] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg-9] {
    padding: 5px;
  }
}

[col-lg-10] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg-10] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg-10] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg-10] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg-10] {
    padding: 5px;
  }
}

[col-lg-11] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg-11] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg-11] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg-11] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg-11] {
    padding: 5px;
  }
}

[col-lg-12] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg-12] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg-12] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg-12] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg-12] {
    padding: 5px;
  }
}

[col-lg] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-lg] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-lg] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-lg] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-lg] {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  [col-lg-auto] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  [col-lg-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    width: 8.33333%;
    max-width: 8.33333%;
  }
  [col-lg-2] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    width: 16.66667%;
    max-width: 16.66667%;
  }
  [col-lg-3] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }
  [col-lg-4] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%;
  }
  [col-lg-5] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    width: 41.66667%;
    max-width: 41.66667%;
  }
  [col-lg-6] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  [col-lg-7] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    width: 58.33333%;
    max-width: 58.33333%;
  }
  [col-lg-8] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%;
  }
  [col-lg-9] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    width: 75%;
    max-width: 75%;
  }
  [col-lg-10] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    width: 83.33333%;
    max-width: 83.33333%;
  }
  [col-lg-11] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    width: 91.66667%;
    max-width: 91.66667%;
  }
  [col-lg-12] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  [pull-lg-0] {
    right: auto;
  }
  [pull-lg-1] {
    right: 8.33333%;
  }
  [pull-lg-2] {
    right: 16.66667%;
  }
  [pull-lg-3] {
    right: 25%;
  }
  [pull-lg-4] {
    right: 33.33333%;
  }
  [pull-lg-5] {
    right: 41.66667%;
  }
  [pull-lg-6] {
    right: 50%;
  }
  [pull-lg-7] {
    right: 58.33333%;
  }
  [pull-lg-8] {
    right: 66.66667%;
  }
  [pull-lg-9] {
    right: 75%;
  }
  [pull-lg-10] {
    right: 83.33333%;
  }
  [pull-lg-11] {
    right: 91.66667%;
  }
  [pull-lg-12] {
    right: 100%;
  }
  [push-lg-0] {
    left: auto;
  }
  [push-lg-1] {
    left: 8.33333%;
  }
  [push-lg-2] {
    left: 16.66667%;
  }
  [push-lg-3] {
    left: 25%;
  }
  [push-lg-4] {
    left: 33.33333%;
  }
  [push-lg-5] {
    left: 41.66667%;
  }
  [push-lg-6] {
    left: 50%;
  }
  [push-lg-7] {
    left: 58.33333%;
  }
  [push-lg-8] {
    left: 66.66667%;
  }
  [push-lg-9] {
    left: 75%;
  }
  [push-lg-10] {
    left: 83.33333%;
  }
  [push-lg-11] {
    left: 91.66667%;
  }
  [push-lg-12] {
    left: 100%;
  }
  [offset-lg-0] {
    margin-left: 0%;
  }
  [offset-lg-1] {
    margin-left: 8.33333%;
  }
  [offset-lg-2] {
    margin-left: 16.66667%;
  }
  [offset-lg-3] {
    margin-left: 25%;
  }
  [offset-lg-4] {
    margin-left: 33.33333%;
  }
  [offset-lg-5] {
    margin-left: 41.66667%;
  }
  [offset-lg-6] {
    margin-left: 50%;
  }
  [offset-lg-7] {
    margin-left: 58.33333%;
  }
  [offset-lg-8] {
    margin-left: 66.66667%;
  }
  [offset-lg-9] {
    margin-left: 75%;
  }
  [offset-lg-10] {
    margin-left: 83.33333%;
  }
  [offset-lg-11] {
    margin-left: 91.66667%;
  }
}

[col-xl-1] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl-1] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl-1] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl-1] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl-1] {
    padding: 5px;
  }
}

[col-xl-2] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl-2] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl-2] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl-2] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl-2] {
    padding: 5px;
  }
}

[col-xl-3] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl-3] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl-3] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl-3] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl-3] {
    padding: 5px;
  }
}

[col-xl-4] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl-4] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl-4] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl-4] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl-4] {
    padding: 5px;
  }
}

[col-xl-5] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl-5] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl-5] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl-5] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl-5] {
    padding: 5px;
  }
}

[col-xl-6] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl-6] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl-6] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl-6] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl-6] {
    padding: 5px;
  }
}

[col-xl-7] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl-7] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl-7] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl-7] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl-7] {
    padding: 5px;
  }
}

[col-xl-8] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl-8] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl-8] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl-8] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl-8] {
    padding: 5px;
  }
}

[col-xl-9] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl-9] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl-9] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl-9] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl-9] {
    padding: 5px;
  }
}

[col-xl-10] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl-10] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl-10] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl-10] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl-10] {
    padding: 5px;
  }
}

[col-xl-11] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl-11] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl-11] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl-11] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl-11] {
    padding: 5px;
  }
}

[col-xl-12] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl-12] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl-12] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl-12] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl-12] {
    padding: 5px;
  }
}

[col-xl] {
  padding: 5px;
}

@media (min-width: 576px) {
  [col-xl] {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  [col-xl] {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  [col-xl] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl] {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  [col-xl] {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  [col-xl-auto] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  [col-xl-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    width: 8.33333%;
    max-width: 8.33333%;
  }
  [col-xl-2] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    width: 16.66667%;
    max-width: 16.66667%;
  }
  [col-xl-3] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }
  [col-xl-4] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%;
  }
  [col-xl-5] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    width: 41.66667%;
    max-width: 41.66667%;
  }
  [col-xl-6] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  [col-xl-7] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    width: 58.33333%;
    max-width: 58.33333%;
  }
  [col-xl-8] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%;
  }
  [col-xl-9] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    width: 75%;
    max-width: 75%;
  }
  [col-xl-10] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    width: 83.33333%;
    max-width: 83.33333%;
  }
  [col-xl-11] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    width: 91.66667%;
    max-width: 91.66667%;
  }
  [col-xl-12] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  [pull-xl-0] {
    right: auto;
  }
  [pull-xl-1] {
    right: 8.33333%;
  }
  [pull-xl-2] {
    right: 16.66667%;
  }
  [pull-xl-3] {
    right: 25%;
  }
  [pull-xl-4] {
    right: 33.33333%;
  }
  [pull-xl-5] {
    right: 41.66667%;
  }
  [pull-xl-6] {
    right: 50%;
  }
  [pull-xl-7] {
    right: 58.33333%;
  }
  [pull-xl-8] {
    right: 66.66667%;
  }
  [pull-xl-9] {
    right: 75%;
  }
  [pull-xl-10] {
    right: 83.33333%;
  }
  [pull-xl-11] {
    right: 91.66667%;
  }
  [pull-xl-12] {
    right: 100%;
  }
  [push-xl-0] {
    left: auto;
  }
  [push-xl-1] {
    left: 8.33333%;
  }
  [push-xl-2] {
    left: 16.66667%;
  }
  [push-xl-3] {
    left: 25%;
  }
  [push-xl-4] {
    left: 33.33333%;
  }
  [push-xl-5] {
    left: 41.66667%;
  }
  [push-xl-6] {
    left: 50%;
  }
  [push-xl-7] {
    left: 58.33333%;
  }
  [push-xl-8] {
    left: 66.66667%;
  }
  [push-xl-9] {
    left: 75%;
  }
  [push-xl-10] {
    left: 83.33333%;
  }
  [push-xl-11] {
    left: 91.66667%;
  }
  [push-xl-12] {
    left: 100%;
  }
  [offset-xl-0] {
    margin-left: 0%;
  }
  [offset-xl-1] {
    margin-left: 8.33333%;
  }
  [offset-xl-2] {
    margin-left: 16.66667%;
  }
  [offset-xl-3] {
    margin-left: 25%;
  }
  [offset-xl-4] {
    margin-left: 33.33333%;
  }
  [offset-xl-5] {
    margin-left: 41.66667%;
  }
  [offset-xl-6] {
    margin-left: 50%;
  }
  [offset-xl-7] {
    margin-left: 58.33333%;
  }
  [offset-xl-8] {
    margin-left: 66.66667%;
  }
  [offset-xl-9] {
    margin-left: 75%;
  }
  [offset-xl-10] {
    margin-left: 83.33333%;
  }
  [offset-xl-11] {
    margin-left: 91.66667%;
  }
}

ion-icon {
  display: inline-block;
  font-size: 1.2em;
}

ion-icon[small] {
  min-height: 1.1em;
  font-size: 1.1em;
}


.content-md {
  color: #000;
  background-color: #fff;
}

.content-md hr {
  background-color: rgba(0, 0, 0, 0.08);
}

ion-app.md [padding],
ion-app.md [padding] .scroll-content {
  padding: 16px;
}

ion-app.md [padding-top],
ion-app.md [padding-top] .scroll-content {
  padding-top: 16px;
}

ion-app.md [padding-left],
ion-app.md [padding-left] .scroll-content {
  padding-left: 16px;
}

ion-app.md [padding-right],
ion-app.md [padding-right] .scroll-content {
  padding-right: 16px;
}

ion-app.md [padding-bottom],
ion-app.md [padding-bottom] .scroll-content {
  padding-bottom: 16px;
}

ion-app.md [padding-vertical],
ion-app.md [padding-vertical] .scroll-content {
  padding-top: 16px;
  padding-bottom: 16px;
}

ion-app.md [padding-horizontal],
ion-app.md [padding-horizontal] .scroll-content {
  padding-left: 16px;
  padding-right: 16px;
}

ion-app.md [margin],
ion-app.md [margin] .scroll-content {
  margin: 16px;
}

ion-app.md [margin-top],
ion-app.md [margin-top] .scroll-content {
  margin-top: 16px;
}

ion-app.md [margin-left],
ion-app.md [margin-left] .scroll-content {
  margin-left: 16px;
}

ion-app.md [margin-start],
ion-app.md [margin-start] .scroll-content {
  margin-left: 16px;
}

ion-app.md [margin-right],
ion-app.md [margin-right] .scroll-content {
  margin-right: 16px;
}

ion-app.md [margin-end],
ion-app.md [margin-end] .scroll-content {
  margin-right: 16px;
}

ion-app.md [margin-bottom],
ion-app.md [margin-bottom] .scroll-content {
  margin-bottom: 16px;
}

ion-app.md [margin-vertical],
ion-app.md [margin-vertical] .scroll-content {
  margin-top: 16px;
  margin-bottom: 16px;
}

ion-app.md [margin-horizontal],
ion-app.md [margin-horizontal] .scroll-content {
  margin-left: 16px;
  margin-right: 16px;
}

.content-wp {
  color: #000;
  background-color: #fff;
}

.content-wp hr {
  background-color: rgba(0, 0, 0, 0.08);
}

ion-app.wp [padding],
ion-app.wp [padding] .scroll-content {
  padding: 16px;
}

ion-app.wp [padding-top],
ion-app.wp [padding-top] .scroll-content {
  padding-top: 16px;
}

ion-app.wp [padding-left],
ion-app.wp [padding-left] .scroll-content {
  padding-left: 16px;
}

ion-app.wp [padding-right],
ion-app.wp [padding-right] .scroll-content {
  padding-right: 16px;
}

ion-app.wp [padding-bottom],
ion-app.wp [padding-bottom] .scroll-content {
  padding-bottom: 16px;
}

ion-app.wp [padding-vertical],
ion-app.wp [padding-vertical] .scroll-content {
  padding-top: 16px;
  padding-bottom: 16px;
}

ion-app.wp [padding-horizontal],
ion-app.wp [padding-horizontal] .scroll-content {
  padding-left: 16px;
  padding-right: 16px;
}

ion-app.wp [margin],
ion-app.wp [margin] .scroll-content {
  margin: 16px;
}

ion-app.wp [margin-top],
ion-app.wp [margin-top] .scroll-content {
  margin-top: 16px;
}

ion-app.wp [margin-left],
ion-app.wp [margin-left] .scroll-content {
  margin-left: 16px;
}

ion-app.wp [margin-start],
ion-app.wp [margin-start] .scroll-content {
  margin-left: 16px;
}

ion-app.wp [margin-right],
ion-app.wp [margin-right] .scroll-content {
  margin-right: 16px;
}

ion-app.wp [margin-end],
ion-app.wp [margin-end] .scroll-content {
  margin-right: 16px;
}

ion-app.wp [margin-bottom],
ion-app.wp [margin-bottom] .scroll-content {
  margin-bottom: 16px;
}

ion-app.wp [margin-vertical],
ion-app.wp [margin-vertical] .scroll-content {
  margin-top: 16px;
  margin-bottom: 16px;
}

ion-app.wp [margin-horizontal],
ion-app.wp [margin-horizontal] .scroll-content {
  margin-left: 16px;
  margin-right: 16px;
}

ion-content {
  left: 0;
  top: 0;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  contain: layout size style;
}

.ion-page > ion-content {
  /*position: absolute;*/
}

.scroll-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
}

ion-content.js-scroll > .scroll-content {
  position: relative;
  min-height: 100%;
  overflow-x: initial;
  overflow-y: initial;
  -webkit-overflow-scrolling: auto;
  will-change: initial;
}

.disable-scroll .ion-page {
  pointer-events: none;
  -ms-touch-action: none;
  touch-action: none;
}

ion-content.has-refresher > .scroll-content {
  background-color: inherit;
}

.fixed-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
}

[ion-fixed] {
  position: absolute;
  z-index: 999;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

ion-app [no-padding],
ion-app [no-padding] .scroll-content {
  padding: 0;
}

ion-app [no-margin],
ion-app [no-margin] .scroll-content {
  margin: 0;
}

.content-ios {
  color: #000;
  background-color: #fff;
}

.content-ios.outer-content {
  background: #efeff4;
}

.content-ios hr {
  height: 0.55px;
  background-color: rgba(0, 0, 0, 0.12);
}

.ios .ion-page.show-page ~ .nav-decor {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
}


content-ios {
  color: #000;
  background-color: #fff;
}

.content-ios.outer-content {
  background: #efeff4;
}

.content-ios hr {
  height: 0.55px;
  background-color: rgba(0, 0, 0, 0.12);
}

.ios .ion-page.show-page ~ .nav-decor {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
}

ion-app.ios [padding],
ion-app.ios [padding] .scroll-content {
  padding: 16px;
}

ion-app.ios [padding-top],
ion-app.ios [padding-top] .scroll-content {
  padding-top: 16px;
}

ion-app.ios [padding-left],
ion-app.ios [padding-left] .scroll-content {
  padding-left: 16px;
}

ion-app.ios [padding-right],
ion-app.ios [padding-right] .scroll-content {
  padding-right: 16px;
}

ion-app.ios [padding-bottom],
ion-app.ios [padding-bottom] .scroll-content {
  padding-bottom: 16px;
}

ion-app.ios [padding-vertical],
ion-app.ios [padding-vertical] .scroll-content {
  padding-top: 16px;
  padding-bottom: 16px;
}

ion-app.ios [padding-horizontal],
ion-app.ios [padding-horizontal] .scroll-content {
  padding-left: 16px;
  padding-right: 16px;
}

ion-app.ios [margin],
ion-app.ios [margin] .scroll-content {
  margin: 16px;
}

ion-app.ios [margin-top],
ion-app.ios [margin-top] .scroll-content {
  margin-top: 16px;
}

ion-app.ios [margin-left],
ion-app.ios [margin-left] .scroll-content {
  margin-left: 16px;
}

ion-app.ios [margin-start],
ion-app.ios [margin-start] .scroll-content {
  margin-left: 16px;
}

ion-app.ios [margin-right],
ion-app.ios [margin-right] .scroll-content {
  margin-right: 16px;
}

ion-app.ios [margin-end],
ion-app.ios [margin-end] .scroll-content {
  margin-right: 16px;
}

ion-app.ios [margin-bottom],
ion-app.ios [margin-bottom] .scroll-content {
  margin-bottom: 16px;
}

ion-app.ios [margin-vertical],
ion-app.ios [margin-vertical] .scroll-content {
  margin-top: 16px;
  margin-bottom: 16px;
}

ion-app.ios [margin-horizontal],
ion-app.ios [margin-horizontal] .scroll-content {
  margin-left: 16px;
  margin-right: 16px;
}

.content-ios:not([no-bounce]) > .scroll-content::before,
.content-ios:not([no-bounce]) > .scroll-content::after {
  position: absolute;
  width: 1px;
  height: 1px;
  content: "";
}

.content-ios:not([no-bounce]) > .scroll-content::before {
  bottom: -1px;
}

.content-ios:not([no-bounce]) > .scroll-content::after {
  top: -1px;
}

.platform-core .content-ios .scroll-content::after,
.platform-core .content-ios .scroll-content::before {
  position: initial;
  top: initial;
  bottom: initial;
  width: initial;
  height: initial;
}

.label-ios {
  margin: 11px 8px 11px 0;
}

.label-ios + ion-input .text-input,
.label-ios + ion-textarea .text-input,
.label-ios + .input + .cloned-input {
  margin-left: 16px;
  width: calc(100% - (16px / 2) - 16px);
}

.label-ios[stacked] {
  margin-bottom: 4px;
  font-size: 1.2rem;
}

.label-ios[floating] {
  margin-bottom: 0;
  -webkit-transform: translate3d(0,  27px,  0);
  transform: translate3d(0,  27px,  0);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.item-input-has-focus .label-ios[floating],
.input-has-focus .label-ios[floating],
.item-input-has-value .label-ios[floating],
.input-has-value .label-ios[floating] {
  -webkit-transform: translate3d(0,  0,  0) scale(0.8);
  transform: translate3d(0,  0,  0) scale(0.8);
}

.item-ios.item-label-stacked [item-right],
.item-ios.item-label-floating [item-right],
.item-ios.item-label-stacked [item-end],
.item-ios.item-label-floating [item-end] {
  margin-top: 6px;
  margin-bottom: 6px;
}

.label-ios-primary,
.item-input .label-ios-primary,
.item-select .label-ios-primary,
.item-datetime .label-ios-primary {
  color: #923797;
}

.label-ios-secondary,
.item-input .label-ios-secondary,
.item-select .label-ios-secondary,
.item-datetime .label-ios-secondary {
  color: #F3932D;
}

.label-ios-tercer,
.item-input .label-ios-tercer,
.item-select .label-ios-tercer,
.item-datetime .label-ios-tercer {
  color: #f59332;
}

.label-ios-danger,
.item-input .label-ios-danger,
.item-select .label-ios-danger,
.item-datetime .label-ios-danger {
  color: #f53d3d;
}

.label-ios-light,
.item-input .label-ios-light,
.item-select .label-ios-light,
.item-datetime .label-ios-light {
  color: #f4f4f4;
}

.label-ios-dark,
.item-input .label-ios-dark,
.item-select .label-ios-dark,
.item-datetime .label-ios-dark {
  color: #222;
}

text-input-ios {
  margin: 11px 8px 11px 0;
  padding: 0;
  width: calc(100% - 8px);
}

.input-ios .inset-input {
  padding: 5.5px 8px;
  margin: 5.5px 16px 5.5px 0;
}

.item-ios.item-label-stacked .text-input,
.item-ios.item-label-floating .text-input {
  margin-left: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  width: calc(100% - 8px);
}

.item-ios.item-label-stacked .label-ios + .input + .cloned-input,
.item-ios.item-label-floating .label-ios + .input + .cloned-input {
  margin-left: 0;
}

.item-label-stacked .select-ios,
.item-label-floating .select-ios {
  padding-left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.input-ios[clearInput] {
  position: relative;
}

.input-ios[clearInput] .text-input {
  padding-right: 30px;
}

.input-ios .text-input-clear-icon {
  right: 8px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='rgba(0,%200,%200,%200.5)'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>");
  width: 30px;
  background-size: 18px;
}

.item-ios {
  padding-left: 16px;
  border-radius: 0;
  position: relative;
  font-size: 1.7rem;
  color: #000;
  background-color: #fff;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.item-ios.activated {
  background-color: #d9d9d9;
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}

.item-ios h1 {
  margin: 0 0 2px;
  font-size: 2.4rem;
  font-weight: normal;
}

.item-ios h2 {
  margin: 0 0 2px;
  font-size: 1.7rem;
  font-weight: normal;
}

.item-ios h3,
.item-ios h4,
.item-ios h5,
.item-ios h6 {
  margin: 0 0 3px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: normal;
}

.item-ios p {
  overflow: inherit;
  font-size: 1.4rem;
  line-height: normal;
  text-overflow: inherit;
  color: #8e9093;
  margin: 0 0 2px;
}

.item-ios h2:last-child,
.item-ios h3:last-child,
.item-ios h4:last-child,
.item-ios h5:last-child,
.item-ios h6:last-child,
.item-ios p:last-child {
  margin-bottom: 0;
}

.item-ios.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 0.55px solid #c8c7cc;
}

.item-ios [item-left],
.item-ios [item-start] {
  margin: 8px 16px 8px 0;
}

.item-ios [item-right],
.item-ios [item-end] {
  margin: 8px;
}

.item-ios ion-icon[item-left],
.item-ios ion-icon[item-right],
.item-ios ion-icon[item-start],
.item-ios ion-icon[item-end] {
  margin-left: 0;
  margin-top: 9px;
  margin-bottom: 8px;
}

.item-ios .item-button {
  padding: 0 0.5em;
  height: 24px;
  font-size: 1.3rem;
}

.item-ios .item-button[icon-only] ion-icon,
.item-ios .item-button[icon-only] {
  padding: 0 1px;
}

.item-ios ion-avatar[item-left],
.item-ios ion-thumbnail[item-left],
.item-ios ion-avatar[item-start],
.item-ios ion-thumbnail[item-start] {
  margin: 8px 16px 8px 0;
}

.item-ios ion-avatar[item-right],
.item-ios ion-thumbnail[item-right],
.item-ios ion-avatar[item-end],
.item-ios ion-thumbnail[item-end] {
  margin: 8px;
}

.item-ios ion-avatar {
  min-width: 36px;
  min-height: 36px;
}

.item-ios ion-avatar ion-img,
.item-ios ion-avatar img {
  border-radius: 50%;
  overflow: hidden;
  width: 36px;
  height: 36px;
}

.item-ios ion-thumbnail {
  min-width: 56px;
  min-height: 56px;
}

.item-ios ion-thumbnail ion-img,
.item-ios ion-thumbnail img {
  width: 56px;
  height: 56px;
}

.item-ios[detail-push] .item-inner,
button.item-ios:not([detail-none]) .item-inner,
a.item-ios:not([detail-none]) .item-inner {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23c8c7cc'/></svg>");
  padding-right: 32px;
  background-position: right 14px center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
}

ion-item-group .item-ios:first-child .item-inner {
  border-top-width: 0;
}

ion-item-group .item-ios:last-child .item-inner,
ion-item-group .item-wrapper:last-child .item-ios .item-inner {
  border: 0;
}

.item-divider-ios {
  padding-left: 16px;
  color: #222;
  background-color: #f7f7f7;
}

.item-ios .text-ios-primary {
  color: #923797;
}

.item-ios-primary,
.item-divider-ios-primary {
  color: #fff;
  background-color: #923797;
}

.item-ios-primary p,
.item-divider-ios-primary p {
  color: #fff;
}

.item-ios-primary.activated,
.item-divider-ios-primary.activated {
  background-color: #9b479f;
}

.item-ios .text-ios-secondary {
  color: #F3932D;
}

.item-ios-secondary,
.item-divider-ios-secondary {
  color: #fff;
  background-color: #F3932D;
}

.item-ios-secondary p,
.item-divider-ios-secondary p {
  color: #fff;
}

.item-ios-secondary.activated,
.item-divider-ios-secondary.activated {
  background-color: #e08729;
}

.item-ios .text-ios-tercer {
  color: #f59332;
}

.item-ios-tercer,
.item-divider-ios-tercer {
  color: #fff;
  background-color: #f59332;
}

.item-ios-tercer p,
.item-divider-ios-tercer p {
  color: #fff;
}

.item-ios-tercer.activated,
.item-divider-ios-tercer.activated {
  background-color: #e1872e;
}

.item-ios .text-ios-danger {
  color: #f53d3d;
}

.item-ios-danger,
.item-divider-ios-danger {
  color: #fff;
  background-color: #f53d3d;
}

.item-ios-danger p,
.item-divider-ios-danger p {
  color: #fff;
}

.item-ios-danger.activated,
.item-divider-ios-danger.activated {
  background-color: #e13838;
}

.item-ios .text-ios-light {
  color: #f4f4f4;
}

.item-ios-light,
.item-divider-ios-light {
  color: #000;
  background-color: #f4f4f4;
}

.item-ios-light p,
.item-divider-ios-light p {
  color: #000;
}

.item-ios-light.activated,
.item-divider-ios-light.activated {
  background-color: #e0e0e0;
}

.item-ios .text-ios-dark {
  color: #222;
}

.item-ios-dark,
.item-divider-ios-dark {
  color: #fff;
  background-color: #222;
}

.item-ios-dark p,
.item-divider-ios-dark p {
  color: #fff;
}

.item-ios-dark.activated,
.item-divider-ios-dark.activated {
  background-color: #343434;
}

.list-ios ion-item-sliding {
  background-color: #fff;
}


ion-menu {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: none;
  contain: strict;
}

ion-menu.show-menu {
  display: block;
}

.menu-inner {
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
  -webkit-transform: translate3d(-9999px,  0,  0);
  transform: translate3d(-9999px,  0,  0);
  position: absolute;
  display: block;
  width: 304px;
  height: 100%;
  contain: strict;
}

.menu-inner > ion-header,
.menu-inner > ion-content,
.menu-inner > ion-footer {
  position: absolute;
}

ion-menu[side=left] > .menu-inner {
  right: auto;
  left: 0;
}

ion-menu[side=right] > .menu-inner {
  right: 0;
  left: auto;
}

ion-menu[side=end] > .menu-inner {
  left: auto;
  right: 0;
}

ion-menu ion-backdrop {
  z-index: -1;
  display: none;
  opacity: .01;
}

.menu-content {
  -webkit-transform: translate3d(0,  0,  0);
  transform: translate3d(0,  0,  0);
}

.menu-content-open {
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.menu-content-open ion-pane,
.menu-content-open ion-content,
.menu-content-open .toolbar {
  pointer-events: none;
}

@media (max-width: 340px) {
  .menu-inner {
    width: 264px;
  }
}

ion-menu[type=reveal] {
  z-index: 0;
}

ion-menu[type=reveal].show-menu .menu-inner {
  -webkit-transform: translate3d(0,  0,  0);
  transform: translate3d(0,  0,  0);
}

ion-menu[type=overlay] {
  z-index: 80;
}

ion-menu[type=overlay] .show-backdrop {
  display: block;
}

.ios .menu-inner {
  background: #fff;
}

.ios .menu-content-reveal {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.ios .menu-content-push {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.ios ion-menu[type=overlay] .menu-inner {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.md .menu-inner {
  background: #fff;
}

.md .menu-content-reveal {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.md .menu-content-push {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.md ion-menu[type=overlay] .menu-inner {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.wp .menu-inner {
  background: #f2f2f2;
}

ion-modal {
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  contain: strict;
}

@media not all and (min-width: 768px) and (min-height: 600px) {
  ion-modal ion-backdrop {
    visibility: hidden;
  }
}

.modal-wrapper {
  z-index: 10;
  height: 100%;
  contain: strict;
}

@media only screen and (min-width: 768px) and (min-height: 600px) {
  .modal-wrapper {
    left: calc(50% - (600px/2));
    top: calc(50% - (500px/2));
    position: absolute;
    width: 600px;
    height: 500px;
  }
}

@media only screen and (min-width: 768px) and (min-height: 768px) {
  .modal-wrapper {
    left: calc(50% - (600px/2));
    top: calc(50% - (600px/2));
    position: absolute;
    width: 600px;
    height: 600px;
  }
}

.ios .modal-wrapper {
  -webkit-transform: translate3d(0,  100%,  0);
  transform: translate3d(0,  100%,  0);
}

@media only screen and (min-width: 768px) and (min-height: 600px) {
  .ios .modal-wrapper {
    border-radius: 10px;
    overflow: hidden;
  }
}

.md .modal-wrapper {
  -webkit-transform: translate3d(0,  40px,  0);
  transform: translate3d(0,  40px,  0);
  opacity: .01;
}

@media only screen and (min-width: 768px) and (min-height: 600px) {
  .md .modal-wrapper {
    border-radius: 2px;
    overflow: hidden;
    -webkit-box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
}

.wp .modal-wrapper {
  -webkit-transform: translate3d(0,  40px,  0);
  transform: translate3d(0,  40px,  0);
  opacity: .01;
}
