<ion-header>
  <ion-toolbar>
          <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="this.navController.back()" style="font-size: 20px; margin-left: 26px; margin-right: -26px; color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
          </ion-buttons>
          <ion-title text-center  style="font-size: 18px !important;  text-align: center;  padding-left: 0px; padding-right: 0px; color: var(--ion-color-primary) ;">
              Número de cédula
          </ion-title>
          <ion-title text-center  style="position: absolute; top: 15px; right: 25px;font-size: 14px !important;  text-align: center;  padding-left: 0px; padding-right: 0px; color: var(--ion-color-tertiary) ;">
                2/2
          </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="myview">
    <form  [formGroup]="myForm" (ngSubmit)="enviarformulario()" style="position: absolute; z-index: 4; background-color: white; width: 100%; height: 300px;" #EnForm="ngForm">
              <div padding style="margin-top: 10px;padding-bottom:0px;padding-top:0px">
                    <ion-label style="font-size:16px;font-weight: bold; text-transform: uppercase;">Agrega tu <br> cédula</ion-label>
              </div>
               <div padding style="padding-top: 0px;">
                        <ion-label style="font-size: 13px; color: #767a7d; white-space: normal;">Proporciona tu cédula para buscar en nuestro sistema las deudas que aparezcan a tu nombre</ion-label>
              </div>
              <div padding style="padding-top: 0px;">
                        <ion-label>Número de cédula</ion-label>
                        <ion-item>
                            <ion-input placeholder="Escribe tu número de cédula"  formControlName="cedula" mask="000-0000000-0" maxlength="13" type="numeric"></ion-input>
                        </ion-item>
              </div>
             <!-- <div padding style="white-space: normal; font-size: 14px; z-index: 3; display:none;">
                <ion-checkbox style="margin-right: 10px;"  [(ngModel)]="this.politicas" color="primary" formControlName="valida" checked="false" ></ion-checkbox>
                Al dar click en el botón continuar acepta que usaremos tus datos personales únicamente para tramitar tu solicitud. Te garantizamos que no compartiremos ni comercializaremos tu información personal con nadie.
                <br>
                 <a  style="font-size: 14px !important;" (click)="informacion('2')" href="javascript:"  class="">Políticas de privacidad</a> y <a  style="font-size: 14px !important;" (click)="informacion('2')" href="javascript:"  class="">Términos y condiciones</a>
              </div>
-->

              <div padding style="white-space: normal; font-size: 14px; z-index: 3;">
                
                <b>IMPORTANTE:</b> No compartiremos ni comercializaremos tu información personal con nadie.
               
              </div>
    </form>

</ion-content>
<ion-footer class="ion-no-border" style="height: 50px;">
  <ion-toolbar style="margin-top: -13px;">
    <div padding>
      <ion-button expand="block" [disabled]="!myForm.valid" type="submit"  style="text-transform: none;--box-shadow: #000c3b;" color="secondary" (click)="EnForm.ngSubmit.emit()">Continuar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>