<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Configuración</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>
<ion-content class="myview" color="">

  <div padding class="mostrar-principal" style="margin-top: 15px;margin-top: 10px; padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
        <ion-row style="padding-top: 10px;" (click)="perfileditar()">
          <ion-col col-11>
            <span style="color: var(--ion-color-primary); font-size: 14px;">Editar perfil</span>
          </ion-col>
          <ion-col col-1 style="padding-top: 15px;">
            <ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
            </ion-icon>
          </ion-col>
        </ion-row>

  </div>
  <div padding class="mostrar-principal" style="margin-top: 15px;margin-top: 10px; padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
        <ion-row style="padding-top: 10px;"(click)="perfilclaveeditar()">
          <ion-col col-11>
            <span style="color: var(--ion-color-primary) ; font-size: 14px;">Cambiar contraseña</span>
          </ion-col>
          <ion-col col-1 style="padding-top: 15px;">
            <ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
            </ion-icon>
          </ion-col>
        </ion-row>
  </div>

 

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="" style="--background: #f4f4f4;">
        <ion-row style="margin-top: 10px; margin-left: 10px;">
          <ion-col col-6>
            <ion-label stacked style="margin-top: -30px; margin-left: 10px; color:#000;font-size:10px;"><a (click)="cerrarsession()" href="javascript:" style="font-size: 14px !important;text-decoration: underline;"  class="">Cerrar Sesión</a></ion-label>
          </ion-col>
        </ion-row>
  </ion-toolbar>
</ion-footer>