<ion-header>
  <ion-toolbar>
          <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="this.navController.back()" style="font-size: 20px; margin-left: 26px; margin-right: -26px; color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
          </ion-buttons>
          <ion-title text-center  style="font-size: 18px !important;  text-align: center;  padding-left: 0px; padding-right: 0px; color: var(--ion-color-primary) ;">Crea tu cuenta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="myview">
    <form  [formGroup]="myForm" (ngSubmit)="enviarformulario('1')"  #EnForm="ngForm">
           <div padding style="margin-top: 0px;">
                    <ion-label style="font-size:20px;font-weight: bold;">¡Vamos, creemos tu</ion-label>
                    <ion-label style="font-size:30px;color: #6b7f93 ;">Cuenta!</ion-label>
          </div>
          <div padding style="margin-top: 0px;padding-top: 0px;">
                    <ion-label>Nombres</ion-label>
                    <ion-item>
                        <ion-input style="font-size: 14px;" placeholder="Escribe tus nombres" (input)="getText($event)" formControlName="nombres"  type="text" maxlength="30"></ion-input>
                    </ion-item>
          </div>
          <div padding style="margin-top: 0px;padding-top: 0px;">
                   <ion-label>Apellidos</ion-label>
                    <ion-item>
                        <ion-input style="font-size: 14px;" placeholder="Escribe tus apellidos" (input)="getText($event)"  formControlName="apellidos" type="text" maxlength="30"></ion-input>
                    </ion-item>
          </div>
           <div padding style="padding-top: 0px;padding-top: 0px;">
                        <ion-label>Celular</ion-label>
                        <ion-item>
                            <ion-input style="font-size: 14px;" placeholder="Escribe tu celular"  mask="0000000000"  formControlName="celular" type="numeric"></ion-input>
                        </ion-item>
              </div>      
          <div padding style="margin-top: 0px;padding-top: 0px;">
                    <ion-label>Correo electrónico</ion-label>
                    <ion-item>
                        <ion-input style="font-size: 14px;" placeholder="Escribe tu correo electrónico" formControlName="user" type="text"></ion-input>
                    </ion-item>
          </div>
          <div padding style="padding-top: 0px;padding-top: 0px;">
                    <ion-label>Contraseña</ion-label>
                    <ion-item>
                        <ion-input style="font-size: 14px;" #passwordEyeRegister  [type]="passwordTypeInput"  placeholder="Escribe tu contraseña" formControlName="clave"></ion-input>
                        <button type="button" item-end  style="color: var(--ion-color-tertiary);" class="btn_eye_icon"  (click)="togglePasswordMode()">
                            <ion-icon  [name]="iconpassword"></ion-icon>
                        </button>
                    </ion-item>
          </div>
          <!--
          <div padding>
            <ion-button expand="block" color="primary" [disabled]="!myForm.valid" type="submit">Crear cuenta</ion-button>
          </div>
          
          <div  padding style="padding-top: 6px; text-align: center; font-size: 20px; padding-bottom: 0px;">
              ó
          </div>
          <div  padding style="padding-top: 0px; ">
                <ion-button expand="block" color="primary" (click)="googleSignIn()" type="button">
                    <ion-icon src="assets/icon/google.svg"  style="margin-left: 5px;" slot="start"></ion-icon>
                    <ion-label slot="start" class="login">Registrate con Gmail</ion-label>
                </ion-button>
          </div>
          <div padding style="padding-top: 0px; ">
                <ion-button expand="block" color="primary" (click)="facebookSignIn()" type="button">
                    <ion-icon src="assets/icon/facebook.svg"  style="margin-left: 5px;" slot="start"></ion-icon>
                    <ion-label slot="start" class="login">Registrate con Facebook</ion-label>
                </ion-button>
          </div>-->
    </form>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border" style="height: 50px;">
  <ion-toolbar style="margin-top: -13px;">
        <div padding>
          <ion-button expand="block" type="submit" [disabled]="!myForm.valid" style="text-transform: none; --box-shadow: #000c3b;" color="secondary" (click)="EnForm.ngSubmit.emit()">Siguiente</ion-button>
        </div>
    </ion-toolbar>    
</ion-footer>