<div *ngIf="this.inicio==2" id="inicio"  (click)="quitarresena()" class="inicio">
    <div class="img"></div>
</div>
<ion-header *ngIf="this.inicio==1">
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-2 style="padding-top: 10px;">
              <ion-buttons>
                <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
          </ion-col>
          <ion-col col-10>
             <ion-title text-center>Medio de pago</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>
<ion-content *ngIf="this.inicio==1">
          <div style="color: var(--ion-color-secondary) ; text-align: left; font-size: 14px; margin-top: 10px; padding-bottom:5px;" padding>
                2/2
          </div>
          <div padding style="padding-bottom:0px;     padding-top: 5px;">
                    <ion-label style="font-size:18px; color:  var(--ion-color-primary) !important; white-space: normal;">Elige tu medio de pago</ion-label>
          </div>
          <div padding style="padding-top: 0px;">
                    <ion-label style="font-size: 13px; color: #767a7d; white-space: normal;">Estos son los detalles de la propuesta</ion-label>
          </div>
          <div padding style="padding-top: 10px;   width: 50%;" *ngFor="let item of this.datosdeudas; let i = index" >
                    <div padding class="mostrar-principal">
                            <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 0px;">
                                <ion-col col-12 style="text-align: left;">
                                    <ion-icon  style="margin-bottom: 20px; font-size: 30px;" name="cash-outline"></ion-icon>
                                    <ion-label style="font-size: 13px; color: #767a7d; white-space: normal; margin-bottom: 0px;">Saldo a pagar</ion-label>
                                    <b style="font-size: 14px; color: var(--ion-color-primary);">RD {{item.pago_inicial  | currency:'$ '}}</b>
                                </ion-col>
                            </ion-row>
                    </div>
          </div>
           <div padding style="padding-top: 0px;">
                    <ion-label style="font-size: 13px; color: #767a7d; white-space: normal;">Este valo a pagar fue tu propuesta para resolver la deuda que tienes con el acreedor.</ion-label>
          </div>
          <div padding style="padding-bottom:0px; padding-top: 5px;">
                    <ion-label style="font-size:18px; color:  var(--ion-color-primary) !important; white-space: normal;">Método de pago</ion-label>
          </div>
           <ion-radio-group value="2">
                      <ion-row style="margin-left: 20px;">
                          <ion-col col-12>
                                        <ion-item style="--background: none;--inner-border-width: 0px;">
                                            <ion-radio color="secondary" class="mostrar-radio" value="1"></ion-radio>
                                            <ion-label class="label-monstrar-radio" style="color:  var(--ion-color-primary) !important;">Depósito direto a cuenta</ion-label>
                                        </ion-item>
                          </ion-col>
                          <ion-col col-12>
                                      <ion-item style="--background: none;--inner-border-width: 0px;">
                                          <ion-radio color="secondary" class="mostrar-radio" value="2"></ion-radio>
                                          <ion-label class="label-monstrar-radio" style="color:  var(--ion-color-primary) !important;">Tarjeta débito/crédito</ion-label>
                                      </ion-item>
                          </ion-col>
                      </ion-row>
                  </ion-radio-group>
          <br><br><br><br><br>
          <br><br><br><br><br>
          <br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border" *ngFor="let item of this.datosdeudas; let i = index" > 
  <ion-toolbar color="primary" >
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;"  (click)="continuar()" type="button" color="primary">Pagar RD {{item.pago_inicial  | currency:'$ '}}</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

















