<ion-header>
  <ion-toolbar color="light">
		<ion-title></ion-title>
		<ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
      	</ion-buttons>
       	<ion-buttons slot="end" (click)="linkmenu('notificacion')">
            <ion-icon name="notifications" ion-icon-end></ion-icon>
      	</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu contentId="main-content">
  <ion-content>
    <ion-list id="inbox-list">
      	<div padding style="margin-top: 100px;">
      		<h2>Rating</h2>
      		<br>
      		<div style="border: 1px solid; padding: 10px;">
				<rating [(ngModel)]="this.puntaje" (maxRating)=4 readonly="false" ></rating>
			</div>
		</div>
		<div padding style="margin-top: 0px;">
      		<h2>Nivel Relación</h2>
      		<br>
      		<div style="border: 1px solid; padding: 10px;">
      			<ion-row>
      				<ion-col col-6 style="font-size: 22px; text-align: center;">
		      			<ion-select  value="this.selected2" name="selected2" [(ngModel)]="this.selected2"  style="width: 100% !important; max-width: 100%;">
		                        <ion-select-option value="1">Mayor</ion-select-option>
		                        <ion-select-option value="2">Igual</ion-select-option>
		                        <ion-select-option value="3">Menor</ion-select-option>
		                </ion-select>
		            </ion-col>
		            <ion-col col-6 style="font-size: 22px; text-align: center;">
		            	<ion-select  value="this.selected" name="selected" [(ngModel)]="this.selected"  style="width: 100% !important; max-width: 100%;">
		                        <ion-select-option value="1">1</ion-select-option>
		                        <ion-select-option value="2">2</ion-select-option>
		                        <ion-select-option value="3">3</ion-select-option>
		                        <ion-select-option value="4">4</ion-select-option>
		                        <ion-select-option value="5">5</ion-select-option>
		                </ion-select>
		            </ion-col>
		        </ion-row>
			</div>
		</div>
		<div padding style="margin-top: 10px; text-align: center;">
		 <ion-button (click)="filtro()"  style="text-transform: none; bottom: 30px; width: 111px; color:#fff; " color="warning" type="button">Buscar</ion-button>
		</div>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet  menuId="main-content"  id="main-content" name="main-content" main></ion-router-outlet>
<ion-content class="myview" color="primary">
  <ion-grid no-padding>
      	<div padding style="margin-top: 0px; font-size: 20px;">
          	<ion-row>
          		<ion-col col-5>
          			Seguidores
          		</ion-col>
          		<ion-col col-7>
          				<ion-buttons style="float: right;" (click)="salir()">
			                <ion-icon name="close" ></ion-icon>
			          	</ion-buttons>
          		</ion-col>
          	</ion-row>
      	</div>
      	<div padding>
	      	<ion-row>
				    <ion-col col-8>
				        <div background-size container-hearder-image >
				          <div class="search-bar-bcg">
				            <ion-searchbar style="    padding-left: 0px;" placeholder="" [(ngModel)]="searchTerm" (ionChange)="onSearchTerm($event)"></ion-searchbar>
				          </div>
				        </div>
				    </ion-col>
				    <ion-col col-4 style="padding-top: 25px; text-align: -webkit-center;">
				    	<ion-buttons style="font-size: 18px; text-align: center; width: 21px;" (click)="filtrar()">
			                <ion-icon name="funnel" ></ion-icon>
			          	</ion-buttons>
			          	<!--<ion-buttons style="font-size: 20px;" *ngIf="this.ordena=='2'" (click)="ordenar('2')">
			                <ion-icon name="arrow-down" ></ion-icon>
			          	</ion-buttons>-->
				    </ion-col>
		    </ion-row>
	    </div>
      	<div padding>
      		<div *ngFor="let item of seguidores;">
	          	<div style="border-bottom: 1px solid;  padding-bottom: 8px;"  *ngIf="item.activa=='2'" (click)="sub(item.id)">
			            <ion-row >
				            <ion-col col-6 style="font-size: 14px; text-transform: capitalize;">
				            	{{item.nombre_apellido}}
				            </ion-col>
				            <ion-col col-4 style="font-size: 14px; text-transform: capitalize;">
				            	<div *ngIf="item.color=='1'" >
				                  <ion-icon name="star" ion-icon-end-avatar style="font-size: 17px; color: #A78107;"></ion-icon>
				                  ({{item.seguidores}})
				                </div>
				                <div *ngIf="item.color=='2'" >
				                  <ion-icon name="star" ion-icon-end-avatar style="font-size: 17px; color: #B4AEAE;"></ion-icon>
				                  ({{item.seguidores}})
				                </div>
				                <div *ngIf="item.color=='3'" >
				                  <ion-icon name="star" ion-icon-end-avatar style="font-size: 17px; color: #F4E409;"></ion-icon>
				                  ({{item.seguidores}})
				                </div>
				                <div *ngIf="item.color=='4'" >
				                  <ion-icon name="star" ion-icon-end-avatar style="font-size: 17px; color: #EE1C40;"></ion-icon>
				                  ({{item.seguidores}})
				                </div>
				            	
				            </ion-col>
				            <ion-col col-2 style="font-size: 14px; text-transform: capitalize;">
				            	{{item.nivel}}
				            </ion-col>
				        </ion-row>
		        </div>
	        </div>
      	</div>
  </ion-grid>
</ion-content>