<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Contraoferta</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>



<ion-content>
  <div padding style="margin-top: 0px; padding-bottom: 10px; margin-bottom: 10px; padding-top: 30px; background-color: #001c6b;"  *ngFor="let item of this.datosdeudas; let i = index">
      <ion-label style="font-size: 24px; margin-top: -5px; color: #fff; white-space: normal;">Deuda con </ion-label>

      <ion-row style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #fff;">Deuda total</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.installment_pay_num_offer}}</b>
        </ion-col>
      </ion-row>


  </div>
  <!--<div padding style="padding-bottom:0px; padding-top: 15px;">
    <ion-label style="font-size:18px; color:  var(--ion-color-primary) !important; white-space: normal;">Contraoferta
    </ion-label>
  </div>-->
  <!--<div padding style="padding-top: 0px;">
    <ion-label style="font-size: 13px; color: #767a7d; white-space: normal;">Basado en la propuesta que realizaste para
      solucinar este producto, revisamos y te hemos realizado una contraoferta, aquí podrás revisar los detalles de
      esta.</ion-label>-->
  <!--<ion-button expand=" " type="button"
      style="--box-shadow: 0px; --border-color: var(--ion-color-primary); --border-style: solid; --border-width: 1px;  --background: white; color: #303131;text-transform: none;"
      (click)="propuestainicial(this.deudaid)"> Ver propuesta inicial </ion-button>-->
  <!--</div> -->
  <div padding style="padding-top: 10px;" *ngFor="let item of this.datosdeudas; let i = index">
    <div padding class="mostrar-principal2" style=" margin-top: 0px;">
      <ion-row style="border-bottom: 1px solid #303131;  margin-bottom: 15px;">
        <ion-col col-2>
          <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
        </ion-col>
        <ion-col col-10>
          <ion-label style="font-size: 14px; color:  var(--ion-color-secondary) !important; margin-left: 0px;"
            class="label-monstrar-radio">Detalles de la contraoferta</ion-label>
        </ion-col>
      </ion-row>

      <!-- <ion-row style="border-bottom: 1px solid #303131;  margin-bottom: 15px;">
        <ion-col col-12>
             <ion-label style="font-size: 13px; color: #767a7d; white-space: normal;">
              Basado en la propuesta que realizaste para solucinar este producto, revisamos y te hemos realizado una contraoferta, aquí podrás revisar los detalles de esta.
          </ion-label>
        </ion-col>
    </ion-row>-->
      <ion-row style="border-bottom: 1px solid #303131;  margin-bottom: 15px;">
        <ion-col col-12>
          <ion-label style="font-size: 14px; color:  #fff !important; margin-left: 0px;" class="label-monstrar-radio">
            {{this.dated}} {{this.datem}}, {{this.datey}}</ion-label>


          <ion-label *ngIf="item.product_type_id == 2 && item.status!='LC'"
            style="font-size: 14px; color:  #fff !important; margin-left: 0px; white-space: normal;"
            class="label-monstrar-radio">
            Luego de revisar tu propuesta, hemos decidido otorgarte un refinanciamiento para saldar la deuda
            {{item.application_id}} con {{this.solicitudespendientes2}} bajo los siguientes términos
          </ion-label>

          <ion-label *ngIf="item.product_type_id == 2 && item.status=='LC'"
            style="font-size: 14px; color:  #fff !important; margin-left: 0px; white-space: normal;"
            class="label-monstrar-radio">
            Luego de revisar tu propuesta, hemos decidido otorgarte un refinanciamiento para solucionar la deuda
            {{item.application_id}} con {{this.solicitudespendientes2}} bajo los siguientes términos
          </ion-label>

          <ion-label *ngIf="item.product_type_id == 1"
            style="font-size: 14px; color:  #fff !important; margin-left: 0px; white-space: normal;"
            class="label-monstrar-radio">
            Luego de revisar tu propuesta, Hemos decido otorgarte un pago unico para saldar la deuda
            {{item.application_id}} con {{this.solicitudespendientes2}} bajo los siguientes términos
          </ion-label>



        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Deuda original</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.debt_Amount | currency:' '}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;" *ngIf="item.product_type_id=='1'">Pago total para saldar</b>
          <b style="font-size: 14px;" *ngIf="item.product_type_id=='2'">Pago inicial</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <!--
          <b style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.initial_pay_creditor_conteroffer
            | currency:' '}}</b>
          <br>
          <b style="font-size: 10px; color: #fb6900;">(Ofertaste {{item.currency}} {{item.initial_payment_offer |
            currency:' '}})</b> 

          <b *ngIf="item.installment_pay_creditor_amt_conteroffer > 0"
            style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.installment_pay_creditor_amt_conteroffer
            | currency:' '}}</b>
          <b *ngIf="item.installment_pay_creditor_amt_conteroffer == 0 && item.initial_payment_offer > 0"
            style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.installment_pay_creditor_amt_conteroffer
            | currency:' '}}</b>
            
          <br *ngIf="item.installment_pay_creditor_amt_conteroffer > 0 && item.initial_payment_offer > 0">

          <b *ngIf="item.installment_pay_creditor_amt_conteroffer > 0 && item.initial_payment_offer > 0"
            style="font-size: 10px; color: #fb6900;">(Ofertaste {{item.currency}} {{item.initial_payment_offer |
            currency:' '}})</b>

          -->

          <!--<b *ngIf="item.offer_payoff_amount==0" style="font-size: 14px; color: #a8abaf;">{{item.currency}}
                {{item.initial_payment_offer | currency:' ' }}</b>

            <b *ngIf="item.offer_payoff_amount!=0" style="font-size: 14px; color: #a8abaf;">{{item.currency}}
                {{item.offer_payoff_amount
                | currency:' ' }}</b>

            <br *ngIf="item.initial_payment_offer!=0">

            <b *ngIf="item.initial_payment_offer!=0" style="font-size: 10px; color: #fb6900;">(Ofertaste {{item.currency}} {{item.initial_payment_offer | currency:' '}})</b>-->


          <b style="font-size: 14px; color: #a8abaf;" *ngIf="(item.product_type_id==2 && ((item.status=='LC' || item.status=='CO'))  ||  item.status=='WSA' ) ; else conditionFalse"> 
             {{item.currency}} {{item.initial_pay_creditor_conteroffer | currency:' ' }}
          </b>
          <b style="font-size: 10px; color: #fb6900;" *ngIf="(item.product_type_id==2 && ((item.status=='LC' || item.status=='CO'))  ||  item.status=='WSA' )"> 
             (Ofertaste {{item.currency}} {{item.initial_payment_offer | currency:' '}})
          </b>

          <ng-template #conditionFalse>
              <b style="font-size: 14px; color: #a8abaf;" *ngIf="item.initial_payment_offer==0">{{item.currency}} {{item.final_agree_debt_amount | currency:' ' }}</b>
              <b style="font-size: 14px; color: #a8abaf;" *ngIf="item.initial_payment_offer!=0">{{item.currency}} {{item.initial_payment_offer | currency:' ' }}</b>
              <br/>
              <b style="font-size: 10px; color: #fb6900;">(Ofertaste {{item.currency}} {{item.offer_payoff_amount | currency:' '}})</b>
          </ng-template>


        </ion-col>
      </ion-row>

      

      <ion-row *ngIf="item.product_type_id == 2 && item.status_text!='En proceso'" style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Descuento otorgado</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{ (item.requested_amount-item.final_agree_debt_amount)  | currency:' '}}</b>
        </ion-col>
      </ion-row>



      <ion-row *ngIf="item.product_type_id == 2" style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Restante a financiar</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
        <!--  <b style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.debt_Amount - item.installment_pay_creditor_amt_conteroffer | currency:' '}}</b>-->

           <!--
          <b style="font-size: 14px; color: #a8abaf;" *ngIf="item.status!='WSA'">{{item.currency}} {{item.requested_amount | currency:' '}}</b>
          <b style="font-size: 14px; color: #a8abaf;" *ngIf="item.status=='WSA'">{{item.currency}} {{item.final_agree_debt_amount | currency:' '}}</b>
        -->
          <b style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.final_agree_debt_amount | currency:' '}}</b>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.product_type_id == 2" style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Número cuotas</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <!--<b style="font-size: 14px; color: #a8abaf;">{{item.installment_pay_creditor_num_conteroffer}}</b>-->

          <b style="font-size: 14px; color: #a8abaf;">{{item.installment_pay_num_offer}}</b>
          <br>
          <b style="font-size: 10px; color: #fb6900;">(Ofertaste {{item.installment_pay_num_offer}})</b>
        </ion-col>
      </ion-row>



      <ion-row *ngIf="item.product_type_id == 2" style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Tasa de interés</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #a8abaf;">{{item.rate}} %</b>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.product_type_id == 2" style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Cuota mensual</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #a8abaf;">{{item.currency}}
            {{item.installment_pay_creditor_amt_conteroffer | currency:' '}}</b>
          <br>
          <b style="font-size: 10px; color: #fb6900;">(Ofertaste {{item.installment_pay_amt_offer}})</b>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <br><br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <div no-padding>
      <ion-button expand="block" type="button" style="--box-shadow:0px;  text-transform: none;" (click)="continuar()"
        type="button" color="primary">Aceptar contraoferta</ion-button>
    </div>
  </ion-toolbar>
  <ion-toolbar color="tertiary">
    <div no-padding>
      <ion-button expand="block" type="button" style="--box-shadow:0px; text-transform: none;" (click)="asesor()"
        type="button" color="tertiary">Solicitar ayuda de un asesor</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>