<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Contraoferta</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>



<ion-content>
  <div padding style="margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px; padding-top: 30px; background-color: #001c6b;"  *ngFor="let item of this.datosdeudas; let i = index">
      <ion-label style="font-size: 24px; margin-top: -5px; color: #fff; white-space: normal;">Deuda con {{this.solicitudespendientes2 }}</ion-label>
      <ion-row style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #fff;">Deuda total</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.currency}} {{item.debt_Amount | currency:' '}}</b>
        </ion-col>
      </ion-row>
       <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 16px;  color: #fff;">
            Tu ofertaste
            <br>
            <span style="font-size: 11px; color: #fff; font-style: italic;" *ngIf="item.product_type_id=='1'">Ofreciste un pago total</span>
            <span style="font-size: 11px; color: #fff; font-style: italic;" *ngIf="item.product_type_id=='2'">Ofreciste un pago a plazos</span>
          </b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #fff;">
            <b style="font-size: 14px;" *ngIf="item.product_type_id=='1'">Pago total para saldar</b>
            <b style="font-size: 14px;" *ngIf="item.product_type_id=='2'">Pago inicial</b>
          </b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
            <b style="font-size: 14px; color: #fff;" *ngIf="(item.product_type_id==2 && ((item.status=='LC' || item.status=='CO'))  ||  item.status=='WSA' ) ; else conditionFalse"> 
              {{item.currency}} {{item.initial_payment_offer | currency:' '}}
            </b>
            <ng-template #conditionFalse>
                <b style="font-size: 14px; color: #fff;">{{item.currency}} {{item.offer_payoff_amount | currency:' '}}</b>
            </ng-template>
        </ion-col>
      </ion-row>
       <ion-row *ngIf="item.product_type_id == 2" style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px; color: #fff;">Restante a financiar</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.currency}} {{item.final_agree_debt_amount | currency:' '}}</b>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="item.product_type_id == 2" style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px; color: #fff;">Cuotas</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.installment_pay_num_offer}}</b>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.product_type_id == 2" style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px; color: #fff;">Cuota mensual a pagar</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.installment_pay_amt_offer}}</b>
        </ion-col>
      </ion-row>
  </div>




    <div padding style="margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px; padding-top: 30px; background-color: #fff;"  *ngFor="let item of this.datosdeudas; let i = index">
      <ion-label style="font-size: 24px; margin-top: -5px; color: #001c6b; white-space: normal;">
          Contraoferta {{this.solicitudespendientes2 }}
          <br>
          <span style="font-size: 14px; color: #333638a8; font-style: italic;">Basado en tu propuesta hemos realizado una contraoferta bajo los siguientes términos</span>
      </ion-label>
      <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #001c6b;">Deuda original</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #001c6b;">{{item.currency}} {{item.debt_Amount | currency:' '}}</b>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #001c6b;">
            <b style="font-size: 14px;" *ngIf="item.product_type_id=='1'">Pago total para saldar</b>
            <b style="font-size: 14px;" *ngIf="item.product_type_id=='2'">Pago inicial</b>
          </b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
            <b style="font-size: 14px; color: #001c6b;" *ngIf="(item.product_type_id==2 && ((item.status=='LC' || item.status=='CO'))  ||  item.status=='WSA' ) ; else conditionFalse"> 
              {{item.currency}} {{item.initial_pay_creditor_conteroffer | currency:' ' }}
            </b>
            <ng-template #conditionFalse>
                <b style="font-size: 14px; color: #001c6b;" *ngIf="item.initial_payment_offer==0">{{item.currency}} {{item.final_agree_debt_amount | currency:' ' }}</b>
                <b style="font-size: 14px; color: #001c6b;" *ngIf="item.initial_payment_offer!=0">{{item.currency}} {{item.initial_payment_offer | currency:' ' }}</b>
            </ng-template>
        </ion-col>
      </ion-row>
       <ion-row *ngIf="item.product_type_id == 2" style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px; color: #001c6b;">Restante a financiar</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
            <b style="font-size: 14px; color: #001c6b;" *ngIf="(item.product_type_id==2 && ((item.status=='LC' || item.status=='CO'))  ||  item.status=='WSA' ) ; else conditionFalse"> 
              {{item.currency}} {{(item.debt_Amount - item.initial_pay_creditor_conteroffer) | currency:' ' }}
            </b>
            <ng-template #conditionFalse>
                <b style="font-size: 14px; color: #001c6b;" *ngIf="item.initial_payment_offer==0">{{item.currency}} {{(item.debt_Amount - item.final_agree_debt_amount) | currency:' ' }}</b>
                <b style="font-size: 14px; color: #001c6b;" *ngIf="item.initial_payment_offer!=0">{{item.currency}} {{(item.debt_Amount - item.initial_payment_offer) | currency:' ' }}</b>
            </ng-template>
        </ion-col>
      </ion-row>
  <br><br><br><br><br><br>
  </div>
  <br><br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <div no-padding>
      <ion-button expand="block" type="button" style="--box-shadow:0px;  text-transform: none;" (click)="continuar()"
        type="button" color="primary">Aceptar contraoferta</ion-button>
    </div>
  </ion-toolbar>
  <ion-toolbar color="" style="    text-align: center;">
    <div no-padding>
      <a (click)="asesor()"  style="font-size: 14px !important; color: #000c3b !important; text-decoration-line: underline;"  class="">Solicitar ayuda de un asesor</a> 
    </div>
  </ion-toolbar>
</ion-footer>