.item-inner{
  border: 0px;
}
.incluir{
   font-size: 14px;
    white-space: normal;
    text-align: center;
    border: 1px solid var(--ion-color-primary);
    border-radius: 15px;
    height: 40px;
    padding-top: 4px;
    color: var(--ion-color-primary);
}

ion-title{
  padding-left: 0px;
  padding-right: 30px;
}
.back{
  font-size: 20px;
    margin-left: 26px;
    margin-right: -26px;
}
.mostrar-principal{
    border-radius: 15px 15px 15px 15px;
    background-color: #fff;
    margin-bottom: 10px;
}
.mostrar-radio{
      --size: 23px;
    --border-radius: 50%;
}
ion-content{
    --background: #f4f4f4;
}
form{
    background-color: #b1d9f8; 
}
[ion-icon-incluir]{
    margin-right: 10px;
    font-size: 25px;
    color: var(--ion-color-secondary);
}
[ion-icon-end]{
    margin-right: 20px;
    font-size: 25px;
}
[ion-icon-end-add]{
    color: white;
    font-size: 25px;
}
ion-label{
    font-size: 18px;
      margin-bottom: 10px;
}
ion-footer{
    position: absolute;
      bottom: 0px;
}
ion-button{
      font-size: 14px;
      text-align: center;
      background-color: none;
      text-transform: none;
      --border-radius: 8px;
  }
ion-toolbar{
    --background: none;
}
[ion-icon-end-avatar]{
    position: absolute;
    margin-left: -7px;
}
[ion-icon-contato]{
  margin-right: 10px;
}
ion-item{
    border-radius: 7px 7px 7px 7px;
}   
[div-score]{
    border-radius: 7px 7px 7px 7px;
    font-size: 13px;
    text-align: center;
    background-color: #21252959;
    padding: 7px;
}
ion-header{
  margin-bottom: -8px;
}
super-tabs-toolbar {
    color: white;
    height: 48px;
}

super-tabs-toolbar ion-icon {
    margin-top: -5px;
    --st-icon-size: 18px;
    --st-base-color-inactive: white;
    --st-icon-color-active: white;
}

super-tab-button {
    height: 48px !important;
}

.header-md:after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none;
    background-repeat: repeat-x;
    content: "";
}


ion-icon {
    display: inline-block;
    font-size: 18px;
    /*color: #b1d9f8;*/
}

.principal{
  margin-top: 10px;
}

ion-tab-button {
  padding-top: 5px;
}

.button-md_principal{
      float: none;
      width: 140px;
      height: 118px;
      color: #f79633;
      margin-top:   15px;
      margin-right: 3%;
      margin-left:  3%;
      border: 1px #777 solid;
      background-color: #ffffff;
      padding: 0px;
      -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
      -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
      box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
      border-radius: 10px 10px 0px 0px;
}
[ion-slide]{
    width: 100% !important;
}
[item-principal] {
  margin-top: 20px;
}
ion-menu ion-content {
      --background: #343a40;
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 0px 0;
}

ion-menu.md ion-note {
  margin-bottom: 15px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  /*padding-left: 10px;*/
}

ion-menu.md ion-list#inbox-list {
  /*border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);*/
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  --background: #343a40;
    color: #fff;
    font-size: 17px;
}

ion-menu.md ion-item.selected {
    --background: #343a40;
    font-size: 17px;
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 0px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
  --background: #343a40;
    color: #fff;
    font-size: 17px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: #fff;
}