<ion-header>
	<ion-toolbar color="light">
		<ion-title text-center>
			<img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="myview" color="">
	
	<div padding class="mostrar-principal" style="margin-top: 15px;padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
		
	</div>

</ion-content>