<div *ngIf="this.inicio==2" id="inicio"  (click)="quitarresena()" class="inicio">
    <div class="img"></div>
</div>
<ion-header *ngIf="this.inicio==1">
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-2 style="padding-top: 10px;">
              <ion-buttons>
                <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
          </ion-col>
          <ion-col col-10>
             <ion-title text-center>Detalles de la propuesta</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>
<ion-content *ngIf="this.inicio==1">
          <div style="color: var(--ion-color-secondary) ; text-align: left; font-size: 14px; margin-top: 10px; padding-bottom:5px;" padding>
                1/2
          </div>
          <div padding style="padding-bottom:0px;     padding-top: 5px;">
                    <ion-label style="font-size:18px; color:  var(--ion-color-primary) !important; white-space: normal;">¡Felicidades! tu propuesta de nuevo</ion-label>
          </div>
          <div padding style="padding-top: 0px;">
                    <ion-label style="font-size: 13px; color: #767a7d; white-space: normal;">Estos son los detalles de la propuesta</ion-label>
          </div>
          <div padding style="padding-top: 10px;" *ngFor="let item of this.datosdeudas; let i = index" >
                    <div padding class="mostrar-principal">
                            <ion-row style="border-bottom: 1px solid #dee2e6;  margin-bottom: 15px;">
                                <ion-col col-2>
                                      <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png" > 
                                </ion-col>
                                <ion-col col-10>
                                      <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px;" class="label-monstrar-radio">Detalles de la deuda inicial</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row style="border-bottom: 1px solid #e9ecef; margin-bottom: 15px;">
                                <ion-col col-6>
                                  <b style="font-size: 14px;">Número de cuenta</b>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;">
                                    <b style="font-size: 14px; color: #a8abaf;">{{item.identifica_banco}}</b>
                                </ion-col>
                            </ion-row>
                            <ion-row style="border-bottom: 1px solid #e9ecef; margin-bottom: 15px;">
                                <ion-col col-6>
                                  <b style="font-size: 14px;">Banco</b>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;">
                                    <b style="font-size: 14px; color: #a8abaf;">{{item.banco_deuda}}</b>
                                </ion-col>
                            </ion-row>
                            <ion-row style="border-bottom: 1px solid #e9ecef; margin-bottom: 15px;">
                                <ion-col col-6>
                                  <b style="font-size: 14px;">Monto total</b>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;">
                                    <b style="font-size: 14px; color: #a8abaf;">RD {{item.monto_deuda  | currency:'$ '}}</b>
                                </ion-col>
                            </ion-row>
                    </div>
                    <div padding class="mostrar-principal" style=" margin-top: 20px;">
                             <ion-row style="border-bottom: 1px solid #dee2e6;  margin-bottom: 15px;">
                                <ion-col col-2>
                                      <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png" > 
                                </ion-col>
                                <ion-col col-10>
                                      <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px;" class="label-monstrar-radio">Detalles de la propuesta que ofreciste</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
                                <ion-col col-6>
                                  <b style="font-size: 14px;">Saldo ofertado</b>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;">
                                    <b style="font-size: 14px; color: #a8abaf;">RD {{item.pago_inicial  | currency:'$ '}}</b>
                                </ion-col>
                            </ion-row>
                    </div>

                    <div padding class="mostrar-principal2" style=" margin-top: 20px;">
                            <ion-row style="border-bottom: 1px solid #303131;  margin-bottom: 15px;">
                                <ion-col col-2>
                                      <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png" > 
                                </ion-col>
                                <ion-col col-10>
                                      <ion-label style="font-size: 14px; color:  var(--ion-color-secondary) !important; margin-left: 0px;" class="label-monstrar-radio">Detalles de la propuesta aceptada</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
                                <ion-col col-6>
                                  <b style="font-size: 14px;">Número de cuenta</b>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;">
                                    <b style="font-size: 14px; color: #a8abaf;">{{item.identifica_banco}}</b>
                                </ion-col>
                            </ion-row>
                            <ion-row style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
                                <ion-col col-6>
                                  <b style="font-size: 14px;">Banco</b>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;">
                                    <b style="font-size: 14px; color: #a8abaf;">{{item.banco_deuda}}</b>
                                </ion-col>
                            </ion-row>
                            <ion-row style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
                                <ion-col col-6>
                                  <b style="font-size: 14px;">Descuento otorgado</b>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;">
                                    <b style="font-size: 14px; color: #a8abaf;">{{( 100 - ((item.pago_inicial*100) / item.monto_deuda)) | number:"1.0-2"}}%</b>
                                </ion-col>
                            </ion-row>
                            <ion-row style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
                                <ion-col col-6>
                                  <b style="font-size: 14px;">Saldo aceptado</b>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;">
                                    <b style="font-size: 14px; color: #a8abaf;">RD {{item.pago_inicial  | currency:'$ '}}</b>
                                </ion-col>
                            </ion-row>
                            <ion-row style="border-bottom: 1px solid #303131; margin-bottom: 15px;">
                                <ion-col col-6>
                                  <b style="font-size: 14px;">Válida hasta</b>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;">
                                    <b style="font-size: 14px; color: #a8abaf;">20 Agosto, 2020</b>
                                </ion-col>
                            </ion-row>
                    </div>

                    <div padding style="white-space: normal; font-size: 14px;">
                      Al dar click en el botón Pagar acepta todas las <a  style="font-size: 14px !important;" (click)="informacion('2')" href="javascript:"  class="">Políticas</a> y <a  style="font-size: 14px !important;" (click)="informacion('2')" href="javascript:"  class="">Términos</a> provisto en el contrato de uso.
                    </div>
          </div>
          <br><br><br><br><br>
          <br><br><br><br><br>
          <br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border" *ngFor="let item of this.datosdeudas; let i = index" > 

  <ion-toolbar color="primary" >
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;"  (click)="continuar()" type="button" color="primary">Pagar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

















