<div *ngIf="this.inicio==2" id="inicio" (click)="quitarresena()" class="inicio">
  <div class="img"></div>
</div>
<ion-header *ngIf="this.inicio==1">
  <ion-toolbar color="light">
    <ion-row>
      <ion-col col-2 style="padding-top: 10px;">
        <ion-buttons>
          <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
      </ion-col>
      <ion-col col-10>
        <ion-title text-center>Ofrecer un nuevo saldo</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="this.inicio==1">
  <div padding style="margin-top: 10px;padding-bottom:0px">
    <ion-label style="font-size:18px; color:  var(--ion-color-primary) !important; white-space: normal;">Estás
      ofreciendo un nuevo saldo para deuda</ion-label>
  </div>
  <div padding style="padding-top: 30px;">
    <div padding *ngFor="let item of this.datosdeudas; let i = index" class="mostrar-principal">
      <ion-row style="border-bottom: 1px solid #dee2e6;">
        <ion-col col-2>
          <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
        </ion-col>
        <ion-col col-10>
          <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px;"
            class="label-monstrar-radio">Estás solucionando este producto</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-10>
          <ion-item style="--inner-border-width: 0px; --padding-start: 0px;">
            <ion-label *ngIf="item.tipo_deuda=='1'"
              style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">Tarjeta de Crédito
            </ion-label>
            <ion-label *ngIf="item.tipo_deuda=='2'"
              style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">Préstamo</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-icon *ngIf="item.tipo_deuda=='1'" style="margin-top: 20px;" name="card-outline"></ion-icon>
          <ion-icon *ngIf="item.tipo_deuda=='2'" style="margin-top: 20px;" name="cash-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
        <ion-col col-6>
          <!--<b *ngIf="item.tipo_deuda=='1'" style="font-size: 14px;">**** {{item.identifica_banco}}</b>-->

          <b *ngIf="item.tipo_deuda=='1'" style="font-size: 14px;">{{item.identifica_banco}}</b>
          <b *ngIf="item.tipo_deuda=='2'" style="font-size: 14px;">{{item.identifica_banco}}</b>
          <br>
          <b style="font-size: 14px; font-weight: normal; color: #a8abaf;">{{item.banco_deuda}}</b>
        </ion-col>
        <ion-col col-6 style="padding-top: 20px;">
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Monto deuda</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 16px; color: #a8abaf;">{{this.currency}}$ {{item.monto_deuda}}</b>
        </ion-col>
      </ion-row>
      <div class="opciones">
        <ion-row>
          <ion-col col-12>
            <ion-label style="color: #000; margin-left: 15px; font-size: 14px; margin-top: 20px;margin-bottom: -10px;">
              Monto que ofreces para saldar:</ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="padding-top: 10px;">
          <ion-col col-12>
            <ion-label
              style="margin-top: 4px; margin-left: 10px; font-size: 15px; color: #000000; margin-bottom: -11px;">
              {{this.currency}} {{this.checkbox_cuo[i] | currency:'$ ' }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="padding-bottom: 0px; padding-top: 20px; text-align: right; color: #f3932d;">
            <b color="primary"> {{( 100 - ((this.checkbox_cuo[i]*100) / item.monto_deuda2)) | number:"1.0-0"}} %
              Desc</b>
          </ion-col>
          <ion-col col-12 style="padding-bottom: 0px; padding-top: 0px;">
            <!--
                          <ion-range min="0" max="item.monto_deuda2" step="50000" [(ngModel)]="this.checkbox_cuo[i]"  value="8" snaps="true" color="primary">
                            
                          </ion-range>-->
            
            <!--
            <ion-range style="--bar-height: 4px; padding-bottom: 0px; padding-top: 0px; --knob-size:25px;"
              [(ngModel)]="this.checkbox_cuo[i]" min="0" max="{{item.monto_deuda2}}" color="secondary"></ion-range>

            -->

            <ion-input style="    background: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;" maxlength="10"  [(ngModel)]="this.checkbox_cuo[i]"  (input)="getText($event, i)" (ionBlur)="vaciar2(i)" (ionFocus)="vaciar(i)"  type="tel"></ion-input>

          </ion-col>
          <ion-col col-12>
            <b color="primary" style="margin-left: 10px; color: #aaacb0;">{{this.currency}}$ 0</b>
            <b color="primary" style="float: right; margin-right: 10px; color: #aaacb0;">{{this.currency}}$
              {{item.monto_deuda}}</b>
          </ion-col>
          <ion-col col-12 style="padding-top: 10px; ">
            <b color="primary" style="margin-left: 10px; color: #aaacb0;"> * Tienes mayor probabilidad de que aprueben
              su solicitud</b>
            <br><br><br>
          </ion-col>
        </ion-row>

      </div>
    </div>
  </div>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border" *ngFor="let item of this.datosdeudas; let i = index">


  <ion-row no-padding style="height: 60px; border-radius: 10px 10px 10px 10px;" *ngIf="item.tipo_deuda=='1'">
    <ion-col col-8 no-padding style="background-color: #ffffff; border-radius: 15px 0px 0px 0px;">
      <ion-label style="margin-left: 10px; margin-bottom: 5px; margin-top: 7px; font-size: 14px; font-weight: normal;">
        Tarjeta de Crédito <span style="color: #007bff;">{{item.identifica_banco}}</span></ion-label>
      <span style="position: absolute; z-index: 1; margin-left: 47%;">90%</span>
      <ion-progress-bar class="barraprocesost" color="secondary" value=0.9>90%</ion-progress-bar>
    </ion-col>
    <ion-col col-4 no-padding style="background-color: #3c485f; border-radius: 0px 15px 0px 0px;">
      <ion-label
        style="margin-left: 10px; margin-bottom: 5px; margin-top: 7px; font-size: 14px; font-weight: normal; color: #f4f4f4">
        Préstamo</ion-label>
      <span style="position: absolute; z-index: 1; margin-left: 47%;color: #3c485f">0%</span>
      <ion-progress-bar class="barraprocesosp" color="light" value=0>0%</ion-progress-bar>
    </ion-col>
  </ion-row>


  <ion-row no-padding style="height: 60px; border-radius: 10px 10px 10px 10px;" *ngIf="item.tipo_deuda=='2'">
    <ion-col col-4 no-padding style="background-color: #3c485f; border-radius: 15px 0px 0px 0px;">
      <ion-label
        style="margin-left: 10px; margin-bottom: 5px; margin-top: 7px; font-size: 14px; font-weight: normal;color: #f4f4f4">
        Tarjeta de Crédito </ion-label>
      <span style="position: absolute; z-index: 1; margin-left: 47%;">0%</span>
      <ion-progress-bar class="barraprocesosp" color="light" value="0">0%</ion-progress-bar>
    </ion-col>
    <ion-col col-8 no-padding style="background-color: #ffffff; border-radius: 0px 15px 0px 0px;">
      <ion-label style="margin-left: 10px; margin-bottom: 5px; margin-top: 7px; font-size: 14px; font-weight: normal;">
        Préstamo <span style="color: #007bff;">{{item.identifica_banco}}</span></ion-label>
      <span style="position: absolute; z-index: 1; margin-left: 47%;">90%</span>
      <ion-progress-bar class="barraprocesost" color="secondary" value="0.90">90%</ion-progress-bar>
    </ion-col>
  </ion-row>

  <ion-toolbar color="primary">
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;" (click)="continnuar()" type="button"
        color="primary">Enviar solicitud</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>