<ion-header>
    <ion-toolbar color="light">
        <ion-buttons style="position: absolute; margin-top: 10px;">
                <ion-icon (click)="ayuda()" style="font-size: 20px; margin-left: 26px; margin-right: -26px;color: var(--ion-color-primary) ;" name="help-circle-outline"></ion-icon>
                <span style="font-size: 14px; margin-left: 31px; color: var(--ion-color-primary) ;" >Ayuda</span>
         </ion-buttons>
        <ion-title text-center>
            <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="myview" color="">
            <div *ngFor="let item of notificacionesall;">
                    <div *ngIf="item.activo=='1' && (item.tipo=='3' || item.tipo=='4') " padding class="mostrar-principal" style="margin-top: 15px;padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
                        <!--
                        <ion-row *ngIf="item.tipo=='1'">
                            <ion-col col-8 style="padding-top: 11px; font-size: 15px; white-space: normal;">
                                <b>{{item.created | date:"dd/MM/yyyy"}}</b><br>
                                {{item.pregunta}}
                            </ion-col>
                            <ion-col col-4>
                                 <ion-button  (click)="linkrespuesta(item.id)" style="text-transform: none; --background: white; font-size: 11px; color: #000; vertical-align: -webkit-baseline-middle;" >Respuesta</ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="item.tipo=='2'">
                            <ion-col col-8 style="padding-top: 11px; font-size: 15px; white-space: normal;">
                                <b>{{item.created | date:"dd/MM/yyyy"}}</b><br>
                                {{item.pregunta}}
                            </ion-col>
                            <ion-col col-4 style="text-align: left;">
                                 <ion-button  (click)="linkrespuesta_e_query(item.id)" style="text-transform: none; --background: white; font-size: 11px; color: #000; vertical-align: -webkit-baseline-middle; width: 70px;" >Opción</ion-button>
                            </ion-col>
                        </ion-row>
                        -->
                        <ion-row *ngIf="item.tipo=='3'">
                            <ion-col col-12 style="padding-top: 11px; font-size: 15px; white-space: normal;">
                              <b>{{item.titulo}}</b>
                              <br>
                              {{item.created | date}}
                              <br><br>
                              {{item.texto}}
                          </ion-col>
                          <ion-col col-12 style="text-align: left;"  *ngIf="item.url!=null && item.url!=''">
                                <!--
                                    <ion-button  (click)="linkrespuesta_(item.url)" style="text-transform: none; --background: white; font-size: 11px; color: #000; vertical-align: -webkit-baseline-middle; width: 50px;" >Ir</ion-button>
                                -->
                          </ion-col>
                        </ion-row>
                         <ion-row *ngIf="item.tipo=='4'">
                            <ion-col col-12 style="padding-top: 11px; font-size: 15px; white-space: normal;">
                              <b>{{item.titulo}}</b>
                              <br>
                              {{item.created | date}}
                              <br><br>
                              {{item.texto}}
                          </ion-col>
                          <ion-col col-12 style="text-align: left;"  *ngIf="item.url!=null && item.url!=''">
                                <!--
                                    <ion-button  (click)="linkrespuesta_(item.url)" style="text-transform: none; --background: white; font-size: 11px; color: #000; vertical-align: -webkit-baseline-middle; width: 50px;" >Ir</ion-button>
                                -->
                          </ion-col>
                        </ion-row>
                    </div>
            </div>
            <br><br><br><br>
            <br><br><br><br>
</ion-content>