<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;"><b>Ayúdanos a mejorar</b></ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>
<ion-content class="myview" color="">
  <form  [formGroup]="myForm" (ngSubmit)="enviarformulario('1')"  #EnForm="ngForm">
           <div padding style="margin-top: 20px;padding-top: 0px;">
                    <ion-label style="font-size: 17px; color: #001c6b;"><b>Describe como podemos mejorar</b></ion-label>
                    <ion-item style="border: 1px solid #e7dfdf; margin-top: 20px; background-color: #fff;">
                      <ion-textarea [(ngModel)]="text"  maxlength="540" (ionChange)="textareaMaxLengthValidation()" (keyup)="onKey($event)" rows="6" cols="20" formControlName="nombres"  placeholder="Escribe aquí como podemos mejorar"></ion-textarea>
                      <span style="font-size: 14px; color: #001c6b; position: absolute; bottom: 10px; right: 10px;">{{this.contador}} / 540</span>
                    </ion-item>
          </div>
  </form>

 

</ion-content>
<ion-footer class="ion-no-border" style="height: 50px;">
  <ion-toolbar style="margin-top: -13px;">
        <div padding>
          <ion-button expand="block" type="submit" [disabled]="!myForm.valid" style="text-transform: none; --box-shadow: #000c3b;" color="primary" (click)="EnForm.ngSubmit.emit()">Enviar</ion-button>
        </div>
    </ion-toolbar>    
</ion-footer>