<ion-content class="myview" >
        <div *ngIf="this.inicio==2" id="inicio" class="inicio">
            <div class="img"></div>
            <ion-footer class="ion-no-border" >
                    <ion-toolbar *ngIf="this.inicio==2">
                        <div padding text-center>
                          <ion-row>
                            <ion-col col-6>
                            </ion-col>
                            <ion-col col-6>
                              <ion-button  expand="block" (click)="cargarsiguiente()" class="button-secundary">Siguiente</ion-button>
                            </ion-col>
                          </ion-row>
                        </div>
                      </ion-toolbar>
            </ion-footer>
        </div>
        <div *ngIf="this.inicio==21" id="inicio21" class="inicio21">
            <div class="img"></div>
            <ion-footer class="ion-no-border" >
                      <ion-toolbar *ngIf="this.inicio==21">
                        <div padding text-center>
                          <ion-row>
                            <ion-col col-6>
                            </ion-col>
                            <ion-col col-6>
                              <ion-button  expand="block" (click)="cargarsiguiente21()" class="button-secundary">Siguiente</ion-button>
                            </ion-col>
                          </ion-row>
                        </div>
                      </ion-toolbar>
            </ion-footer>
        </div>
        <div *ngIf="this.inicio==3" id="inicio2" class="inicio2">
            <div class="img"></div>
            <ion-footer class="ion-no-border" >
                <ion-toolbar *ngIf="this.inicio==3">
                    <div padding text-center>
                      <ion-row>
                        <ion-col col-6>
                        </ion-col>
                        <ion-col col-6>
                          <ion-button  expand="block" (click)="cargarfinal()" class="button-secundary">Finalizar</ion-button>
                        </ion-col>
                      </ion-row>
                    </div>
                </ion-toolbar>
            </ion-footer>
        </div>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="this.inicio==1">
            <ion-toolbar >
              <div padding text-center style="">
                <ion-row>
                  <ion-col col-12>
                    <ion-button style="height: 50px;" expand="block" (click)="link(2)" class="button-secundary">Crear cuenta</ion-button>
                  </ion-col>
                   <ion-col col-12>
                    <a (click)="link(1)"  style="font-size: 14px !important; color: #011c6b !important; text-decoration-line: underline;"  class="">Ingresa a tu cuenta</a> 
                  </ion-col>
                </ion-row>
              </div>
              <!--
              <div padding text-center style="padding-top: 0px;">
                <a  style="font-size: 14px !important; color: #000c3b !important;    text-decoration-line: underline;" href="https://www.pagadores.com/politica-de-privacidad" class="">privacidad / términos y condiciones</a> 
              </div>
            -->
            </ion-toolbar>
</ion-footer>