	.inicio{
	  height: 100%;
	  width: 100%;
	  z-index: 10;
	  background-color: #f4f4f4;
	}
	.inicio .img{
	  background-image: url('../../assets/images/splas1.png');
	  background-position-x: center;
	  background-color: #ffffff;
	  background-size: contain;
	  background-repeat: no-repeat;
	  height: 100%;
	  width: 100%;
	  z-index: 10;
      display: inline-block;
	}
	.inicio2{
	  height: 100%;
	  width: 100%;
	  z-index: 10;
	  background-color: #16243f;
	}
	.inicio2 .img{
	  background-image: url('../../assets/images/splas3.png');
	  background-position-x: center;
	  background-color: #16243f;
	  background-size: contain;
	  background-repeat: no-repeat;
	  height: 100%;
	  width: 100%;
	  z-index: 10;
	  /*margin-top: 10%;*/
      display: inline-block;
	}
	.inicio21{
	  height: 100%;
	  width: 100%;
	  z-index: 10;
	  background-color: #f4f4f4;
	}
	.inicio21 .img{
	  background-image: url('../../assets/images/splas2.png');
	  background-position-x: center;
	  background-color: #ffffff;
	  background-size: contain;
	  background-repeat: no-repeat;
	  height: 100%;
	  width: 100%;
	  z-index: 10;
      display: inline-block;
	}
	ion-content{
	   --background: url('../../assets/images/inicio.png') no-repeat center/cover;
	}
	ion-footer{
		position: absolute;
    	bottom: 0px;
	}
	ion-toolbar{
		--background: none;
	}
	ion-list{
		 background: none;
	}
	ion-item{
		--ion-item-background: none;
	}
	.button-native{
		border-radius: 5px;
		border-radius: 5px !important;
	}
	.button-secundary{
		    --color: #fff;
		    --background: var(--ion-color-secondary);
	}
	ion-button{
	    font-size: 12px;
	    text-align: left;
	    background-color: none;
	    text-transform: none;
	    --border-radius: 30px;
	}
	[ion-ripple-effect]{
		background-color: blank;
	}
	ion-icon{
		margin-right: 10px;
	}
	.button_negro{
		background-color: blank;
	}
	.button_google{
		background-color: #b1d9f8;
		color: #252525;
	}
	.item-md {
	    padding-left: 16px;
	    padding-right: 0;
	    position: relative;
	    font-size: 1.6rem;
	    font-weight: normal;
	    text-transform: none;
	    color: #000;
	    background-color: transparent;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.item-ios {
	    padding-left: 16px;
	    border-radius: 0;
	    position: relative;
	    font-size: 1.7rem;
	    color: #000;
	    background-color: transparent;
	    -webkit-transition: background-color 200ms linear;
	    transition: background-color 200ms linear;
	}

	.item-md.item-input.ng-valid.item-input-has-focus .item-inner,
	.item-md.item-input.ng-valid.item-input-has-focus, .item-inner {
	     border-bottom-color: #32db64;
	    -webkit-box-shadow: inset 0 -0px 0 0 #32db64;
	    box-shadow: inset 0 -0px 0 0 #32db64;
	}
