<section class="content-header">
  <h1>
    <?= Configure::read('namesysS'); ?>    <small><?php echo __('Depositos'); ?></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<?= $this->Html->url('/Dashboard/')?>"><i class="fa fa-newspaper-o"></i> Inicio</a></li>
    <li class="active"><?php echo __('Depositos'); ?></li>
  </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><?php echo __('Add Deposito'); ?></h3>
                    <hr>
                </div><!-- /.box-header -->
                <div class="box-body">
					<?php echo $this->Form->create('Deposito', array('class'=>'form-horizontal')); ?>
					<div class='row'>
							<div class='col-md-12'>
								<?php
	
echo'<div class="form-group">';	
echo'<label class="control-label col-md-2" for="Depositocedula">cedula</label>';		
echo'<div class="col-md-9">';			
echo $this->Form->input('cedula', array('id'=>'Depositocedula', 'div'=>false, 'label'=>false, 'class'=>'form-control'));		
echo '</div>';	
echo '</div>';
	
echo'<div class="form-group">';	
echo'<label class="control-label col-md-2" for="Depositoimagen">imagen</label>';		
echo'<div class="col-md-9">';			
echo $this->Form->input('imagen', array('id'=>'Depositoimagen', 'div'=>false, 'label'=>false, 'class'=>'form-control'));		
echo '</div>';	
echo '</div>';
	
echo'<div class="form-group">';	
echo'<label class="control-label col-md-2" for="Depositonumero_transaccion">numero_transaccion</label>';		
echo'<div class="col-md-9">';			
echo $this->Form->input('numero_transaccion', array('id'=>'Depositonumero_transaccion', 'div'=>false, 'label'=>false, 'class'=>'form-control'));		
echo '</div>';	
echo '</div>';
	
echo'<div class="form-group">';	
echo'<label class="control-label col-md-2" for="Depositobanco">banco</label>';		
echo'<div class="col-md-9">';			
echo $this->Form->input('banco', array('id'=>'Depositobanco', 'div'=>false, 'label'=>false, 'class'=>'form-control'));		
echo '</div>';	
echo '</div>';
	
echo'<div class="form-group">';	
echo'<label class="control-label col-md-2" for="Depositomonto">monto</label>';		
echo'<div class="col-md-9">';			
echo $this->Form->input('monto', array('id'=>'Depositomonto', 'div'=>false, 'label'=>false, 'class'=>'form-control'));		
echo '</div>';	
echo '</div>';
	
echo'<div class="form-group">';	
echo'<label class="control-label col-md-2" for="Depositocustomer_id">customer_id</label>';		
echo'<div class="col-md-9">';			
echo $this->Form->input('customer_id', array('id'=>'Depositocustomer_id', 'div'=>false, 'label'=>false, 'class'=>'form-control'));		
echo '</div>';	
echo '</div>';
	
echo'<div class="form-group">';	
echo'<label class="control-label col-md-2" for="Depositoapplication_id">application_id</label>';		
echo'<div class="col-md-9">';			
echo $this->Form->input('application_id', array('id'=>'Depositoapplication_id', 'div'=>false, 'label'=>false, 'class'=>'form-control'));		
echo '</div>';	
echo '</div>';
	
echo'<div class="form-group">';	
echo'<label class="control-label col-md-2" for="Depositocreated_at">created_at</label>';		
echo'<div class="col-md-9">';			
echo $this->Form->input('created_at', array('id'=>'Depositocreated_at', 'div'=>false, 'label'=>false, 'class'=>'form-control'));		
echo '</div>';	
echo '</div>';
	
echo'<div class="form-group">';	
echo'<label class="control-label col-md-2" for="Depositoupdated_at">updated_at</label>';		
echo'<div class="col-md-9">';			
echo $this->Form->input('updated_at', array('id'=>'Depositoupdated_at', 'div'=>false, 'label'=>false, 'class'=>'form-control'));		
echo '</div>';	
echo '</div>';
	?>
							</div>
							<div class="col-md-12">
								<div class="form-group">
	                                <div class="col-md-12">
	                                    <?php echo $this->Html->link(__('Volver al listado'), array('action' => 'index')); ?>	                                    <input value="Guardar" class="btn btn-primary pull-right" type="submit">
	                                </div>
	                            </div>
                            </div>
					</div></form>                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
