<div *ngIf="this.finalizar==2" id='inicio1' class="inicio1" (click)="inf_ce('1')"><div class="img"></div></div>
<div *ngIf="this.finalizar==3" id='inicio2' class="inicio2" (click)="inf_ce('1')"><div class="img"></div></div>
<!--<div *ngIf="this.inicio==2" id="inicio" (click)="quitarresena()" class="inicio"><div class="img"></div></div>-->
<ion-header *ngIf="this.inicio==1">
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Solución a la deuda</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header> 
<ion-content *ngIf="this.inicio==1">
        <div padding style="margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px; padding-top: 30px; background-color: #000c3b;"  *ngFor="let item of this.datosdeudas; let i = index">
            <ion-label style="font-size: 14px; margin-top: -5px; color: #fff; white-space: normal;">{{item.banco_deuda }}</ion-label>
            <ion-label style="font-size: 24px; margin-top: -5px; color: #fff; white-space: normal;" *ngIf="item.tipo_deuda=='1'">Tarjeta de Crédito</ion-label>
            <ion-label style="font-size: 24px; margin-top: -5px; color: #fff; white-space: normal;" *ngIf="item.tipo_deuda=='2'">Préstamo</ion-label>



            <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
              <ion-col col-6>
                <b style="font-size: 14px;  color: #fff;">Deuda original</b>
              </ion-col>
              <ion-col col-6 style="text-align: right;">
                <b style="font-size: 14px; color: #fff;">{{item.moneda}}$ {{item.monto_deuda}}</b>
              </ion-col>
            </ion-row>
      </div>
      <div padding style="margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px; padding-top: 18px; padding-left: 0px; padding-right: 0px; " *ngFor="let item of this.datosdeudas; let i = index">
                  <ion-radio-group>
                        <ion-row style="    padding-bottom: 10px; background-color: #fff; margin-bottom: 15px;">
                          <ion-col col-12>
                            <ion-item style="--background: none;--inner-border-width: 0px;">
                              <ion-checkbox color="tertiary" class="mostrar-radio" value="1" (click)="seleccionradio(i, 1)"></ion-checkbox>
                              <ion-label class="label-monstrar-radio">Ofrecer un saldo total</ion-label>
                            </ion-item>
                            <a (click)="inf('2')" style="color: #007bff !important;">
                              <table style="width: 150px; margin-left: 40px;">
                                <tr>
                                  <td style="text-decoration: underline; padding-left: 5px;">
                                    Ver detalle
                                  </td>
                                </tr>
                              </table>
                            </a>
                          </ion-col>
                        </ion-row>
                        <!--- Solicitar refinanciamiento -->
                        <ion-row style="    padding-bottom: 10px; background-color: #fff;">
                          <ion-col col-12>
                            <ion-item style="--background: none;--inner-border-width: 0px;">
                              <ion-checkbox color="tertiary" class="mostrar-radio" (click)="seleccionradio(i, 2)" value="2"></ion-checkbox>
                              <ion-label class="label-monstrar-radio">Solicita un pago a plazo</ion-label>
                            </ion-item>
                            <a (click)="inf('3')" style="color: #007bff !important;">
                              <table style="width: 150px; margin-left: 40px;">
                                <tr>
                                  <td style="text-decoration: underline; padding-left: 5px;">
                                    Ver detalle
                                  </td>
                                </tr>
                              </table>
                            </a>
                          </ion-col>
                        </ion-row>
                  </ion-radio-group>
                  <br><br><br><br><br><br>
      </div>
      <br><br><br><br><br>
      <br><br><br><br><br>
      <br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="this.inicio==1">
  <ion-toolbar color="secondary">
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;" (click)="continnuar()" type="button" color="secondary">Continuar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>