<ion-header *ngIf="this.inicio==1">
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">solución a la deuda</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header> 


<ion-header *ngIf="this.inicio==1">
  <ion-toolbar color="light">
    <ion-row>
      <ion-col col-2 style="padding-top: 10px;">
        <ion-buttons>
          <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
      </ion-col>
      <ion-col col-10>
        <ion-title text-center>solución a la deuda</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<div *ngIf="this.inicio==2" id="inicio" (click)="quitarresena()" class="inicio">
  <div class="img"></div>
</div>

<ion-content *ngIf="this.inicio==1">
  <div padding *ngIf="this.finalizar==2" id='mensajefinalizar' class="mensajefinalizar">
    <b style="font-size: 16px;">Ofrecer un nuevo saldo</b>
    <ion-icon name="close" class="iconmensajefinalizar" (click)="cerrarmensajefinalizar()"></ion-icon>
    <br><br>
    Con esta opción ofreces un pago único al acreedor para saldar la deuda. Es habitual conseguir un descuento sobre el
    balance original adeudado.
    <br><br>
    Ofrece el pago mayor que puedas hacer para saldar la deuda y aumentar las posibilidades de obtener la aprobación del
    saldo de la deuda.
  </div>
  <div padding *ngIf="this.finalizar==3" id='mensajefinalizar' class="mensajefinalizar">
    <b style="font-size: 16px;">Solicitar un pago a plazos</b>
    <ion-icon name="close" class="iconmensajefinalizar" (click)="cerrarmensajefinalizar()"></ion-icon>
    <br><br>
    Evitarás los trámites engorrosos que comúnmente conllevan los préstamos personales.
    <br> 
    Saldarás la deuda anterior y empezarás con un crédito nuevo. Como resultado , incrementará de inmediato tu score crediticio. 
    <br>
    Podrás decidir tú mismo el plazo para saldar (6, 12 ó 18 meses). 
    <br>
    Pagos mensuales más bajos. Al refinanciar la deuda el pago mensual se hace más bajo.
    <br>
    Tasa de interés menor. Reducción de pagos en los intereses de forma general, por lo tanto, mayor contribución a liquidar la deuda.
    <br>
    Cambio a una tasa fija. Estabilidad y ahorro potencial de costos, ya que no hay riesgo de mes con mes aumenten los pagos.
  </div>






  <div padding style="margin-top: 10px;padding-bottom:0px">
    <ion-label style="font-size:18px; color:  var(--ion-color-primary) !important; ">Selecciona como quieres solucionar
      tu deuda</ion-label>
  </div>
  <div padding style="padding-top: 30px;">
    <div padding *ngFor="let item of this.datosdeudas; let i = index" class="mostrar-principal">
      <ion-row style="border-bottom: 1px solid #dee2e6;">
        <ion-col col-2>
          <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
        </ion-col>
        <ion-col col-10>
          <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px;"
            class="label-monstrar-radio">Estás solucionando este producto</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-10>
          <ion-item style="--inner-border-width: 0px; --padding-start: 0px;">
            <ion-label *ngIf="item.tipo_deuda=='1'"
              style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">Tarjeta de Crédito
            </ion-label>
            <ion-label *ngIf="item.tipo_deuda=='2'"
              style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">Préstamo</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-icon *ngIf="item.tipo_deuda=='1'" style="margin-top: 20px;" name="card-outline"></ion-icon>
          <ion-icon *ngIf="item.tipo_deuda=='2'" style="margin-top: 20px;" name="cash-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
        <ion-col col-6>
          <!--<b *ngIf="item.tipo_deuda=='1'" style="font-size: 14px;">**** {{item.identifica_banco}}</b>-->
          <b *ngIf="item.tipo_deuda=='1'" style="font-size: 14px;">{{item.identifica_banco}}</b>
          <b *ngIf="item.tipo_deuda=='2'" style="font-size: 14px;">{{item.identifica_banco}}</b>
          <br>
          <b style="font-size: 14px; font-weight: normal; color: #a8abaf;">{{item.banco_deuda}}</b>
        </ion-col>
        <ion-col col-6 style="padding-top: 20px;">
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Monto deuda</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 16px; color: #a8abaf;">{{item.moneda}}$ {{item.monto_deuda}}</b>
        </ion-col>
      </ion-row>
      <div class="opciones">
        <ion-radio-group>
          <!--- Ofrecer un saldo -->
          <ion-row>
            <ion-col col-12>
              <ion-label style="color: #8f9497; margin-left: 15px; margin-top: 20px;margin-bottom: -10px;">Opciones:
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item style="--background: none;--inner-border-width: 0px;">
                <ion-radio color="secondary" class="mostrar-radio" value="1" (click)="seleccionradio(i, 1)"></ion-radio>
                <ion-label class="label-monstrar-radio">Ofrecer un nuevo saldo</ion-label>
              </ion-item>
              <a (click)="inf('2')" style="color: #007bff !important;">
                <table style="width: 150px; margin-left: 40px;">
                  <tr>
                    <td style="text-align: center;">
                      <ion-icon name="information-circle-outline" style="font-size: 25px; z-index: 10;"></ion-icon>
                    </td>
                    <td style="text-decoration: underline; padding-left: 5px;">
                      Ver más info
                    </td>
                  </tr>
                </table>
              </a>
            </ion-col>
          </ion-row>
          <!--- Solicitar refinanciamiento -->
          <ion-row>
            <ion-col col-12>
              <ion-item style="--background: none;--inner-border-width: 0px;">
                <ion-radio color="secondary" class="mostrar-radio" (click)="seleccionradio(i, 2)" value="2"></ion-radio>
                <ion-label class="label-monstrar-radio">Solicitar un pago a plazo</ion-label>
              </ion-item>
              <a (click)="inf('3')" style="color: #007bff !important;">
                <table style="width: 150px; margin-left: 40px;">
                  <tr>
                    <td style="text-align: center;">
                      <ion-icon name="information-circle-outline" style="font-size: 25px; z-index: 10;"></ion-icon>
                    </td>
                    <td style="text-decoration: underline; padding-left: 5px;">
                      Ver más info
                    </td>
                  </tr>
                </table>
              </a>
            </ion-col>
          </ion-row>
          
        </ion-radio-group>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border" *ngFor="let item of this.datosdeudas; let i = index">


  <ion-row no-padding style="height: 60px; border-radius: 10px 10px 10px 10px;" *ngIf="item.tipo_deuda=='1'">
    <ion-col col-8 no-padding style="background-color: #ffffff; border-radius: 15px 0px 0px 0px;">
      <ion-label style="margin-left: 10px; margin-bottom: 5px; margin-top: 7px; font-size: 14px; font-weight: normal;">
        Tarjeta de Crédito <span style="color: #007bff;">{{item.identifica_banco}}</span></ion-label>
      <span style="position: absolute; z-index: 1; margin-left: 47%;">50%</span>
      <ion-progress-bar class="barraprocesost" color="secondary" value=0.5>50%</ion-progress-bar>
    </ion-col>
    <ion-col col-4 no-padding style="background-color: #3c485f; border-radius: 0px 15px 0px 0px;">
      <ion-label
        style="margin-left: 10px; margin-bottom: 5px; margin-top: 7px; font-size: 14px; font-weight: normal; color: #f4f4f4">
        Préstamo</ion-label>
      <span style="position: absolute; z-index: 1; margin-left: 47%;color: #3c485f">0%</span>
      <ion-progress-bar class="barraprocesosp" color="light" value=0>0%</ion-progress-bar>
    </ion-col>
  </ion-row>


  <ion-row no-padding style="height: 60px; border-radius: 10px 10px 10px 10px;" *ngIf="item.tipo_deuda=='2'">
    <ion-col col-4 no-padding style="background-color: #3c485f; border-radius: 15px 0px 0px 0px;">
      <ion-label
        style="margin-left: 10px; margin-bottom: 5px; margin-top: 7px; font-size: 14px; font-weight: normal;color: #f4f4f4">
        Tarjeta de Crédito </ion-label>
      <span style="position: absolute; z-index: 1; margin-left: 47%;">0%</span>
      <ion-progress-bar class="barraprocesosp" color="light" value="0">0%</ion-progress-bar>
    </ion-col>
    <ion-col col-8 no-padding style="background-color: #ffffff; border-radius: 0px 15px 0px 0px;">
      <ion-label style="margin-left: 10px; margin-bottom: 5px; margin-top: 7px; font-size: 14px; font-weight: normal;">
        Préstamo <span style="color: #007bff;">{{item.identifica_banco}}</span></ion-label>
      <span style="position: absolute; z-index: 1; margin-left: 47%;">30%</span>
      <ion-progress-bar class="barraprocesost" color="secondary" value="0.30">30%</ion-progress-bar>
    </ion-col>
  </ion-row>

  <ion-toolbar color="primary">
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;" (click)="continnuar()" type="button"
        color="primary">Continuar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>