<ion-header>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col col-2 style="padding-top: 10px;">
        <ion-buttons>
          <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
      </ion-col>
      <ion-col col-10>
        <ion-title style="font-size: 18px !important;" text-center>Enviar pago</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="myview" color="">

  <br><br><br><br><br>
  <br><br><br><br><br>

  <ion-row>
    <ion-col col-12>
      <ion-button expand="block" type="button" style="text-transform: none;" color="primary"
        (click)="pagarcuentadeposito(application_id)">
        Enviar comprobante de pago
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-button *ngIf="account_number > 0" expand="block" type="button" style="text-transform: none;" color="primary"
        (click)="pagarcuenta(account_number, application_id)">
        Pagar con TC
      </ion-button>
    </ion-col>
  </ion-row>

  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
</ion-content>