<ion-header>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col col-2 style="padding-top: 10px;">
        <ion-buttons>
          <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
      </ion-col>
      <ion-col col-10>
        <ion-title text-center>Detalle Cuenta {{this.checkbox}}</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div padding style="padding-top: 30px;" *ngFor="let item of this.data; let i = index">
            <div padding  class="mostrar-principal">
                          <ion-row style="border-bottom: 1px solid #dee2e6;">
                            <ion-col col-2>
                              <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
                            </ion-col>
                            <ion-col col-10>
                              <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px;"
                                class="label-monstrar-radio">Detalle de la cuenta {{this.checkbox}}</ion-label>
                            </ion-col>
                          </ion-row>

                           <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
                            <ion-col col-6>
                              <b style="font-size: 14px;">Número de cuenta</b>
                            </ion-col>
                            <ion-col col-6 style="text-align: right;">
                              <b style="font-size: 16px; color: #a8abaf;">{{item.contract_id}}</b>
                            </ion-col>
                          </ion-row>

                          <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
                            <ion-col col-6>
                              <b style="font-size: 14px;">Banco</b>
                            </ion-col>
                            <ion-col col-6 style="text-align: right;">
                              <b style="font-size: 16px; color: #a8abaf;">{{item.banco_deuda}}</b>
                            </ion-col>
                          </ion-row>

                          <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
                            <ion-col col-6>
                              <b style="font-size: 14px;">Balance</b>
                            </ion-col>
                            <ion-col col-6 style="text-align: right;">
                              <b style="font-size: 16px; color: #a8abaf;">{{item.currency}} {{item.new_debt_amount | currency:' '}}</b>
                            </ion-col>
                          </ion-row>

                           <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
                            <ion-col col-6>
                              <b style="font-size: 14px;">Cuotas totales</b>
                            </ion-col>
                            <ion-col col-6 style="text-align: right;">
                              <b style="font-size: 16px; color: #a8abaf;">{{item.rate}}</b>
                            </ion-col>
                          </ion-row>

                          <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
                            <ion-col col-6>
                              <b style="font-size: 14px;">Monto de la cuota</b>
                            </ion-col>
                            <ion-col col-6 style="text-align: right;">
                              <b style="font-size: 16px; color: #a8abaf;">{{item.currency}} {{item.installment_payment | currency:' '}}</b>
                            </ion-col>
                          </ion-row>

                          <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
                            <ion-col col-6>
                              <b style="font-size: 14px;">Próxima cuota</b>
                            </ion-col>
                            <ion-col col-6 style="text-align: right;">
                              <b style="font-size: 16px; color: #a8abaf;">
                                <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="item.next_payment_date"></ion-datetime>
                              </b>
                            </ion-col>
                          </ion-row>
          </div>
          <div padding style="padding-top: 0px;">
                    <ion-row style="border-bottom: 1px solid #dee2e6; margin-bottom: 15px;">
                        <ion-col col-2>
                          <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
                        </ion-col>
                        <ion-col col-10>
                          <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px;"
                            class="label-monstrar-radio">Transacciones</ion-label>
                        </ion-col>
                    </ion-row>
                     <div padding class="mostrar-principal">
                            <ion-row style="border-bottom: 0px solid #e9ecef;">
                                  <ion-col col-6>
                                    <ion-icon  style="margin-top: 20px; font-size: 30px;" name="cash-outline"></ion-icon>
                                  </ion-col>
                                  <ion-col col-6 style="text-align: end;">
                                    <span style="font-size: 16px; color: #b5c10e;">Sin realizar</span>
                                    <br>
                                    <span style="font-size: 16px; color: #b5c10e;">
                                        <ion-datetime style="padding-top: 0px;" displayFormat="DD-MM-YYYY" [(ngModel)]="item.next_payment_date"></ion-datetime>
                                    </span>
                                  </ion-col>
                            </ion-row>
                            <ion-row style="border-bottom: 0px solid #e9ecef; margin-top: 5px;">
                                  <ion-col col-6>
                                    <b style="font-size: 14px; color: #a8abaf;">Saldo a pagar</b>
                                    <br>
                                    <b style="font-size: 16px; ">
                                      {{item.currency}} {{item.installment_payment | currency:' ' }}
                                    </b>
                                  </ion-col>
                                  <ion-col col-6 style="text-align: right;">
                                    
                                  </ion-col>
                            </ion-row>
                            <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
                              <ion-col col-6>
                                <ion-button expand="block" type="button" style="font-size: 14px; text-transform: none;" color="primary" (click)="pagalink(item.contract_id, item.application_id)">
                                  Pagar
                                </ion-button>
                              </ion-col>
                              <ion-col col-6 style="text-align: right;">

                              </ion-col>
                            </ion-row>
                    </div>
                    <div  *ngFor="let item2 of this.dataTransacciones; let i2 = index">
                        <div padding class="mostrar-principal" *ngIf="(item2.transaction_type!=1 && item2.transaction_type!=2)">
                              <ion-row style="border-bottom: 0px solid #e9ecef;">
                                    <ion-col col-6>
                                      <ion-icon  style="margin-top: 20px; font-size: 30px;" name="cash-outline"></ion-icon>
                                    </ion-col>
                                    <ion-col col-6 style="text-align: end;">
                                      <span style="font-size: 16px; color: #52c10e;">Pagado</span>
                                      <br>
                                      <span style="font-size: 16px; color: #52c10e;">
                                          <ion-datetime style="padding-top: 0px;" displayFormat="DD-MM-YYYY" [(ngModel)]="item2.transaction_date"></ion-datetime>
                                      </span>
                                    </ion-col>
                              </ion-row>
                              <ion-row style="border-bottom: 0px solid #e9ecef; margin-top: 5px;">
                                    <ion-col col-6>
                                      <b style="font-size: 14px; color: #a8abaf;">Saldo a pagar</b>
                                      <br>
                                      <b style="font-size: 16px; ">
                                        {{item.currency}}  {{item2.amount | currency:' ' }}
                                      </b>
                                    </ion-col>
                                    <ion-col col-6 style="text-align: right;">
                                      
                                    </ion-col>
                              </ion-row>
                        </div>
                    </div>
            </div>
  </div>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
</ion-content>