<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Detalle cuenta</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header> 

<ion-content>

    <div padding style="margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px; padding-top: 30px; background-color: #001c6b;"  *ngFor="let item of this.data; let i = index">
      <ion-label style="font-size: 14px; margin-top: -5px; color: #fff; white-space: normal;">Detalle de la cuenta</ion-label>
      <ion-label style="font-size: 24px; margin-top: -5px; color: #fff; white-space: normal;">{{this.checkbox }}</ion-label>


      <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #fff;">Número cuenta</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.contract_id}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #fff;">Banco</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.banco_deuda}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #fff;">Balance</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.currency}} {{item.new_debt_amount | currency:' '}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;" *ngIf="item.product_type_id==2">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #fff;">Cuotas</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.rate}} / {{item.rate}}</b>
        </ion-col>
      </ion-row>

       <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #fff;">Pago minimo</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.currency}} {{item.new_debt_amount | currency:' '}}</b>
        </ion-col>
      </ion-row>

       <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #fff;">Próxima cuota</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="item.next_payment_date"></ion-datetime>
        </ion-col>
      </ion-row>
      <div padding style="padding-top: 0px; background-color: #fff;">
                      <ion-row style="border-bottom: 1px solid #dee2e6; margin-bottom: 15px;">
                          <ion-col col-2>
                            <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
                          </ion-col>
                          <ion-col col-10>
                            <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px;"
                              class="label-monstrar-radio">Transacciones</ion-label>
                          </ion-col>
                      </ion-row>
                       <div padding class="mostrar-principal">
                              <ion-row style="border-bottom: 0px solid #e9ecef;">
                                    <ion-col col-6>
                                      <ion-icon  style="margin-top: 20px; font-size: 30px;" name="cash-outline"></ion-icon>
                                    </ion-col>
                                    <ion-col col-6 style="text-align: end;">
                                      <span style="font-size: 16px; color: #b5c10e;">Sin realizar</span>
                                      <br>
                                      <span style="font-size: 16px; color: #b5c10e;">
                                          <ion-datetime style="padding-top: 0px;" displayFormat="DD-MM-YYYY" [(ngModel)]="item.next_payment_date"></ion-datetime>
                                      </span>
                                    </ion-col>
                              </ion-row>
                              <ion-row style="border-bottom: 0px solid #e9ecef; margin-top: 5px;">
                                    <ion-col col-6>
                                      <b style="font-size: 14px; color: #a8abaf;">Saldo a pagar</b>
                                      <br>
                                      <b style="font-size: 16px; ">
                                        {{item.currency}} {{item.installment_payment | currency:' ' }}
                                      </b>
                                    </ion-col>
                                    <ion-col col-6 style="text-align: right;">
                                      
                                    </ion-col>
                              </ion-row>
                              <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
                                <ion-col col-6>
                                  <ion-button expand="block" type="button" style="font-size: 14px; text-transform: none;" color="primary" (click)="pagalink(item.contract_id, item.application_id)">
                                    Pagar
                                  </ion-button>
                                </ion-col>
                                <ion-col col-6 style="text-align: right;">

                                </ion-col>
                              </ion-row>
                      </div>
                      <div  *ngFor="let item2 of this.dataTransacciones; let i2 = index">
                          <div padding class="mostrar-principal" *ngIf="(item2.transaction_type!=1 && item2.transaction_type!=2)">
                                <ion-row style="border-bottom: 0px solid #e9ecef;">
                                      <ion-col col-6>
                                        <ion-icon  style="margin-top: 20px; font-size: 30px;" name="cash-outline"></ion-icon>
                                      </ion-col>
                                      <ion-col col-6 style="text-align: end;">
                                        <span style="font-size: 16px; color: #52c10e;">Pagado</span>
                                        <br>
                                        <span style="font-size: 16px; color: #52c10e;">
                                            <ion-datetime style="padding-top: 0px;" displayFormat="DD-MM-YYYY" [(ngModel)]="item2.transaction_date"></ion-datetime>
                                        </span>
                                      </ion-col>
                                </ion-row>
                                <ion-row style="border-bottom: 0px solid #e9ecef; margin-top: 5px;">
                                      <ion-col col-6>
                                        <b style="font-size: 14px; color: #a8abaf;">Saldo a pagar</b>
                                        <br>
                                        <b style="font-size: 16px; ">
                                          {{item.currency}}  {{item2.amount | currency:' ' }}
                                        </b>
                                      </ion-col>
                                      <ion-col col-6 style="text-align: right;">
                                        
                                      </ion-col>
                                </ion-row>
                          </div>
                      </div>
      </div>
  </div>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
</ion-content>