<ion-header>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col col-2 style="padding-top: 10px;">
        <ion-buttons>
          <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
      </ion-col>
      <ion-col col-10>
        <ion-title text-center>Localizar deudas</ion-title>
      </ion-col>
    </ion-row>
    <!--
          <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-buttons slot="end" (click)="linkmenu('top', 0)">
                <ion-icon name="trophy" ion-icon-end></ion-icon>
          </ion-buttons>
          <ion-buttons slot="end" (click)="linkmenu('notificacion', 0)">
                <ion-icon name="notifications" ion-icon-end></ion-icon>
          </ion-buttons>-->
  </ion-toolbar>
</ion-header>
<ion-menu contentId="main-content">
  <ion-header style="background-color: #343a40; color:#fff">
  </ion-header>
  <ion-content>
  </ion-content>
  <ion-footer style="background-color: #343a40; padding-bottom: 20px;">
    <ion-button (click)="linkmenu('logout', '1')" expand="block" style="text-transform: none; bottom: 30px;"
      color="danger" type="button">Cerrar Sessión</ion-button>
  </ion-footer>
</ion-menu>
<ion-router-outlet id="main-content" name="main-content" main></ion-router-outlet>
<ion-content>
  <div padding style="margin-top: 10px;padding-bottom:0px">
    <ion-label style="font-size:18px;font-weight: bold; text-transform: uppercase;">Deudas encontradas</ion-label>
  </div>
  <div padding style="padding-top: 0px;" *ngIf="this.datosdeudas!=null && this.datosdeudas.length!=0">
    <ion-label style="font-size: 13px;
    color: #767a7d;
    white-space: normal;">Estas son las "cuentas o deudas" encontradas por PAGADORES a tu nombre. <br>
    *Puedes incluir las que no se visualizan*</ion-label>
  </div>
  <div padding style="padding-top: 0px;" *ngIf="this.datosdeudas.length==0">
    <ion-label style="font-size: 13px;
    color: #767a7d;
    white-space: normal;">No hemos encontrado deudas a tu nombre.</ion-label>
  </div>
  <div padding style="padding-top: 0px;">
    <div padding *ngFor="let item of this.datosdeudas; let i = index" class="mostrar-principal"
      style="padding-top: 0px;">
      <ion-row>
        <ion-col col-10>
          <ion-item style="--inner-border-width: 0px;">
            <ion-checkbox color="secondary" (click)="actualiza(i, item.id)" class="mostrar-radio"></ion-checkbox>
            <ion-label *ngIf="item.tipo_deuda=='1'"
              style="margin-left: 10px; margin-top: 16px;font-size: 15px; font-weight: normal;">Tarjeta de Crédito
            </ion-label>
            <ion-label *ngIf="item.tipo_deuda=='2'"
              style="margin-left: 10px; margin-top: 16px;font-size: 15px; font-weight: normal;">Préstamo</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-icon *ngIf="item.tipo_deuda=='1'" style="margin-top: 20px;" name="card-outline"></ion-icon>
          <ion-icon *ngIf="item.tipo_deuda=='2'" style="margin-top: 20px;" name="cash-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <!--<b *ngIf="item.tipo_deuda=='1'" style="font-size: 14px;">**** {{item.identifica_banco}}</b>-->

          <b *ngIf="item.tipo_deuda=='1'" style="font-size: 14px;">{{item.identifica_banco}}</b>
          <b *ngIf="item.tipo_deuda=='2'" style="font-size: 14px;">{{item.identifica_banco}}</b>
          <br>
          <b style="font-size: 14px; font-weight: normal; color: #a8abaf;">{{item.banco_deuda}}</b>

        </ion-col>
        <ion-col col-6 style="padding-top: 20px;text-align: right;">
          <b style="font-size: 16px;">{{item.moneda}}$ {{item.monto_deuda}}</b>
        </ion-col>
      </ion-row>

    </div>
  </div>
  <div padding style="padding-top: 10px;">
    <ion-label style="font-size: 14px; color: #767a7d; white-space: normal;text-align: center;">¿No encontraste la deuda
      que quieres resolver?</ion-label>
  </div>
  <div padding style="padding-top: 10px;text-align: center;" (click)="linkmenu('agregar', '1')">

    <ion-label class="incluir" style="font-size: 14px; white-space: normal;text-align: center;">
      <table width="100%">
        <tr>
          <td style="width: 35%;text-align: right;">
            <ion-icon name="add-circle-outline" ion-icon-incluir></ion-icon>
          </td>
          <td style="width: 65%;text-align: left;">Incluir otra deuda</td>
        </tr>
      </table>
    </ion-label>
  </div>
  <br><br><br><br><br>
  <br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;" color="primary" (click)="continuar()">

        Continuar
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>