<ion-header *ngIf="this.inicio==0">
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Deudas por solucionar</ion-title>
          </ion-col>
        </ion-row> 
      </ion-toolbar>
</ion-header>



  <div *ngIf="this.inicio==1" id="inicio" class="inicio">
        <ion-content>
        <div class="img"></div>
        </ion-content>
        <ion-footer class="ion-no-border">
          <ion-toolbar color="" style="--background: #000c3b;">
            <div padding>
              <ion-button expand="block" style="text-transform: none;--box-shadow: #000c3b;" color="primary" (click)="cargarfinal()">Entiendo</ion-button>
            </div>
          </ion-toolbar>
        </ion-footer>
  </div>
  <div *ngIf="this.inicio==2" id="inicio2" class="inicio2">
        <ion-content>
        <div class="img"></div>
        </ion-content>
        <ion-footer class="ion-no-border">
          <ion-toolbar color="" style="--background: #000c3b;">
            <div padding>
              <ion-button expand="block" style="text-transform: none;--box-shadow: #000c3b;" color="primary" (click)="cargarfinal()">Entiendo</ion-button>
            </div>
          </ion-toolbar>
        </ion-footer>
  </div>


  <div *ngIf="this.inicio==0" id="inicio" class="inicio">
    <ion-content class="myview" color="">
        <div padding style="margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px; padding-top: 30px; background-color: #000c3b;">
          <ion-label style="font-size:14px; color: #fff !important; white-space: normal;">Hemos encontrado:</ion-label>
          <ion-label style="font-size: 24px; margin-top: -5px; color: #fff; white-space: normal;">{{this.datosdeudas.length}} deudas por solucionar.</ion-label>
        </div>
        <div padding style="background-color: #d5a92e; height: 54px;">
          <ion-label style="font-size:14px; white-space: normal;color: var(--ion-color-primary); font-size: 12px;" (click)="cargarsiguiente()" >
            <ion-icon name="information-circle-outline" style="color: var(--ion-color-primary); font-size: 20px; " ></ion-icon>
                ¿Cómo pudedo solucionar mi deuda? 
            </ion-label>
        </div>
        <div padding class="mostrar-principal" style="padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;" *ngFor="let item of this.datosdeudas; let i = index">
              <ion-row style="padding-top: 10px;" (click)="actualiza(i, item.id)">
                <ion-col col-11 style="font-size: 14px;">
                  {{item.banco_deuda}}
                  <br>
                  <span style="color: #82868b; font-size: 14px;" *ngIf="item.tipo_deuda=='1'">Tarjeta de Crédito</span>
                  <span style="color: #82868b; font-size: 14px;" *ngIf="item.tipo_deuda=='2'">Préstamo</span>
                  <br><br>
                  <span style="color: #82868b; font-size: 14px;">Deuda {{item.moneda}}$ {{item.monto_deuda}}</span>
                </ion-col>
                <ion-col col-1 style="padding-top: 44px;">
                  <ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
                  </ion-icon>
                </ion-col>
              </ion-row>
        </div>
        <div padding class="mostrar-principal" style="padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;"  >
              <ion-row style="padding-top: 10px;" (click)="linkmenu('agregar', '1')">
                <ion-col col-11>
                  <b style="font-size: 14px;">Agregar nueva deuda</b>
                  <br>
              <span style="color: #82868b; font-size: 13px;">Si no visualizas tu deuda, puedes agregarla manualente </span>
                </ion-col>
                <ion-col col-1 style="padding-top: 15px;">
                  <ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="add-outline">
                  </ion-icon>
                </ion-col>
              </ion-row>
        </div>
    </ion-content>
  </div>

