<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
            <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Editar perfil</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>


<ion-content class="myview" color="" >
<ion-grid>
    <form  [formGroup]="myForm" (ngSubmit)="enviarformulario()" #EnForm="ngForm">
          <div style="z-index: 1; position: absolute;  width: 100%;">
              <div padding style="margin-top: 10px;">
                        <ion-label style="color: #001c6b; font-size: 16px; margin-bottom: 10px;">Nombres</ion-label>
                        <ion-item>
                            <ion-input style="font-size: 14px;" placeholder="Escribe tus nombres" value="{{this.nombres}}" (input)="getText($event)" formControlName="nombres"  type="text" maxlength="30"></ion-input>
                        </ion-item>
              </div>
              <div padding style="padding-top: 0px;">
                        <ion-label style="color: #001c6b; font-size: 16px; margin-bottom: 10px;">Apellidos</ion-label>
                        <ion-item>
                            <ion-input style="font-size: 14px;" placeholder="Escribe tus apellidos" value="{{this.apellidos}}"  (input)="getText($event)"  formControlName="apellidos" type="text" maxlength="30"></ion-input>
                        </ion-item>
              </div>
              <div padding style="padding-top: 0px;padding-top: 0px;">
                        <ion-label>Celular</ion-label>
                        <ion-item>
                            <ion-input style="font-size: 14px;" placeholder="Escribe tu celular"  value="{{this.cellphone}}"  mask="0000000000"  formControlName="celular" type="numeric"></ion-input>
                        </ion-item>
              </div>     
               <div padding style="padding-top: 0px;">
                        <ion-label style="color: #001c6b; font-size: 16px; margin-bottom: 10px;">Correo electrónico</ion-label>
                        <ion-item>
                            <ion-input style="font-size: 14px;" placeholder="Escribe tu correo electrónico" value="{{this.user}}" formControlName="user" type="text"></ion-input>
                        </ion-item>
              </div>
              <div padding style="padding-top: 0px;padding-top: 0px;">
                    <ion-label>Contraseña</ion-label>
                    <ion-item>
                        <ion-input style="font-size: 14px;" #passwordEyeRegister  [type]="passwordTypeInput"  placeholder="Escribe tu contraseña" formControlName="clave"></ion-input>
                        <button type="button" item-end  style="color: var(--ion-color-tertiary);" class="btn_eye_icon"  (click)="togglePasswordMode()">
                            <ion-icon  [name]="iconpassword"></ion-icon>
                        </button>
                    </ion-item>
          </div>
          </div>
          <!--
          <div padding style="z-index: 0;  position: absolute; bottom: 0px; width: 100%;">
              <ion-button expand="block" style="text-transform: none;" color="dark" [disabled]="!myForm.valid" type="submit">Guardar cambios</ion-button>
          </div>
        -->
    </form>
</ion-grid>
</ion-content>
<ion-footer class="ion-no-border" style="height: 50px;">
  <ion-toolbar style="margin-top: -13px;">
    <div padding>
      <ion-button expand="block" type="submit"  [disabled]="!myForm.valid" style="text-transform: none;--box-shadow: #000c3b;" color="primary" (click)="EnForm.ngSubmit.emit()">Guardar cambios</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>