<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Cambiar contraseña</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>
<ion-content class="myview" color="" >
    <form  [formGroup]="myForm" (ngSubmit)="enviarformulario()" #EnForm="ngForm">
          <div style="z-index: 1; position: absolute;  width: 100%;">
              <div padding style="margin-top: 10px;">
                        <ion-label style="color: #000c3b; font-size: 18px; margin-bottom: 10px;">Contraseña actual</ion-label>
                        <ion-item>
                            <ion-input #passwordEyeRegister1  [type]="passwordTypeInput1"  placeholder="Escribe aquí tu contraseña actual" formControlName="clave"></ion-input>
                            <button type="button" item-end  style="color: var(--ion-color-tertiary);" class="btn_eye_icon"  (click)="togglePasswordMode1()">
                                <ion-icon  [name]="iconpassword1"></ion-icon>
                            </button>
                        </ion-item>
              </div>
              <div padding style="padding-top: 0px;">
                        <ion-label style="color: #000c3b; font-size: 18px; margin-bottom: 10px;">Nueva contraseña</ion-label>
                        <ion-item>
                            <ion-input #passwordEyeRegister2  [type]="passwordTypeInput2"  placeholder="Escribe aquí tu nueva contraseña actual" formControlName="clave1"></ion-input>
                            <button type="button" item-end  style="color: var(--ion-color-tertiary);" class="btn_eye_icon"  (click)="togglePasswordMode2()">
                                <ion-icon  [name]="iconpassword2"></ion-icon>
                            </button>
                        </ion-item>
              </div>
               <div padding style="padding-top: 0px;">
                        <ion-label style="color: #000c3b; font-size: 18px; margin-bottom: 10px;">Repetir contraseña</ion-label>
                        <ion-item>
                            <ion-input #passwordEyeRegister3  [type]="passwordTypeInput3"  placeholder="Escribe aquí tu nueva contraseña actual" formControlName="clave2"></ion-input>
                            <button type="button" item-end  style="color: var(--ion-color-tertiary);" class="btn_eye_icon"  (click)="togglePasswordMode3()">
                                <ion-icon  [name]="iconpassword3"></ion-icon>
                            </button>
                        </ion-item>
              </div>
          </div>
          <!--
          <div padding style="z-index: 0;  position: absolute; bottom: 0px; width: 100%;">
              <ion-button expand="block" style="text-transform: none;" color="dark" [disabled]="!myForm.valid" type="submit">Guardar cambios</ion-button>
          </div>-->
    </form>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="" style="--background: #000c3b;">
    <div padding>
      <ion-button expand="block" type="submit"  [disabled]="!myForm.valid" style="text-transform: none;--box-shadow: #000c3b;" color="primary" (click)="EnForm.ngSubmit.emit()">Guardar cambios</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>