<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Cuotaas por pagar</ion-title>
          </ion-col>
        </ion-row> 
      </ion-toolbar>
</ion-header>
<ion-content class="myview" color="">
  <ion-row style="margin-bottom: 0px; padding-top: 20px; padding-bottom: 20px; padding-right: 10px; background-color: #000c3b; padding-left: 10px;">
    <ion-col col-12 style="padding-top: 0px;">
      <span style="font-size: 15px;color: #fff; white-space: normal;">Hola {{this.usuario}}, tienes ({{ this.cuentaspendientes.length }}) cuota</span>
    </ion-col>
  </ion-row>


   <div padding class="mostrar-principal" style="padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;" *ngFor="let item of this.cuentaspendientes; let i = index">
          <ion-row style="padding-top: 10px;" (click)="vercuenta(item.contract_id)">
            <ion-col col-11>
              <b style="font-size: 14px;">{{item.banco_deuda}}</b>
              <br>
              <span style="color: #82868b; font-size: 13px;" *ngIf="item.tipo_deuda=='1'">Tarjeta de Crédito</span>
              <span style="color: #82868b; font-size: 13px;" *ngIf="item.tipo_deuda=='2'">Préstamo</span>
              <br><br>
              <span style="color: #82868b; font-size: 13px;">Cuota {{item.currency}}$ {{item.installment_payment | currency:' ' }}</span>
            </ion-col>
            <ion-col col-1 style="padding-top: 44px;">
              <ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
              </ion-icon>
            </ion-col>
          </ion-row>
    </div>

<!--
  <div padding *ngFor="let item of this.cuentaspendientes; let i = index" class="mostrar-principal"
          style="padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
          <ion-row>
            <ion-col col-7>
              <ion-label *ngIf="item.tipo_deuda=='1'"
                style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
                <b>Tarjeta de Crédito</b>
                <br>
                <b>{{item.status}}</b>
              </ion-label>
              <ion-label *ngIf="item.tipo_deuda=='2'"
                style="margin-left: 0px; margin-top: 16px;font-size: 15px; font-weight: normal;">
                <b>Préstamo</b>
                <br>
                <b>{{item.status}}</b>
              </ion-label>
            </ion-col>
            <ion-col col-3>
            </ion-col>
            <ion-col col-1>
              <ion-icon *ngIf="item.tipo_deuda=='1'" style="margin-top: 20px;" name="card-outline">
              </ion-icon>
              <ion-icon *ngIf="item.tipo_deuda=='2'" style="margin-top: 20px;" name="cash-outline">
              </ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <b *ngIf="item.tipo_deuda=='2'" style="font-size: 14px;">{{item.identifica_banco}}</b>
              <br>
              <b style="font-size: 14px; font-weight: normal; color: #a8abaf;">{{item.banco_deuda}}</b>
              <br>
              <b style="font-size: 14px; font-weight: normal; color: #a8abaf;">Número de aplicación {{item.application_id}}</b>
              <br>
              <b style="font-size: 14px; font-weight: normal; color: #a8abaf;">Número de cuenta {{item.contract_id}}</b>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 10px;">
            <ion-col col-6>
              <b style="font-size: 14px;">Monto deuda</b>
            </ion-col>
            <ion-col col-6 style="text-align: right;">
              <b style="font-size: 14px;">{{item.moneda}} {{item.monto_deuda | currency:' ' }}</b>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 10px;">
            <ion-col col-6>
              <b *ngIf="item.n_cuotas!='0'" style="font-size: 14px;">Pago inicial que ofreciste</b>
              <b *ngIf="item.n_cuotas=='0'" style="font-size: 14px;">Saldo que ofreciste</b>
            </ion-col>
            <ion-col col-6 style="text-align: right;">
              <b style="font-size: 14px;">{{item.currency}}
                {{item.installment_payment
                | currency:' ' }}</b>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 20px;">
            <ion-col col-6>
            </ion-col>
            <ion-col col-6 style="text-align: right;">
              <ion-button expand="block" type="button" style="text-transform: none;" color="primary"
                (click)="vercuenta(item.contract_id)">
                Ver detalle
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
-->
</ion-content>
