<ion-header *ngIf="this.inicio==1">
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Cuotas pago restante</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header> 

<div *ngIf="this.inicio==2" id="inicio" (click)="quitarresena()" class="inicio">
  <div class="img"></div>
</div>

<ion-content *ngIf="this.inicio==1">
  <div padding style="margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px; padding-top: 30px; background-color: #001c6b;"  *ngFor="let item of this.datosdeudas; let i = index">
        <ion-label style="font-size: 14px; margin-top: -5px; color: #fff; white-space: normal;">Selecciona las cuotas para</ion-label>
        <ion-label style="font-size: 24px; margin-top: -5px; color: #fff; white-space: normal;">Pagar la deuda</ion-label>



        <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
          <ion-col col-6>
            <b style="font-size: 14px;  color: #fff;">Deuda original</b>
          </ion-col>
          <ion-col col-6 style="text-align: right;">
            <b style="font-size: 14px; color: #fff;">{{item.moneda}}$ {{item.monto_deuda | number:"1.0-0"}}</b>
          </ion-col>
        </ion-row>

        <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
          <ion-col col-6>
            <b style="font-size: 14px;  color: #fff;">Pago inicial ofrecido</b>
          </ion-col>
          <ion-col col-6 style="text-align: right;">
            <b style="font-size: 14px; color: #37a7ef;"> {{item.currency}} {{this.pago_inicial | currency:'$ ' }}</b>
          </ion-col>
        </ion-row>

        <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px; margin-top: -20px;">
          <ion-col col-6>
            <b style="font-size: 14px;  color: #ced4da;">Restante a pagar</b>
          </ion-col>
          <ion-col col-6 style="text-align: right;">
            <b style="font-size: 14px; color: #37a7ef;">{{item.moneda}}$ {{(item.monto_deuda2 - this.pago_inicial) | number:"1.0-0"}}</b>
          </ion-col>
        </ion-row>

        <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px; margin-top: -20px;">
          <ion-col col-6>
            <b style="font-size: 14px;  color: #ced4da;">Cuotas</b>
          </ion-col>
          <ion-col col-6 style="text-align: right;">
            <b style="font-size: 14px; color: #37a7ef;">{{this.checkbox_cuo[i]}}</b>
          </ion-col>
        </ion-row>

  </div>
  <div padding style="" *ngFor="let item of this.datosdeudas; let i = index">
      <ion-row style="">
         <ion-col col-12>
          <b style="font-size: 14px;  color: #001c6b;">
            <b style="font-size: 14px;" >Número de cuotas</b>
          </b>
        </ion-col>
          <ion-col col-12>
          <ionic-selectable style="border: 1px solid; padding-left: 9px; font-size: 15px; background-color: #fff;" placeholder="Seleccionar" [items]="productos" itemValueField="id" itemTextField="name" [canSearch]="true" closeButtonText="Cancelar" searchPlaceholder="Buscar" (onChange)="productosChange($event)"></ionic-selectable>
          </ion-col>
        </ion-row>
  <br><br><br><br><br><br>
  </div>
  
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border" >
  <ion-toolbar color="primary">
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;" (click)="finalizar_consulta()" type="button"
        color="primary">Continuar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>