<div *ngIf="this.inicio==2" id="inicio" (click)="quitarresena()" class="inicio">
  <div class="img"></div>
</div>
<ion-header *ngIf="this.inicio==1">
  <ion-toolbar color="light">
    <ion-row>
      <ion-col col-2 style="padding-top: 10px;">
        <ion-buttons>
          <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
      </ion-col>
      <ion-col col-10>
        <ion-title text-center>Número de cuotas</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="this.inicio==1">
  <div padding style="margin-top: 10px;padding-bottom:0px">
    <ion-label style="font-size:18px; color:  var(--ion-color-primary) !important; white-space: normal;">Cuotas del
      préstamo</ion-label>
  </div>
  <div padding style="padding-top: 30px;" *ngFor="let item of this.datosdeudas; let i = index">

    <div padding class="mostrar-principal">
      <ion-row style="border-bottom: 0px solid #dee2e6;">
        <ion-col col-12>
          <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px;"
            class="label-monstrar-radio">
            <b style="font-size: 14px;">{{item.banco_deuda}}</b>
            <b
              style="font-size: 14px; font-weight: normal; color: #007bff; margin-left: 5px;">{{item.identifica_banco}}</b>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 0px;">
        <ion-col col-4>
          <b style="font-size: 14px;  color: #a8abaf;">Deuda total</b>
        </ion-col>
        <ion-col col-8 style="text-align: right;">
          <b style="font-size: 16px;">{{this.currency}} {{item.monto_deuda | currency:'$ ' }}</b>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid var(--ion-color-primary) !important; margin-bottom: 15px;">
        <ion-col col-4>
          <b style="font-size: 14px;  color: #a8abaf;">- Pago inicial</b>
        </ion-col>
        <ion-col col-8 style="text-align: right;">
          <b style="font-size: 16px;">{{this.currency}} {{this.pago_inicial | currency:'$ ' }}</b>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 0px;">
        <ion-col col-4>
          <b style="font-size: 14px;  color: #a8abaf;">Restante a financiar:</b>
        </ion-col>
        <ion-col col-8 style="text-align: right;">
          <b style="font-size: 16px;">{{this.currency}}$ <b
              style="font-size: 16px; color: #007bff; margin-left: 5px;">{{(item.monto_deuda-this.pago_inicial ) |
              currency:' ' }}</b></b>
        </ion-col>
      </ion-row>
    </div>
    <div padding class="mostrar-principal">
      <ion-row style="border-bottom: 1px solid #dee2e6;">
        <ion-col col-2>
          <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
        </ion-col>
        <ion-col col-10>
          <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px;"
            class="label-monstrar-radio">Selecciona forma de cuotas:</ion-label>
        </ion-col>
      </ion-row>

      <div padding class="opciones" style="margin-top: 20px;">
        <ion-radio-group>
          <!--- Ofrecer un saldo
          <ion-row>
            <ion-col col-12>
              <ion-item style="--background: none; --inner-border-width: 0px;">
                <ion-radio color="secondary" class="mostrar-radio" (click)="seleccionradio(i, 1)" value="1"></ion-radio>
                <ion-label class="label-monstrar-radio">Monto cuota mensual</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
           -->
          <!--- Solicitar refinanciamiento -->
          <ion-row>
            <ion-col col-12>
              <ion-item style="--background: none; --inner-border-width: 0px;">
                <ion-radio color="secondary" class="mostrar-radio" (click)="seleccionradio(i, 2)" value="2"></ion-radio>
                <ion-label class="label-monstrar-radio">Número de meses a pagar</ion-label>
              </ion-item>
            </ion-col>

          </ion-row>
        </ion-radio-group>
      </div>
      <div padding class="opciones" style="margin-top: 20px; padding-top: 10px;"
        *ngIf="(this.checkbox_re[i]==1 || this.checkbox_re[i]==2)">
        <ion-row>
          <ion-col col-12 *ngIf="this.checkbox_re[i]==1">
            <div style="height: 100px;">
              <ion-item style="--background: none !important; text-align: center;">
               <!-- <input type="numeric" currencyMask style="border: 0; outline:none; background-color: #f4f4f4;"
                  [(ngModel)]="this.checkbox_mon[i]" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" />-->

                  <ion-input maxlength="10"  [(ngModel)]="this.checkbox_mon[i]"  (input)="getText($event)" (ionBlur)="vaciar2(i)" (ionFocus)="vaciar(i)"  type="tel"></ion-input>

              </ion-item>
              <ion-label style="margin-top: 10px;font-size: 13px; text-align: center; color: #6d6f71;">Digite el monto
                que propone</ion-label>
            </div>
          </ion-col>
          <ion-col col-12 *ngIf="this.checkbox_re[i]==2">
            <div style="height: 170px;">
              <ion-row style="padding-top: 0px;">
                <ion-col col-12>
                  <ion-label
                    style="margin-top: 4px; margin-left: 10px; font-size: 15px; color: #000000; margin-bottom: -11px;">
                    Número de meses a pagar</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12 style="padding-bottom: 0px; padding-top: 20px; text-align: right; color: #f3932d;">
                  <b color="primary">Cuotas {{this.checkbox_cuo[i]}} </b>
                </ion-col>
                <ion-col col-12 style="padding-bottom: 0px; padding-top: 0px;">
                  <ion-range min="1" max="48"
                    style="--bar-height: 4px; padding-bottom: 0px; padding-top: 0px; --knob-size:25px;"
                    [(ngModel)]="this.checkbox_cuo[i]" color="secondary"></ion-range>
                </ion-col>
                <ion-col col-12>
                  <b color="primary" style="margin-left: 10px; color: #aaacb0;">1 Cuota</b>
                  <b color="primary" style="float: right; margin-right: 10px; color: #aaacb0;">48 Cuotas</b>
                </ion-col>
                <ion-col col-12>
                  <ion-label
                    style="margin-left: 10px;  margin-top: 0px;font-size: 13px; text-align: left; color: #6d6f71;">Nueva
                    cuota estimada</ion-label>
                  <b style="font-size: 16px;margin-left: 10px;">{{this.currency}} {{
                    ((item.monto_deuda-this.pago_inicial) /
                    this.checkbox_cuo[i])| currency:'$ ' }}</b>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>

      </div>
    </div>
  </div>






  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border" *ngFor="let item of this.datosdeudas; let i = index">
  <ion-row no-padding style="height: 60px; border-radius: 10px 10px 10px 10px;" *ngIf="item.tipo_deuda=='1'">
    <ion-col col-8 no-padding style="background-color: #ffffff; border-radius: 15px 0px 0px 0px;">
      <ion-label style="margin-left: 10px; margin-bottom: 5px; margin-top: 7px; font-size: 14px; font-weight: normal;">
        Tarjeta de Crédito <span style="color: #007bff;">{{item.identifica_banco}}</span></ion-label>
      <span style="position: absolute; z-index: 1; margin-left: 47%;">90%</span>
      <ion-progress-bar class="barraprocesost" color="secondary" value=0.90>90%</ion-progress-bar>
    </ion-col>
    <ion-col col-4 no-padding style="background-color: #3c485f; border-radius: 0px 15px 0px 0px;">
      <ion-label
        style="margin-left: 10px; margin-bottom: 5px; margin-top: 7px; font-size: 14px; font-weight: normal; color: #f4f4f4">
        Préstamo</ion-label>
      <span style="position: absolute; z-index: 1; margin-left: 47%;color: #3c485f">0%</span>
      <ion-progress-bar class="barraprocesosp" color="light" value=0>0%</ion-progress-bar>
    </ion-col>
  </ion-row>


  <ion-row no-padding style="height: 60px; border-radius: 10px 10px 10px 10px;" *ngIf="item.tipo_deuda=='2'">
    <ion-col col-4 no-padding style="background-color: #3c485f; border-radius: 15px 0px 0px 0px;">
      <ion-label
        style="margin-left: 10px; margin-bottom: 5px; margin-top: 7px; font-size: 14px; font-weight: normal;color: #f4f4f4">
        Tarjeta de Crédito </ion-label>
      <span style="position: absolute; z-index: 1; margin-left: 47%;">0%</span>
      <ion-progress-bar class="barraprocesosp" color="light" value="0">0%</ion-progress-bar>
    </ion-col>
    <ion-col col-8 no-padding style="background-color: #ffffff; border-radius: 0px 15px 0px 0px;">
      <ion-label style="margin-left: 10px; margin-bottom: 5px; margin-top: 7px; font-size: 14px; font-weight: normal;">
        Préstamo <span style="color: #007bff;">{{item.identifica_banco}}</span></ion-label>
      <span style="position: absolute; z-index: 1; margin-left: 47%;">90%</span>
      <ion-progress-bar class="barraprocesost" color="secondary" value="0.90">90%</ion-progress-bar>
    </ion-col>
  </ion-row>
  <ion-toolbar color="primary">
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;" (click)="finalizar_()" type="button"
        color="primary">Continuar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>