<ion-header></ion-header>
<ion-content class="myview" color="">
	<ion-row style="margin-bottom: 15px; padding-top: 20px; padding-bottom: 20px; padding-right: 10px; background-color: #000c3b; padding-left: 10px;">
		<ion-col col-12 style="padding-top: 0px;">
			<span style="font-size: 15px;color: #fff; white-space: normal;">¡Bienvenido!</span>
			<br>
			<span style="font-size: 15px;color: #fff; white-space: normal;"><b>{{this.usuario}}</b></span>
		</ion-col>
	</ion-row>

	<div padding class="mostrar-principal" style="padding-top: 0px; border-radius: 0px;">
		<ion-row style="padding-top: 10px;" (click)="perfilinvitado()">
			<ion-col col-1>
				<ion-icon name="people-outline" style="color: var(--ion-color-tertiary); font-size: 18px; " ></ion-icon>
			</ion-col>
			<ion-col col-10 style="font-size: 14px;">
				Referidos
				<br>
				<span style="color: #82868b; font-size: 13px;">Invita a tus amigos y gana por referirlos</span>
			</ion-col>
			<ion-col col-1 style="padding-top: 15px;">
				<ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
				</ion-icon>
			</ion-col>
		</ion-row>
	</div>


	<div padding class="mostrar-principal" style="padding-top: 0px; border-radius: 0px;">
		<ion-row style="padding-top: 10px;" (click)="perfilconfiguracion()">
			<ion-col col-1>
				<ion-icon name="settings-outline" style="color: var(--ion-color-tertiary); font-size: 18px; " ></ion-icon>
			</ion-col>
			<ion-col col-10 style="font-size: 14px;">
				Configuración
			</ion-col>
			<ion-col col-1 style="padding-top: 15px;">
				<ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
				</ion-icon>
			</ion-col>
		</ion-row>
	</div>


	<div padding class="mostrar-principal" style="padding-top: 0px; border-radius: 0px;">
		<ion-row style="padding-top: 10px;" (click)="perfilayudasugerencia()" >
			<ion-col col-1>
				<ion-icon name="help-buoy-outline" style="color: var(--ion-color-tertiary); font-size: 18px; " ></ion-icon>
			</ion-col>
			<ion-col col-10 style="font-size: 14px;">
				Ayuda
			</ion-col>
			<ion-col col-1 style="padding-top: 15px;">
				<ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
				</ion-icon>
			</ion-col>
		</ion-row>
	</div>


	<div padding class="mostrar-principal" style="padding-top: 0px; border-radius: 0px; padding-left: 0px; padding-right: 0px;">
		<ion-row style="padding-top: 10px; padding-left: 16px; padding-right: 16px;">
			<ion-col col-1>
				<ion-icon name="bookmark-outline" style="color: var(--ion-color-tertiary); font-size: 18px; " ></ion-icon>
			</ion-col>
			<ion-col col-10 style="font-size: 14px;">
				¿Qué tal tu experiencia?
				<br>
				<span style="color: #82868b; font-size: 13px; font-style: italic;"><b>Del 1 al 10 excelente  y 1 muy mala, ¿Cómo calificarías tu experiencia con Pagadores?</b></span>
			</ion-col>
			<ion-col col-1 style="padding-top: 15px;">
			</ion-col>
		</ion-row>
		<div style="">
	                <ion-item style="width: 100%; text-align: -webkit-center; border: 1px solid #818386; border-bottom: 0px;  font-size: 20px; color: #fff; background-color: #000c3b; margin-top: 10px;">
	                    <ion-row style="width: 100%; text-align: -webkit-center;">
	                      <ion-col class="col-1" col-1 id="col1"   (click)="sel('1')">1</ion-col>
	                      <ion-col class="col-1" col-1 id="col2"   (click)="sel('2')">2</ion-col>
	                      <ion-col class="col-1" col-1 id="col3"   (click)="sel('3')">3</ion-col>
	                      <ion-col class="col-1" col-1 id="col4"   (click)="sel('4')">4</ion-col>
	                      <ion-col class="col-1" col-1 id="col5"   (click)="sel('5')">5</ion-col>
	                      <ion-col class="col-1" col-1 id="col6"   (click)="sel('6')">6</ion-col>
	                      <ion-col class="col-1" col-1 id="col7"   (click)="sel('7')">7</ion-col>
	                      <ion-col class="col-1" col-1 id="col8"   (click)="sel('8')">8</ion-col>
	                      <ion-col class="col-1" col-1 id="col9"   (click)="sel('9')">9</ion-col>
	                      <ion-col class="col-2" col-2 id="col10"  (click)="sel('10')" style="text-align: left;">10</ion-col>
	                    </ion-row>
	                </ion-item>
	                <ion-item *ngIf="this.puntajes!='0' && this.puntajes!=null" style=" width: 100%; text-align: -webkit-center; border: 1px solid #818386; border-top: 0px; font-size: 20px; color: #fff; background-color: #011c6b;">
	                    <ion-row style="width: 100%; text-align: -webkit-center;">
	                      <ion-col col-12 style="font-size: 14px; text-align: initial; font-style: italic;">¡Gracias por tu calificación!</ion-col>
	                    </ion-row>
	                </ion-item>
	      </div>
	</div>


</ion-content>