<ion-header>
  <ion-toolbar>
     <ion-row>
        <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="this.navController.back()" style="font-size: 20px; margin-left: 26px; margin-right: -26px; color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
            <ion-title style="font-size: 18px !important; text-align: center;  padding-left: 0px; padding-right: 0px; color: var(--ion-color-primary) ;"><b>Inicia sesión</b></ion-title>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-header>
  <ion-content >
      <form  [formGroup]="myForm" (ngSubmit)="enviarformulario('1')"  #EnForm="ngForm">
          <div padding style="margin-top: 10px;">
                    <ion-label style="font-size:18px;font-weight: bold; text-transform: uppercase;">¡Bienvenido!</ion-label>
          </div>
          <div padding style="margin-top: 0px;">
                    <ion-label><b>Correo electrónico ó teléfono</b></ion-label>
                    <ion-item>
                        <ion-input  style="font-size: 14px;" placeholder="Escribe tu correo electrónico ó teléfono" formControlName="user" type="text"></ion-input>
                    </ion-item>
          </div>
          <div padding style="padding-top: 0px;">
                    <ion-label><b>Contraseña</b></ion-label>
                    <ion-item>
                        <ion-input style="font-size: 14px;"  placeholder="Escribe tu contraseña" formControlName="clave" type="password"></ion-input>
                    </ion-item>
          </div>
          <div padding padding style="padding-top: 0px; ">
              <ion-label stacked style="color:#000;font-size:10px;" float-left>
                  <a (click)="informacion('3')" href="javascript:" style="font-size: 14px !important; text-decoration-line: underline; color: var(--ion-color-primary) !important;"  class=""  >¿Olvidaste la contraseña?</a>
              </ion-label>
          </div>
          <!--<div padding>
            <ion-button expand="block" color="primary" type="submit">Iniciar Sesión</ion-button>
          </div>
          
          <div  padding style="padding-top: 6px; text-align: center; font-size: 20px; padding-bottom: 0px;">
              ó
          </div>
          <div  padding style="padding-top: 0px; ">
                <ion-button expand="block" color="primary" (click)="googleSignIn()" type="button">
                    <ion-icon src="assets/icon/google.svg"  style="margin-left: 5px;" slot="start"></ion-icon>
                    <ion-label slot="start" class="login">Continuar con Google</ion-label>
                </ion-button>
          </div>
          <div padding style="padding-top: 0px; ">
                <ion-button expand="block" color="primary" (click)="facebookSignIn()" type="button">
                    <ion-icon src="assets/icon/facebook.svg"  style="margin-left: 5px;" slot="start"></ion-icon>
                    <ion-label slot="start" class="login">Continuar con Facebook</ion-label>
                </ion-button>
          </div>-->
      </form>    
  </ion-content>       
  <ion-footer class="ion-no-border" style="height: 50px;">
  <ion-toolbar style="margin-top: -13px;">
    <div padding>
      <ion-button expand="block" type="submit" [disabled]="!myForm.valid" style="text-transform: none; --box-shadow: #000c3b;" color="primary" (click)="EnForm.ngSubmit.emit()">Iniciar Sesión</ion-button>
    </div>
  </ion-toolbar>         
</ion-footer>