	ion-content{
	   /*--background: url('../../assets/images/fondo1.png') no-repeat center/cover;*/
	}
	ion-footer{
		position: absolute;
    	bottom: 0px;
	}
	ion-toolbar{
		--background: none;
	}
	.header-md::after {
	    left: 0;
	    bottom: -5px;
	    background-position: left 0 top -2px;
	    position: absolute;
	    width: 100%;
	    height: 5px;
	    background-image: none;
	    background-repeat: repeat-x;
	    content: "";
	}
	ion-label{
		font-size: 16px;
    	margin-bottom: 10px;
    	 color: #001c6b;
	}
	.login{
		margin-bottom: 0px;
		height: 19px;
	}
	[ion-icon-end]{
    	margin-right: 20px;
    	font-size: 25px;
        color: #fff;
	}
	ion-footer{
		    background-color: #000c3b;
    		color: #fff;
	}
	form{
	}
	ion-button{
	    font-size: 14px;
	    text-align: center;
	    background-color: none;
	    text-transform: none;
	    --border-radius: 8px;
	}
	ion-item{
		    border-radius: 6px 6px 6px 6px;
    		border: 1px solid #ced4da;
	}
	ion-list{
		 background:none; 
	}    
	.item-md {
	    padding-left: 16px;
	    padding-right: 0;
	    position: relative;
	    font-size: 1.6rem;
	    font-weight: normal;
	    text-transform: none;
	    color: #000;
	    background-color: transparent;
	    -webkit-box-shadow: none; 
	    box-shadow: none;
	    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.item-ios {
	    padding-left: 16px;
	    border-radius: 0;
	    position: relative;
	    font-size: 1.7rem;
	    color: #000;
	    background-color: transparent;
	    -webkit-transition: background-color 200ms linear;
	    transition: background-color 200ms linear;
	}

	.item-md.item-input.ng-valid.item-input-has-focus .item-inner, 
	.item-md.item-input.ng-valid.item-input-has-focus, .item-inner {
	     border-bottom-color: #32db64;
	    -webkit-box-shadow: inset 0 -0px 0 0 #32db64;
	    box-shadow: inset 0 -0px 0 0 #32db64;
	}
