<ion-header>
  <ion-toolbar color="light">
    <ion-title></ion-title>
    <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end" (click)="linkmenu('top', 0)">
                <ion-icon name="trophy" ion-icon-end></ion-icon>
          </ion-buttons>
        <ion-buttons slot="end" (click)="linkmenu('notificacion', 0)">
            <ion-icon name="notifications" ion-icon-end></ion-icon>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content2">
  <ion-header style="background-color: #343a40; color:#fff">
      <div class='principal' text-center style=" border-bottom: 1px solid;  padding-bottom: 10px;">
        <ion-row>
          <ion-col col-12 style="text-align: -webkit-center; margin-top: 10px;">
              <ion-avatar class="ion-margin-start" (click)="linkmenu('perfil', 0)">
                  <img src="{{this.avatar}}">                  
              </ion-avatar>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 style="text-align: -webkit-center;">
                <h2 style="font-size: 20px; margin-bottom: 0px;">{{this.usuario}}</h2>
                <div *ngIf="this.color=='1'" >
                  <ion-row>
                    <ion-col col-4 style="text-align: right; padding-right: 11px; padding-top: 10px;">
                      <ion-icon name="star" ion-icon-end-avatar style="color: #A78107;"></ion-icon>
                    </ion-col>
                    <ion-col col-8 style="text-align: left;">
                      <ion-label style="font-size: 16px; margin-top: 5px;">Líder Bronce</ion-label>
                    </ion-col>
                  </ion-row>
                </div>
                <div *ngIf="this.color=='2'" >
                  <ion-row>
                    <ion-col col-4 style="text-align: right; padding-right: 11px; padding-top: 10px;">
                      <ion-icon name="star" ion-icon-end-avatar style="color: #B4AEAE;"></ion-icon>
                    </ion-col>
                    <ion-col col-8 style="text-align: left;">
                      <ion-label style="font-size: 16px; margin-top: 5px;">Líder Plata</ion-label>
                    </ion-col>
                  </ion-row>
                </div>
                <div *ngIf="this.color=='3'" >
                  <ion-row>
                    <ion-col col-4 style="text-align: right; padding-right: 11px; padding-top: 10px;">
                      <ion-icon name="star" ion-icon-end-avatar style="color: #F4E409;"></ion-icon>
                    </ion-col>
                    <ion-col col-8 style="text-align: left;">
                      <ion-label style="font-size: 16px; margin-top: 5px;">Líder Oro</ion-label>
                    </ion-col>
                  </ion-row>
                </div>
                <div *ngIf="this.color=='4'" >
                  <ion-row>
                    <ion-col col-4 style="text-align: right; padding-right: 11px; padding-top: 10px;">
                      <ion-icon name="star" ion-icon-end-avatar style="color: #EE1C40;"></ion-icon>
                    </ion-col>
                    <ion-col col-8 style="text-align: left;">
                      <ion-label style="font-size: 16px; margin-top: 5px;">Líder Platinium</ion-label>
                    </ion-col>
                  </ion-row>
                </div>
            </ion-col>
        </ion-row>
      </div>
  </ion-header>
  <ion-content>
    
    <ion-list id="inbox-list" style="margin-top: 100px; background-color: #343a40;">
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-item (click)="linkmenu(p.url, i)"  lines="none" detail="false" [class.selected]="selectedIndex == i">
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>

  <ion-footer style="background-color: #343a40; padding-bottom: 20px;">
    <ion-button (click)="linkmenu('logout', '1')" expand="block" style="text-transform: none; bottom: 30px;" color="danger" type="button">Cerrar Sessión</ion-button>
  </ion-footer>
</ion-menu>
<ion-router-outlet id="main-content2" name="main-content2" main></ion-router-outlet>
<ion-content class="myview" color="primary">
  <ion-grid no-padding>
        <div padding style="margin-top: 10px; font-size: 20px; padding-bottom: 0px;">
            <ion-row>
              <ion-col col-5>
                Invitaciones
              </ion-col>
              <ion-col col-7>
                  <ion-buttons style="float: right;" (click)="salir()">
                      <ion-icon name="close" ></ion-icon>
                  </ion-buttons>
              </ion-col>
            </ion-row>
        </div>
        <div padding style="margin-top: 0px; font-size: 20px; padding-top: 0px;     margin-bottom: -30px;">
            <ion-row> 
              <ion-col col-5>
                  <ion-select (ionChange)="filtro()" value="this.selected" name="selected" [(ngModel)]="this.selected"  style="width: 100% !important; max-width: 100%;">
                        <ion-select-option value="1">Todos</ion-select-option>
                        <ion-select-option value="2">Pendientes por registrarse</ion-select-option>
                  </ion-select>
              </ion-col>
              <ion-col col-7 style="text-align: center;">
                  <ion-button  (click)="linkreenviarall()" style="text-transform: none; --background: #f7cc4a; font-size: 14px; color: #fff;">Reenviar a Todos</ion-button>
              </ion-col>
            </ion-row>
        </div>
        <div padding>
            <div style="border-bottom: 1px solid;  padding-top: 20px; padding-bottom: 20px;" *ngFor="let item of ver;">
                <ion-row>
                  <ion-col col-7 style="font-size: 14px; text-transform: capitalize;">
                    {{item.nombre_apellido}}<br *ngIf="item.nombre_apellido!=''">
                    {{item.telefono}} <br *ngIf="item.telefono!=''">
                    {{item.email}} <br *ngIf="item.email!=''">
                  </ion-col> 
                  <ion-col col-5 style="font-size: 14px; text-transform: capitalize;">
                      <br>
                      <ion-icon name="checkmark-circle-outline"  style="font-size: 25px; " *ngIf="item.invitado=='2'"></ion-icon>
                      <ion-button  (click)="linkreenviar(item.id)" style="text-transform: none; --background: white; font-size: 11px; color: #000; vertical-align: -webkit-baseline-middle;" *ngIf="item.invitado=='1'">Reenviar</ion-button>
                      <ion-icon name="logo-whatsapp" (click)="linkwhatsapp(item.telefono)"  style="font-size: 27px; margin-left: 10px; color: #1ea954e6; vertical-align: -webkit-baseline-middle;" *ngIf="item.invitado=='1' && item.telefono!=''"></ion-icon>
                  </ion-col>
              </ion-row>
          </div>
        </div>
  </ion-grid>
</ion-content>