<ion-content class="myview" color="" >
	<ion-row style="position: absolute; top: 51%; left: 12%; color: #fff;">
	  <ion-col col-12 style="padding-bottom:0px">
	      <ion-label style="font-size: 16px; margin-bottom: 0px; margin-top: 20px;   margin-left: 30px;font-weight: normal;">{{ this.mensaje1 }}</ion-label>
	  </ion-col>
	</ion-row>
</ion-content>
