<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 15px !important;  color: var(--ion-color-primary) ;"><b>Método de pago</b></ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>

<ion-content class="" color="" >
  <div padding style="margin-top: 0px; padding-bottom: 10px; margin-bottom: 10px; padding-top: 30px; background-color: #001c6b;">
    <ion-label style="font-size:14px; color: #fff !important; white-space: normal;">Elige el método de pago donde harás </ion-label>
    <ion-label style="font-size: 24px; margin-top: -5px; color: #fff; white-space: normal;"><b>El pago inicial</b></ion-label>
    <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #fff;">Monto para saldar</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">RD$ 1000</b>
        </ion-col>
      </ion-row>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="enviarformulario()" style="position: absolute; z-index: 4; width: 100%; height: 300px;" #EnForm="ngForm">
    <ion-row>
      <ion-col col-12>
        <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-label>Nombre del titular de la tarjeta</ion-label>
            <ion-item style="    --border-width: 1px; --border-radius: 7px;">
                <ion-input placeholder="Escribe aquí el nombre" formControlName="CustomerName" [(ngModel)]="CustomerName"></ion-input>
            </ion-item>
        </div>
      </ion-col>
       <ion-col col-12>
        <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-label>Número de Tarjeta</ion-label>
            <ion-item style="    --border-width: 1px; --border-radius: 7px;">
                <ion-input placeholder="Escribe aquí el número" formControlName="AccountNumber" [(ngModel)]="AccountNumber"></ion-input>
            </ion-item>
        </div>
      </ion-col>

      <ion-col col-6>
        <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-label>Mes Exp</ion-label>
            <ion-item style="    --border-width: 1px; --border-radius: 7px;">
                <ion-input placeholder="Escribe aquí el Mes Exp" formControlName="ExpirationMonth" [(ngModel)]="ExpirationMonth"></ion-input>
            </ion-item>
        </div>
      </ion-col>

      <ion-col col-6>
        <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-label>Año Exp</ion-label>
            <ion-item style="    --border-width: 1px; --border-radius: 7px;">
                <ion-input placeholder="Escribe aquí el Año Exp" formControlName="ExpirationYear" displayFormat="YYYY" max="2050" [(ngModel)]="ExpirationYear"></ion-input>
            </ion-item>
        </div>
      </ion-col>

      <ion-col col-6>
        <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-label>CVV</ion-label>
            <ion-item style="    --border-width: 1px; --border-radius: 7px;">
                <ion-input placeholder="Escribe aquí el CVV" formControlName="CVV" [(ngModel)]="CVV"></ion-input>
            </ion-item>
        </div>
      </ion-col>

      <ion-col col-6>
        <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-label>Zip Code</ion-label>
            <ion-item style="    --border-width: 1px; --border-radius: 7px;">
                <ion-input placeholder="Escribe aquí el Zip Code" type="numeric" formControlName="ZipCode" [(ngModel)]="ZipCode"></ion-input>
            </ion-item>
        </div>
      </ion-col>


       <ion-col col-12>
        <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-label>Cedula</ion-label>
            <ion-item style="    --border-width: 1px; --border-radius: 7px;">
                <ion-input placeholder="Escribe aquí el Cedula" formControlName="CustomerID" [(ngModel)]="CustomerID"></ion-input>
            </ion-item>
        </div>
      </ion-col>


      <ion-col col-12>
        <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-label>Email</ion-label>
            <ion-item style="    --border-width: 1px; --border-radius: 7px;">
                <ion-input placeholder="Escribe aquí el Email" formControlName="CustomerEmail" [(ngModel)]="CustomerEmail"></ion-input>
            </ion-item>
        </div>
      </ion-col>


      <ion-col col-12>
        <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-label>Address</ion-label>
            <ion-item style="    --border-width: 1px; --border-radius: 7px;">
                <ion-input placeholder="Escribe aquí el Address" formControlName="Customeraddress" [(ngModel)]="Customeraddress"></ion-input>
            </ion-item>
        </div>
      </ion-col>

      <ion-col col-12>
        <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-label>City</ion-label>
            <ion-item style="    --border-width: 1px; --border-radius: 7px;">
                <ion-input placeholder="Escribe aquí el City" formControlName="CustomerCity" [(ngModel)]="CustomerCity"></ion-input>
            </ion-item>
        </div>
      </ion-col>

      <ion-col col-12>
        <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-label>State</ion-label>
            <ion-item style="    --border-width: 1px; --border-radius: 7px;">
                <ion-input placeholder="Escribe aquí el State" formControlName="CustomerState" [(ngModel)]="CustomerState"></ion-input>
            </ion-item>
        </div>
      </ion-col>

    </ion-row>
    <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  </form>
  
</ion-content>


<ion-footer class="ion-no-border" style="height: 50px; background-color: #c0c0c0;" *ngIf="!myForm.valid">
  <ion-toolbar style="margin-top: -16px;">
    <div padding>
      <ion-button expand="block" type="submit"  [disabled]="!myForm.valid" style="text-transform: none;--box-shadow: #000c3b;"  color="dark" (click)="EnForm.ngSubmit.emit()">Confirmar pago</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

<ion-footer class="ion-no-border" style="height: 50px;" *ngIf="myForm.valid">
  <ion-toolbar  style="margin-top: -16px;">
    <div padding>
      <ion-button expand="block" type="button" style="text-transform: none;" [disabled]="!myForm.valid" (click)="continuar()" type="button" color="primary">Confirmar pago {{this.datosdeudas.currency}} {{this.datosdeudas.installment_payment | currency:' '}}</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

