	[ion-icon-end]{
    	margin-right: 20px;
    	font-size: 25px;
        color: #fff;
	}
	ion-content{
	    --background: #f4f4f4;; 
	}
	ion-title{
	  padding-left: 0px;
	  padding-right: 0px;
	}
	.back{
	  font-size: 20px;
	    margin-left: 26px;
	    margin-right: -26px;
	}
	 ion-footer{
	    position: absolute;
	      bottom: 0px;
	      background-color: #000c3b;
	      color: #fff;
	  }
	  ion-toolbar{
	    --background: none;
	  }
	form{
	}
	ion-label{
		font-size: 18px;
    	margin-bottom: 10px;
	}
	ion-button{
	    font-size: 14px;
	    text-align: center;
	    background-color: none;
	    text-transform: none;
	    --border-radius: 8px;
	}
	ion-list{
		 background:none; 
	}
	ion-item{
	    border-radius: 7px 7px 7px 7px;
	}   
	.item-md {
	    padding-left: 16px;
	    padding-right: 0;
	    position: relative;
	    font-size: 1.6rem;
	    font-weight: normal;
	    text-transform: none;
	    color: #000;
	    background-color: transparent;
	    -webkit-box-shadow: none; 
	    box-shadow: none;
	    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.item-ios {
	    padding-left: 16px;
	    border-radius: 0;
	    position: relative;
	    font-size: 1.7rem;
	    color: #000;
	    background-color: transparent;
	    -webkit-transition: background-color 200ms linear;
	    transition: background-color 200ms linear;
	}

	.item-md.item-input.ng-valid.item-input-has-focus .item-inner, 
	.item-md.item-input.ng-valid.item-input-has-focus, .item-inner {
	     border-bottom-color: #32db64;
	    -webkit-box-shadow: inset 0 -0px 0 0 #32db64;
	    box-shadow: inset 0 -0px 0 0 #32db64;
	}
