<div *ngIf="this.inicio==2" id="inicio"  (click)="quitarresena()" class="inicio">
    <div class="img"></div>
</div>
<ion-header *ngIf="this.inicio==1">
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-2 style="padding-top: 10px;">
              <ion-buttons>
                <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
          </ion-col>
          <ion-col col-10>
             <ion-title text-center>Localizar deudas</ion-title>
          </ion-col>
        </ion-row>
          <!--
          <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-buttons slot="end" (click)="linkmenu('top', 0)">
                <ion-icon name="trophy" ion-icon-end></ion-icon>
          </ion-buttons>
          <ion-buttons slot="end" (click)="linkmenu('notificacion', 0)">
                <ion-icon name="notifications" ion-icon-end></ion-icon>
          </ion-buttons>-->
      </ion-toolbar>
</ion-header>
<ion-content *ngIf="this.inicio==1">
          <div padding *ngIf="this.finalizar==2" id='mensajefinalizar' class="mensajefinalizar">
                <b style="font-size: 16px;">Propuesta enviada</b>
                 <ion-icon name="close" class="iconmensajefinalizar" (click)="cerrarmensajefinalizar()"></ion-icon>
                <br>
                La propuesta de refinanciamiento ha sido enviada, solo puede editar las ofertas hasta que entre en estado de negacion
          </div>
          <div padding style="margin-top: 10px;padding-bottom:0px">
                    <ion-label style="font-size:16px;font-weight: bold; text-transform: uppercase;">Soluciona tus deudas</ion-label>
          </div>
           <div padding style="padding-top: 0px;" *ngIf="this.datosdeudas!=null && this.datosdeudas.length!=0">
                    <ion-label style="font-size: 13px;
    color: #767a7d;
    white-space: normal;">Escoge entre ofertar un nuevo saldo o solicitar un refinanciamiento para tus deudas</ion-label>
          </div>
          <div padding style="padding-top: 0px;" *ngIf="this.datosdeudas.length==0">
                    <ion-label style="font-size: 13px;
    color: #767a7d;
    white-space: normal;">No hemos encontrado deudas a tu nombre.</ion-label>


          </div>

          <div padding style="padding-top: 0px;">
            <div padding *ngFor="let item of this.datosdeudas; let i = index" class="mostrar-principal">
              <ion-row>
                  <ion-col col-12>
                    <b *ngIf="item.tipo_deuda=='1'" style="font-size: 15px; font-weight: normal;"><ion-icon name="card-outline"></ion-icon> Tarjeta de Crédito</b>
                    <b *ngIf="item.tipo_deuda==2"   style="font-size: 15px; font-weight: normal;"><ion-icon name="cash-outline"></ion-icon> Préstamo</b>
                  </ion-col>
              </ion-row>
              <ion-row style="border-bottom: 1px solid #e9ecef; margin-bottom: 15px;">
                  <ion-col col-6>
                    <b style="font-size: 14px;">{{item.identifica_banco}}</b>
                    <br>
                    <b style="font-size: 14px; font-weight: normal;">{{item.banco_deuda}}</b>

                  </ion-col>
                  <ion-col col-6 style="padding-top: 20px;">
                      <b style="font-size: 16px;">RD$ {{item.monto_deuda}}</b>
                  </ion-col>
              </ion-row>
              <ion-radio-group>
                  <!--- Ofrecer un saldo -->
                  <ion-row>
                      <ion-col col-12 *ngIf="this.checkbox_pro[i]==1 || this.checkbox_re[i]==1 ">
                                    <ion-item>
                                      <ion-radio color="secondary" class="mostrar-radio" (click)="seleccionradio(i, 1)" value="1"></ion-radio>
                                      <ion-label class="label-monstrar-radio">Ofrecer un saldo</ion-label>
                                      <ion-icon name="information-circle-outline" style="font-size: 25px; z-index: 10;"   (click)="inf('1')"></ion-icon>
                                    </ion-item>
                      </ion-col>
                      <ion-col col-12 *ngIf="this.checkbox_re[i]==1 && this.checkbox_pro[i]==1">
                                    <div style="background-color: #dee2e6; border-radius: 10px; height: 100px;">
                                        <ion-item style="--background: none !important; text-align: center;">
                                          <input type="numeric" currencyMask style="border: 0; outline:none; background-color: #dee2e6;" [(ngModel)]="this.checkbox_mon[i]" [options]="{ prefix: 'RD$ ', thousands: ',', decimal: '.' }" />
                                        </ion-item>
                                        <ion-label style="margin-top: 10px;font-size: 13px; text-align: center; color: #6d6f71;">Digite el monto que propone</ion-label>
                                    </div>
                                    <br>
                                    <div>
                                      <ion-button expand="block" type="button" (click)="resolver(i, 2)" style="text-transform: none;" type="button" color="secondary">Resoler ahora</ion-button>
                                    </div>
                      </ion-col>
                      <ion-col col-12 *ngIf="this.checkbox_re[i]==1 && this.checkbox_pro[i]==2">
                                    <div style="background-color: #fff; border-radius: 10px; height: 60px;">
                                        <ion-label class="label-monstrar-radio">Saldo ofrecido:</ion-label>
                                        <b style="font-size: 16px;margin-left: 10px;">RD{{  this.checkbox_mon[i] | currency:'$ ' }}</b>
                                    </div>
                                    <br>
                                    <div>
                                      <ion-button expand="block" type="button" (click)="resolver(i, 1)" style="text-transform: none;" type="button" color="secondary">Editar</ion-button>
                                    </div>
                      </ion-col>
                  </ion-row>
                  <!--- Solicitar refinanciamiento -->
                  <ion-row>
                      <ion-col col-12 *ngIf="this.checkbox_pro[i]==1 || this.checkbox_re[i]==2 ">
                                  <ion-item>
                                    <ion-radio color="secondary" class="mostrar-radio"  (click)="seleccionradio(i, 2)" value="2"></ion-radio>
                                    <ion-label class="label-monstrar-radio">Solicitar refinanciamiento</ion-label>
                                    <ion-icon name="information-circle-outline" style="font-size: 25px; z-index: 10;"  (click)="inf('2')"></ion-icon>
                                  </ion-item>
                      </ion-col>
                      <ion-col col-12 *ngIf="this.checkbox_re[i]==2 && this.checkbox_pro[i]==1">
                                  <div style="background-color: #dee2e6; border-radius: 10px; height: 150px;">
                                        <ion-row style="padding-top: 10px;">
                                          <ion-col col-10>
                                            <ion-label style="margin-top: 4px; margin-left: 10px; font-size: 15px; color: #000000;">Pago inicial</ion-label>
                                          </ion-col>
                                          <ion-col col-2>
                                            <ion-icon name="information-circle-outline" style="font-size: 25px; z-index: 10;"   (click)="inf('3')"></ion-icon>
                                          </ion-col>
                                        </ion-row>
                                        <ion-item style="--background: none !important; text-align: center;">
                                          <input type="numeric" currencyMask style="border: 0; outline:none; background-color: #dee2e6;" [(ngModel)]="this.checkbox_mon[i]" [options]="{ prefix: 'RD$ ', thousands: ',', decimal: '.' }" />
                                        </ion-item>
                                        <ion-label style="margin-top: 10px;font-size: 13px; text-align: center; color: #6d6f71;">Restante a financiar</ion-label>
                                    </div>
                                    <br>
                                    <div style="background-color: #dee2e6; border-radius: 10px; height: 170px;">
                                        <ion-row style="padding-top: 10px;">
                                          <ion-col col-12>
                                            <ion-label style="margin-top: 4px; margin-left: 10px; font-size: 15px; color: #000000; margin-bottom: -11px;">Coutas</ion-label>
                                          </ion-col>
                                        </ion-row>
                                        <ion-row>
                                          <ion-col col-12>
                                            <ion-range min="1" max="18" step="1" [(ngModel)]="this.checkbox_cuo[i]"  value="8" snaps="true" color="primary">
                                              <b color="primary" slot="start">1</b>
                                              <b color="primary" slot="end">18</b>
                                            </ion-range>
                                          </ion-col>
                                        </ion-row>
                                        <ion-label style="margin-left: 10px;  margin-top: 0px;font-size: 13px; text-align: left; color: #6d6f71;">Cuota estimada: {{this.checkbox_cuo[i]}}</ion-label>
                                        <b style="font-size: 16px;margin-left: 10px;">RD{{ ((((item.monto_deuda2-this.checkbox_mon[i]) * 0.25) + (item.monto_deuda2-this.checkbox_mon[i])) / this.checkbox_cuo[i]) | currency:'$ ' }}</b>

                                    </div>
                                    <br>
                                    <div>
                                      <ion-button expand="block" type="button" (click)="resolver(i, 2)" style="text-transform: none;" type="button" color="secondary">Resoler ahora</ion-button>
                                    </div>
                      </ion-col>
                      <ion-col col-12 *ngIf="this.checkbox_re[i]==2 && this.checkbox_pro[i]==2">
                                    <div style="background-color: #fff; border-radius: 10px; height: 300px;">
                                            <ion-label class="label-monstrar-radio">Pago inicial:</ion-label>
                                            <b style="font-size: 16px;margin-left: 10px;">RD{{  this.checkbox_mon[i] | currency:'$ ' }}</b>

                                            <ion-label class="label-monstrar-radio">Restante a financias:</ion-label>
                                            <b style="font-size: 16px;margin-left: 10px;">RD{{  item.monto_deuda2-this.checkbox_mon[i] | currency:'$ ' }}</b>

                                            <ion-label class="label-monstrar-radio">Cuotas a pagar:</ion-label>
                                            <b style="font-size: 16px;margin-left: 10px;">{{  this.checkbox_cuo[i]}}</b>

                                            <ion-label class="label-monstrar-radio">Cuotas estimada:</ion-label>
                                            <b style="font-size: 16px;margin-left: 10px;">RD{{ ((((item.monto_deuda2-this.checkbox_mon[i]) * 0.25) + (item.monto_deuda2-this.checkbox_mon[i])) / this.checkbox_cuo[i]) | currency:'$ ' }}</b>


                                    </div>
                                    <br>
                                    <div>
                                      <ion-button expand="block" type="button" (click)="resolver(i, 1)" style="text-transform: none;" type="button" color="secondary">Editar</ion-button>
                                    </div>
                      </ion-col>
                  </ion-row>
              </ion-radio-group>
            </div>
          </div>
          <br><br><br>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="this.inicio==1"> 
  <ion-toolbar >
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;" *ngIf="this.finalizar==1" (click)="finalizar_()" type="button" color="primary">Finalizar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

















