<ion-header>
  <ion-toolbar color="primary">
          <ion-buttons slot="start">
                <ion-back-button style="color: black;"></ion-back-button>
          </ion-buttons>
          <ion-buttons slot="end" (click)="salir()">
                <ion-icon name="close" ion-icon-end></ion-icon>
          </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="myview" color="primary">
  <ion-grid no-padding>
      	<<form  [formGroup]="myForm" (ngSubmit)="enviarformulario()">
          <div style="z-index: 1; background-color: #b1d9f8;  position: absolute;  width: 100%;">
              <div padding style="margin-top: 120px;">
              <ion-label style="color: #000;font-size: 15px;">¿Recomendarías esta App a tus conocidos?</ion-label>
              </div>
              <div padding style="padding-top:0px">
                       <!-- <select size="10" style="padding: 2px; height: 30px;width: 100%;color: #000;font-size: 20px;" compare-with="10" formControlName="puntaje">
                              <option style="margin-right: 15px; float: left;" value="1">1</option>
                              <option style="margin-right: 15px; float: left;" value="2">2</option>
                              <option style="margin-right: 15px; float: left;" value="3">3</option>
                              <option style="margin-right: 15px; float: left;" value="4">4</option>
                              <option style="margin-right: 15px; float: left;" value="5">5</option>
                              <option style="margin-right: 15px; float: left;" value="6">6</option>
                              <option style="margin-right: 15px; float: left;" value="7">7</option>
                              <option style="margin-right: 15px; float: left;" value="8">8</option>
                              <option style="margin-right: 15px; float: left;" value="9">9</option>
                              <option style="margin-right: 15px; float: left;" value="10">10</option>
                        </select>
                        -->
                        <ion-input id="puntaje" [(ngModel)]="puntaje" formControlName="puntaje" type="hidden"></ion-input>
                        <ion-item style="width: 100%; text-align: -webkit-center; border: 1px solid #818386; font-size: 20px;">
                            <ion-row style="width: 100%; text-align: -webkit-center;">
                              <ion-col col-1 id="col1" (click)="sel('1')">1</ion-col>
                              <ion-col col-1 id="col2" (click)="sel('2')">2</ion-col>
                              <ion-col col-1 id="col3" (click)="sel('3')">3</ion-col>
                              <ion-col col-1 id="col4" (click)="sel('4')">4</ion-col>
                              <ion-col col-1 id="col5" (click)="sel('5')">5</ion-col>
                              <ion-col col-1 id="col6" (click)="sel('6')">6</ion-col>
                              <ion-col col-1 id="col7" (click)="sel('7')">7</ion-col>
                              <ion-col col-1 id="col8" (click)="sel('8')">8</ion-col>
                              <ion-col col-1 id="col9" (click)="sel('9')">9</ion-col>
                              <ion-col col-2 id="col10"  (click)="sel('10')" style="text-align: left;">10</ion-col>
                            </ion-row>
                        </ion-item>
              </div>
              <div padding style="padding-top:0px">
                  <ion-item>
                      <ion-textarea style="text-align: justify;" rows="6" cols="20" formControlName="texto" placeholder="Sugerencias de como mejorar aún más esta app o pedidos de nuevas funcionabilidades"></ion-textarea>
                  </ion-item>
              </div>
          </div>
          <div padding style="z-index: 0; position: absolute; bottom: 0px; width: 100%;">
              <ion-button expand="block" [disabled]="!myForm.valid" style="text-transform: none;" color="dark"  type="submit">Enviar</ion-button>
          </div>
    </form>
  </ion-grid>
</ion-content>