<ion-header>
  <ion-toolbar color="light">
		<ion-title></ion-title>
		<ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
      	</ion-buttons>
      	<ion-buttons slot="end" (click)="linkmenu('top', 0)">
                <ion-icon name="trophy" ion-icon-end></ion-icon>
        </ion-buttons>
       	<ion-buttons slot="end" (click)="linkmenu('notificacion', 0)">
            <ion-icon name="notifications" ion-icon-end></ion-icon>
      	</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="myview" color="primary">
  <ion-grid no-padding>
      	<div padding style="margin-top: 0px; font-size: 20px;">
          	<ion-row>
          		<ion-col col-10>
          					<table>
          						<tr>
          							<td>Top 20 Lideres: </td>
          						</tr>
          					</table>
          		</ion-col>
          		<ion-col col-2>
          				<ion-buttons style="float: right;" (click)="salir()">
			                <ion-icon name="close" ></ion-icon>
			          	</ion-buttons>
          		</ion-col>
          	</ion-row>
      	</div>
      	<div padding>
      		<div *ngFor="let item of datos;">
	          	<div style="border-bottom: 1px solid;  padding-bottom: 8px;"  *ngIf="item.activa=='2'">
			            <ion-row >
				            <ion-col col-1 style="font-size: 14px; text-transform: capitalize; color:#ffc107;">
				            	{{item.numero}}
				            </ion-col>
				            <ion-col col-5 style="font-size: 14px; text-transform: none;white-space: normal;">
				            	{{item.nombre_apellido}}
				            </ion-col>
				            <ion-col col-6 style="font-size: 14px; text-transform: capitalize;">
				            	<div *ngIf="item.color=='1'" >
				                  <ion-icon name="star" ion-icon-end-avatar style="font-size: 17px; color: #A78107;"></ion-icon>
				                  ({{item.seguidores}})
				                </div>
				                <div *ngIf="item.color=='2'" >
				                  <ion-icon name="star" ion-icon-end-avatar style="font-size: 17px; color: #B4AEAE;"></ion-icon>
				                  ({{item.seguidores}})
				                </div>
				                <div *ngIf="item.color=='3'" >
				                  <ion-icon name="star" ion-icon-end-avatar style="font-size: 17px; color: #F4E409;"></ion-icon>
				                  ({{item.seguidores}})
				                </div>
				                <div *ngIf="item.color=='4'" >
				                  <ion-icon name="star" ion-icon-end-avatar style="font-size: 17px; color: #EE1C40;"></ion-icon>
				                  ({{item.seguidores}})
				                </div>
				            </ion-col>
				        </ion-row>
		        </div>
	        </div>
      	</div>
  </ion-grid>
</ion-content>