<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 15px !important;  color: var(--ion-color-primary) ;"><b>Agregar nueva deuda</b></ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>


<ion-content>
  <div padding style="margin-top: 0px; padding-bottom: 10px; margin-bottom: 10px; padding-top: 30px; background-color: #000c3b;">
    <ion-label style="font-size:14px; color: #fff !important; white-space: normal;">Esta función te sirve a agregar deuda que</ion-label>
    <ion-label style="font-size: 24px; margin-top: -5px; color: #fff; white-space: normal;">desea solucionar.</ion-label>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="enviarformulario('1')" #EnForm="ngForm">
    <div padding style="margin-top: 0px;padding-top: 0px;">
      <ion-label>Banco ó entidad bancaria</ion-label>
      <ion-item style="    --border-width: 1px; --border-radius: 7px;">
          <ion-input maxlength="200" placeholder="Escribe el banco ó entidad bancaria" formControlName="banco2" type="text"></ion-input>
      </ion-item>
    </div>
    <div padding style="margin-top: 10px;padding-top: 0px;">
      <ion-label>Tipo de producto</ion-label>
      <ion-item style=" --border-width: 1px; --border-radius: 7px;">
        <ionic-selectable [(ngModel)]="producto" formControlName="producto" placeholder="Selecciona el tipo de producto"
          [items]="productos" itemValueField="id" itemTextField="name" [canSearch]="true" closeButtonText="Cancelar"
          searchPlaceholder="Buscar" (onChange)="productosChange($event)">
        </ionic-selectable>
      </ion-item>
    </div>
    <div padding style="margin-top: 0px;padding-top: 0px;">
      <ion-label>Tipo de moneda</ion-label>
      <ion-item style="    --border-width: 1px; --border-radius: 7px;">
        <ionic-selectable [(ngModel)]="moneda" formControlName="moneda" placeholder="Selecciona tipo de moneda"
          [items]="monedas" itemValueField="id" itemTextField="name" [canSearch]="true" closeButtonText="Cancelar"
          searchPlaceholder="Buscar" (onChange)="portChange($event)">
        </ionic-selectable>
      </ion-item>
    </div>
    <div padding style="margin-top: 10px; padding-top: 0px;">
      <ion-label>Monto de la deuda</ion-label>
      <ion-item style="    --border-width: 1px; --border-radius: 7px;">
        <ion-input maxlength="10" placeholder="Escribe el monto total de la deuda" formControlName="deuda" type="tel"></ion-input>
      </ion-item>
    </div>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
  </form>
</ion-content>


<ion-footer class="ion-no-border" style="height: 50px; background-color: #c0c0c0;" *ngIf="!myForm.valid">
  <ion-toolbar style="margin-top: -13px;">
    <div padding>
      <ion-button expand="block" type="submit"  [disabled]="!myForm.valid" style="text-transform: none;--box-shadow: #000c3b;"  color="dark" (click)="EnForm.ngSubmit.emit()">Agregar deuda</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

<ion-footer class="ion-no-border" style="height: 50px;" *ngIf="myForm.valid">
  <ion-toolbar style="margin-top: -13px;">
    <div padding>
      <ion-button expand="block" type="submit"  [disabled]="!myForm.valid" style="text-transform: none;--box-shadow: #000c3b;" color="primary" (click)="EnForm.ngSubmit.emit()">Agregar deuda</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>