<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Ayuda</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>
<ion-content class="myview" color="">

  <div padding class="mostrar-principal" style="margin-top: 15px;margin-top: 10px; padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
        <a href="https://www.pagadores.com/#work-area">
                <ion-row style="padding-top: 10px;">
                  <ion-col col-11>
                    <b style="font-size: 14px;">¿Cómo funciona pagadores?</b>
                  </ion-col>
                  <ion-col col-1 style="padding-top: 15px;">
                    <ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
                    </ion-icon>
                  </ion-col>
                </ion-row>
        </a>
  </div>
  <div padding class="mostrar-principal" style="margin-top: 15px;margin-top: 10px; padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
         <a href="https://www.pagadores.com/#contact">
                <ion-row style="padding-top: 10px;" >
                  <ion-col col-11>
                    <b style="font-size: 14px;">Soporte</b>
                  </ion-col>
                  <ion-col col-1 style="padding-top: 15px;">
                    <ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
                    </ion-icon>
                  </ion-col>
                </ion-row>
        </a>
  </div>

  <div padding class="mostrar-principal" style="margin-top: 15px;margin-top: 10px; padding-top: 0px;border-bottom: 1px solid #f4f4f4; border-radius: 0px;">
        <a href="https://www.pagadores.com/ayuda?hsLang=es">
                    <ion-row style="padding-top: 10px;">
                      <ion-col col-11>
                        <b style="font-size: 14px;">Preguntas frecuentes</b>
                      </ion-col>
                      <ion-col col-1 style="padding-top: 15px;">
                        <ion-icon style="color: var(--ion-color-tertiary); font-size: 18px; " name="chevron-forward-outline">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
      </a>
  </div>

 

</ion-content>
