<ion-header>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col col-2 style="padding-top: 10px;">
        <ion-buttons>
          <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
      </ion-col>
      <ion-col col-10>
        <ion-title text-center>Detalle Cuenta {{this.checkbox}}</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="this.creditor_instruccion" padding style="padding-top: 30px;" class="instrucciones">
    {{this.creditor_instruccion}}
  </div>

  <div padding style="padding-top: 30px;">
    <div padding *ngFor="let item of this.data; let i = index" class="mostrar-principal">

      <ion-row style="border-bottom: 1px solid #dee2e6;">
        <ion-col col-2>
          <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png">
        </ion-col>
        <ion-col col-10>
          <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px;"
            class="label-monstrar-radio">Detalle de la cuenta {{this.checkbox}}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Acreedor</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #a8abaf;">{{item.identifica_banco}} | {{item.banco_deuda}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;" *ngIf="item.status_text!='Pendiente de Pago Convenido'">
        <ion-col col-6>
          <b style="font-size: 14px;">Deuda original</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.debt_Amount | currency:' '}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;" *ngIf="item.status_text!='Pendiente de Pago Convenido'">
        <ion-col col-6>
          <b style="font-size: 14px;" *ngIf="item.product_type_id=='1'">Pago total para saldar</b>
          <b style="font-size: 14px;" *ngIf="item.product_type_id=='2'">Pago inicial</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <!--<b *ngIf="item.installment_pay_creditor_amt_conteroffer > 0"
            style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.installment_pay_creditor_amt_conteroffer
            | currency:' '}}</b>
          <b *ngIf="item.installment_pay_creditor_amt_conteroffer == 0 && item.initial_payment_offer > 0"
            style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.installment_pay_creditor_amt_conteroffer
            | currency:' '}}</b>
          <br *ngIf="item.installment_pay_creditor_amt_conteroffer > 0 && item.initial_payment_offer > 0">
          <b *ngIf="item.installment_pay_creditor_amt_conteroffer > 0 && item.initial_payment_offer > 0"
            style="font-size: 10px; color: #fb6900;">(Ofertaste {{item.currency}} {{item.initial_payment_offer |
            currency:' '}})</b> -->


          <b style="font-size: 14px; color: #a8abaf;" *ngIf="(item.product_type_id==2 && ((item.status=='LC' || item.status=='CO'))  ||  item.status=='WSA' ) ; else conditionFalse"> 
             {{item.currency}} {{item.initial_pay_creditor_conteroffer | currency:' ' }}
          </b>
          <b style="font-size: 10px; color: #fb6900;" *ngIf="(item.product_type_id==2 && ((item.status=='LC' || item.status=='CO'))  ||  item.status=='WSA' )"> 
             (Ofertaste {{item.currency}} {{item.initial_payment_offer | currency:' '}})
          </b>


          <ng-template #conditionFalse>
              <b *ngIf="item.offer_payoff_amount==0 && item.status!='C'" style="font-size: 14px; color: #a8abaf;">{{item.currency}}
                {{item.initial_payment_offer | currency:' ' }}
              </b>

              <b *ngIf="item.offer_payoff_amount!=0 && item.status!='C'" style="font-size: 14px; color: #a8abaf;">{{item.currency}}
                {{item.offer_payoff_amount
                | currency:' ' }}
              </b>



              <b style="font-size: 14px; color: #a8abaf;" *ngIf="item.status=='C' && item.product_type_id=='1'"> 
                 {{item.currency}} {{item.final_agree_debt_amount | currency:' ' }}
              </b>
              <div *ngIf="item.status=='C' && item.product_type_id=='2'"> 
                  <b *ngIf="item.offer_payoff_amount==0" style="font-size: 14px; color: #a8abaf;">{{item.currency}}
                    {{item.initial_payment_offer | currency:' ' }}
                  </b>
                  <b *ngIf="item.offer_payoff_amount!=0" style="font-size: 14px; color: #a8abaf;">{{item.currency}}
                    {{item.offer_payoff_amount
                    | currency:' ' }}
                  </b>
              </div>
          </ng-template>

        </ion-col>
      </ion-row>




      <ion-row *ngIf="item.product_type_id == 2 && item.status_text!='En proceso' "  style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Descuento otorgado</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{ (item.requested_amount-item.final_agree_debt_amount)  | currency:' '}}</b>
        </ion-col>
      </ion-row>




      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;" *ngIf="item.status_text=='Pendiente de Pago Convenido'">
        <ion-col col-6>
          <b style="font-size: 14px;">Monto convenido para saldar</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.final_agree_debt_amount | currency:' '}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Estatus</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #a8abaf;">{{item.status_text}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Fecha de solicitud</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #a8abaf;">
            <ion-datetime style="padding-top: 0px;" displayFormat="DD-MM-YYYY" [(ngModel)]="item.aplication_date">
            </ion-datetime>
          </b>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.product_type_id==2"
        style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Restante a financiar</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <!--<b style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.debt_Amount -item.installment_pay_creditor_amt_conteroffer | currency:' '}}</b> -->

           <!--
          <b style="font-size: 14px; color: #a8abaf;" *ngIf="item.status!='WSA'">{{item.currency}} {{item.requested_amount | currency:' '}}</b>
          <b style="font-size: 14px; color: #a8abaf;" *ngIf="item.status=='WSA'">{{item.currency}} {{item.final_agree_debt_amount | currency:' '}}</b>
        -->
          <b style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.final_agree_debt_amount | currency:' '}}</b>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.product_type_id==2"
        style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Número cuotas</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b *ngIf="item.installment_pay_creditor_num_conteroffer > 0"
            style="font-size: 14px; color: #a8abaf;">{{item.installment_pay_creditor_num_conteroffer}}</b>
          <b *ngIf="item.installment_pay_creditor_num_conteroffer == 0"
            style="font-size: 14px; color: #a8abaf;">{{item.installment_pay_num_offer}}</b>
          <br *ngIf="item.installment_pay_creditor_num_conteroffer > 0 && item.product_type_id==2">
          <b *ngIf="item.installment_pay_creditor_num_conteroffer > 0 && item.product_type_id==2"
            style="font-size: 10px; color: #fb6900;">(Ofertaste {{item.installment_pay_num_offer}})</b>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.product_type_id==2 && item.delinquent_interest_amount > 0"
        style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Tasa de interes</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #a8abaf;">{{item.delinquent_interest_amount}} %</b>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.product_type_id==2"
        style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;">Cuotas mensual</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <!--<b style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.offer_payoff_amount}}</b>-->

          <b style="font-size: 14px; color: #a8abaf;">{{item.currency}} {{item.installment_pay_creditor_amt_conteroffer}}</b>

          
        </ion-col>
      </ion-row>

    </div>
  </div>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
</ion-content>