<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Detalle cuenta</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header> 


<ion-content>
  <div padding style="margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px; padding-top: 30px; background-color: #001c6b;"  *ngFor="let item of this.data; let i = index">
      <ion-label style="font-size: 14px; margin-top: -5px; color: #fff; white-space: normal;">Detalle de la cuenta</ion-label>
      <ion-label style="font-size: 24px; margin-top: -5px; color: #fff; white-space: normal;">{{this.checkbox }}</ion-label>


       <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #fff;">Acreedor</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.identifica_banco}} | {{item.banco_deuda}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px;  color: #fff;">Deuda original</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.currency}} {{item.debt_Amount | currency:' '}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px; color: #fff;" *ngIf="item.product_type_id=='1'">Pago total para saldar</b>
          <b style="font-size: 14px; color: #fff;" *ngIf="item.product_type_id=='2'">Pago inicial</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
            <b style="font-size: 14px; color: #fff;" *ngIf="(item.product_type_id==2 && ((item.status=='LC' || item.status=='CO'))  ||  item.status=='WSA' ) ; else conditionFalse"> 
               {{item.currency}} {{item.initial_pay_creditor_conteroffer | currency:' ' }}
            </b>
            <b style="font-size: 10px; color: #fb6900;" *ngIf="(item.product_type_id==2 && ((item.status=='LC' || item.status=='CO'))  ||  item.status=='WSA' )"> 
               (Ofertaste {{item.currency}} {{item.initial_payment_offer | currency:' '}})
            </b>
            <ng-template #conditionFalse>
                <b *ngIf="item.offer_payoff_amount==0 && item.status!='C'" style="font-size: 14px; color: #fff;">{{item.currency}} {{item.initial_payment_offer | currency:' ' }}</b>
                <b *ngIf="item.offer_payoff_amount!=0 && item.status!='C'" style="font-size: 14px; color: #fff;">{{item.currency}} {{item.offer_payoff_amount | currency:' ' }}</b>
                <b style="font-size: 14px; color: #fff;" *ngIf="item.status=='C' && item.product_type_id=='1'"> {{item.currency}} {{item.final_agree_debt_amount | currency:' ' }}</b>
                <div *ngIf="item.status=='C' && item.product_type_id=='2'"> 
                    <b *ngIf="item.offer_payoff_amount==0" style="font-size: 14px; color: #fff;">{{item.currency}} {{item.initial_payment_offer | currency:' ' }}</b>
                    <b *ngIf="item.offer_payoff_amount!=0" style="font-size: 14px; color: #fff;">{{item.currency}} {{item.offer_payoff_amount | currency:' ' }}</b>
                </div>
            </ng-template>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.product_type_id == 2 && item.status_text!='En proceso' "  style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px; color: #fff;">Descuento otorgado</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.currency}} {{ (item.requested_amount-item.final_agree_debt_amount)  | currency:' '}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;" *ngIf="item.status_text=='Pendiente de Pago Convenido'">
        <ion-col col-6>
          <b style="font-size: 14px; color: #fff;">Monto convenido para saldar</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.currency}} {{item.final_agree_debt_amount | currency:' '}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #fff; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px; color: #fff;">Estatus</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.status_text}}</b>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: 0px solid #fff; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px; color: #fff;">Fecha de solicitud</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">
            <ion-datetime style="padding-top: 0px;" displayFormat="DD-MM-YYYY" [(ngModel)]="item.aplication_date">
            </ion-datetime>
          </b>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.product_type_id==2" style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px; color: #fff;">Restante a financiar</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.currency}} {{item.final_agree_debt_amount | currency:' '}}</b>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.product_type_id==2"
        style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px; color: #fff;">Cuotas</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b  *ngIf="item.installment_pay_creditor_num_conteroffer > 0" style="font-size: 14px; color: #fff;">
              {{item.installment_pay_creditor_num_conteroffer}}
              <b *ngIf="item.installment_pay_creditor_num_conteroffer > 0 && item.product_type_id==2" style="font-size: 14px; color: #fff;">/ {{item.installment_pay_num_offer}}</b>
          </b>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.product_type_id==2 && item.delinquent_interest_amount > 0" style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px; color: #fff;">Tasa de interes</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.delinquent_interest_amount}} %</b>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.product_type_id==2" style="border-bottom: 0px solid #e9ecef; margin-bottom: 15px;">
        <ion-col col-6>
          <b style="font-size: 14px; color: #fff;">Cuotas mensual</b>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <b style="font-size: 14px; color: #fff;">{{item.currency}} {{item.installment_pay_creditor_amt_conteroffer}}</b>
        </ion-col>
      </ion-row>
  </div>
</ion-content>




