<div id="inicio"  (click)="quitarresena()" class="inicio">
    <div class="img"></div>
</div>
<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-2 style="padding-top: 10px;">
              <ion-buttons>
                <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
          </ion-col>
          <ion-col col-10>
             <ion-title text-center>TC</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>

<ion-content class="myview" color="" >
  <form [formGroup]="myForm" (ngSubmit)="enviarformulario()" style="position: absolute; z-index: 4; background-color: white; width: 100%; height: 300px;" #EnForm="ngForm">
    <ion-row>
      <ion-col col-12>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">Numero de Tarjeta</ion-label>
            <ion-input formControlName="AccountNumber" [(ngModel)]="AccountNumber"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-6>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">Mes Exp</ion-label>
            <ion-datetime formControlName="ExpirationMonth" displayFormat="MM" [(ngModel)]="ExpirationMonth"></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-6>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">Año Exp</ion-label>
            <ion-datetime formControlName="ExpirationYear" displayFormat="YYYY" [(ngModel)]="ExpirationYear" max="2050"></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-6>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">CVV</ion-label>
            <ion-input formControlName="CVV"  type="numeric" [(ngModel)]="CVV"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-6>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">Zip Code</ion-label>
            <ion-input formControlName="ZipCode"  type="numeric" [(ngModel)]="ZipCode"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">Cedula</ion-label>
            <ion-input formControlName="CustomerID" [(ngModel)]="CustomerID"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="CustomerName" [(ngModel)]="CustomerName"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="CustomerEmail" [(ngModel)]="CustomerEmail"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input formControlName="Customeraddress" [(ngModel)]="Customeraddress"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">City</ion-label>
            <ion-input formControlName="CustomerCity" [(ngModel)]="CustomerCity"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">State</ion-label>
            <ion-input formControlName="CustomerState" [(ngModel)]="CustomerState"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <div padding style="white-space: normal; font-size: 14px;">
      Al dar click en el botón Pagar acepta todas las <a  style="font-size: 14px !important;" (click)="informacion('2')" href="javascript:"  class="">Políticas</a> y <a  style="font-size: 14px !important;" (click)="informacion('2')" href="javascript:"  class="">Términos</a> provisto en el contrato de uso.
    </div>
  </form>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
</ion-content>

<ion-footer class="ion-no-border" *ngFor="let item of this.datosdeudas; let i = index" >
  <ion-toolbar color="primary" >
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;" [disabled]="!myForm.valid" (click)="continuar()" type="button" color="primary">Pagar RD {{item.pago_inicial  | currency:'$ '}}</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>