<ion-header>
  <ion-toolbar color="primary">
          <ion-buttons slot="start">
                <ion-back-button style="color: black;"></ion-back-button>
          </ion-buttons>
          <ion-buttons slot="end" (click)="salir()">
                <ion-icon name="close" ion-icon-end></ion-icon>
          </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="myview" color="primary">
  <ion-grid no-padding>
      	<<form  [formGroup]="myForm" (ngSubmit)="enviarformulario()">
          <div style="z-index: 1; background-color: #b1d9f8;  position: absolute;  width: 100%;">
              <div padding style="padding-top:0px; margin-top: 120px;">
                       <ion-select  style="font-size: 18px; color: #252525;" placeholder="Seleccione problema para asistir" formControlName="eventosrespuesta_id" >
                              <ion-select-option *ngFor="let inf of datos" value="{{inf.id}}">{{inf.denominacion}}</ion-select-option>
                        </ion-select>
                       
              </div>
              <div padding style="padding-top:0px">
                  <ion-item>
                      <ion-textarea style="text-align: justify;" rows="6" cols="20" formControlName="observacion" placeholder="Información adicional"></ion-textarea>
                  </ion-item>
              </div>
          </div>
          <div padding style="z-index: 0; position: absolute; bottom: 0px; width: 100%;">
              <ion-button expand="block" [disabled]="!myForm.valid" style="text-transform: none;" color="dark"  type="submit">Enviar</ion-button>
          </div>
    </form>
  </ion-grid>
</ion-content>