<ion-header *ngIf="this.inicio==1">
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-12>
            <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="regresar()" class="back" style="color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
             <ion-title text-center  style="font-size: 18px !important;  color: var(--ion-color-primary) ;">Pago inicial</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header> 

<div *ngIf="this.inicio==2" id="inicio" (click)="quitarresena()" class="inicio">
  <div class="img"></div>
</div>

<ion-content *ngIf="this.inicio==1">
  <div padding style="margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px; padding-top: 30px; background-color: #000c3b;"  *ngFor="let item of this.datosdeudas; let i = index">
        <ion-label style="font-size: 14px; margin-top: -5px; color: #fff; white-space: normal;">Agrega el pago inicial que ofreces para</ion-label>
        <ion-label style="font-size: 24px; margin-top: -5px; color: #fff; white-space: normal;">Para solucionar tu deuda</ion-label>



        <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
          <ion-col col-6>
            <b style="font-size: 14px;  color: #fff;">Deuda original</b>
          </ion-col>
          <ion-col col-6 style="text-align: right;">
            <b style="font-size: 14px; color: #fff;">{{item.moneda}}$ {{item.monto_deuda}}</b>
          </ion-col>
        </ion-row>

        <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px;">
          <ion-col col-6>
            <b style="font-size: 14px;  color: #fff;">Pago inicial ofrecido</b>
          </ion-col>
          <ion-col col-6 style="text-align: right;">
            <b style="font-size: 14px; color: #37a7ef;"> {{item.moneda}} {{this.checkbox_cuo[i] | currency:'$ ' }}</b>
          </ion-col>
        </ion-row>

        <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px; margin-top: -20px;">
          <ion-col col-6>
            <b style="font-size: 14px;  color: #ced4da;">Restante a pagar</b>
          </ion-col>
          <ion-col col-6 style="text-align: right;">
            <b style="font-size: 14px; color: #37a7ef;">{{item.moneda}}$ {{(item.monto_deuda2 - this.checkbox_cuo[i]) | number:"1.0-0"}}</b>
          </ion-col>
        </ion-row>

        <ion-row style="border-bottom: 0px solid #303131; margin-bottom: 15px; margin-top: -20px;">
          <ion-col col-6>
            <b style="font-size: 14px;  color: #ced4da;">Cuotas</b>
          </ion-col>
          <ion-col col-6 style="text-align: right;">
            <b style="font-size: 14px; color: #37a7ef;">0</b>
          </ion-col>
        </ion-row>

  </div>
  <div padding style="" *ngFor="let item of this.datosdeudas; let i = index">
      <ion-row style="">
         <ion-col col-12>
          <b style="font-size: 14px;  color: #001c6b;">
            <b style="font-size: 14px;" >Pago inicial</b>
          </b>
        </ion-col>
          <ion-col col-12>
            <ion-input style="border: 1px solid;  background: white; border-radius: 5px; margin-top: 10px; margin-bottom: 10px; text-align: center;" maxlength="10"  [(ngModel)]="this.checkbox_cuo[i]"  (input)="getText($event, i)" (ionBlur)="vaciar2(i)" (ionFocus)="vaciar(i)"  type="tel"></ion-input>
          </ion-col>
        </ion-row>
  <br><br><br><br><br><br>
  </div>
  
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border" >
  <ion-toolbar color="secondary">
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;" (click)="continnuar()" type="button"
        color="secondary">Continuar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>