/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: 'poppins-regular';
    src: url('/assets/letras/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-extraligthh';
    src: url('/assets/letras/Poppins/Poppins-ExtraLight.ttf');
}


* {
    font-family: 'poppins-regular';
}


@media screen and (min-width: 750px) and (max-width: 850px){
    body {
        margin-left: 25% !important;
        width: 50% !important;
    }
}
@media screen and (min-width: 851px){
    body {
        margin-left: 30% !important;
        width: 35% !important;
    }
}




[type=reset],
[type=submit],
button,
html [type=button] {
-webkit-appearance: button-bevel !important;
}

[text-center]{
    font-size: 23px   !important;
}

a {
    background-color: transparent  !important;
    color: var(--ion-color-secondary)   !important;
    font-size: 12px   !important;
}

.header-md::after {
	    left: 0;
	    bottom: -5px;
	    background-position: left 0 top -2px;
	    position: absolute;
	    width: 100%;
	    height: 5px;
	    background-image: none;
	    background-repeat: repeat-x;
	    content: "";
	}

.input {
    --ion-color-success: transparent;
    -webkit-touch-callout: none;    
    -webkit-user-select: none;
    -ms-touch-callout: none;
    -ms-user-select: none;
    -moz-touch-callout: none;
    -moz-user-select: none;
}

ion-button {
    height: 40px;
}
.alert-button-inner.sc-ion-alert-ios {
    justify-content: center;
}
.alert-button-inner.sc-ion-alert-md {
    justify-content: center;
}
.alert-button.sc-ion-alert-md {
    border-radius: 8px;
    
    /*color: var(--ion-color-primary) !important; */
}
.alert-button.sc-ion-alert-ios {
    border-radius: 8px;
    /*color: var(--ion-color-primary) !important; */
}
.alert-wrapper.sc-ion-alert-md {
    border-radius: 10px;
}
.alert-wrapper.sc-ion-alert-ios {
    border-radius: 10px;
}
.alert-button.sc-ion-alert-md {
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
}
.ion-cancelar{
    width: 100% !important;
    background-color: var(--ion-color-secondary) !important;
    color: #fff !important;
    margin-top: 7px !important;
    width: 120px !important;
}

.ion-pagar{
    width: 100% !important;
    text-transform: none !important;
    color: #fff !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    border-radius: 15px !important;
    background-color: var(--ion-color-primary) !important;
    border: 1px solid var(--ion-color-primary) !important;
    
}






///////////////DISENO NUEVO/////////////////////
.ion-pagar2{
    width: 100% !important;
    text-transform: none !important;
    color: #fff !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    border-radius: 15px !important;
    background-color: var(--ion-color-primary) !important;
    border: 1px solid var(--ion-color-primary) !important;
    margin-bottom: 15px !important;
}
.ion-pagar3{
    width: 100% !important;
    text-transform: none !important;
    color:  var(--ion-color-primary) !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 15px !important;
    text-decoration: underline;
}
.alert-sub-title.sc-ion-alert-md {
    color: var(--ion-color-primary) !important;
    font-size: 21px;
    margin-bottom: -10px;
    padding-bottom: -21px;
    font-weight: bolder;
}
.alert-sub-title.sc-ion-alert-ios {
    color: var(--ion-color-primary) !important;
    font-size: 21px;
    margin-bottom: -10px;
    padding-bottom: -21px;
    font-weight: bolder;
}
.alert-message.sc-ion-alert-md {
    max-height: 240px;
    font-size: 20px;
    color: #001b6b;
}
.alert-message.sc-ion-alert-ios {
    max-height: 240px;
    font-size: 20px;
    color: #001b6b;
}
////////////////////////////////////////////////////






.ion-aceptar{width: 100% !important;
    margin-top: 15px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 15px !important;
    border-radius: 15px !important;
    text-transform: none !important;
    border: 1px solid var(--ion-color-primary) !important;
}

.ion-aceptar-small{
        width: 80px !important;
        margin-top: 15px !important;
        margin-left: 0px !important;
        margin-right: 20px !important;
        margin-bottom: 15px !important;
        border-radius: 15px !important;
        text-transform: none !important;
        border: 1px solid var(--ion-color-primary) !important;
        background-color: var(--ion-color-primary) !important;
        color: #fff !important;
}

.ion-cancelar-small{
        width: 80px !important;
        margin-top: 15px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 15px !important;
        border-radius: 15px !important;
        text-transform: none !important;
        border: 1px solid var(--ion-color-primary) !important;

}