<ion-header>
  <ion-toolbar>
     <ion-row>
          <ion-col col-2>
                <ion-back-button style="height: 30px; color: var(--ion-color-primary) ;"></ion-back-button>
        </ion-col>
        <ion-col col-8>
             <ion-title style="text-align: center;  padding-left: 0px; padding-right: 0px;"><b>Más información</b></ion-title>
        </ion-col>
        <ion-col col-2>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-header>



<ion-content class="myview">
    <form  [formGroup]="myForm" (ngSubmit)="enviarformulario('1')"  #EnForm="ngForm">
           <!--<div padding style="margin-top: 10px;">
                    <ion-label style="font-size:18px;font-weight: bold; text-transform: uppercase;">Crear cuenta</ion-label>
          </div>-->
          <div style="text-align: left; font-size: 18px;padding-bottom:10px;" padding slot="end">
                <b>1/2</b>
          </div>
          <div padding style="margin-top: 0px;padding-top: 0px;">
                    <!--<ion-label>Nombres</ion-label>-->
                    <ion-item>
                        <ion-input placeholder="Salario" formControlName="salario"  type="text"  (input)="getNum($event)"  maxlength="50"></ion-input>
                    </ion-item>
          </div>
          <div padding style="margin-top: 0px;padding-top: 0px;">
                   <!-- <ion-label>Apellidos</ion-label>-->
                    <ion-item>
                        <ion-input placeholder="Tipo de empleo" (input)="getText($event)"  formControlName="empleo" type="text" maxlength="50"></ion-input>
                        <ionic-selectable [(ngModel)]="empleo" formControlName="empleo" placeholder="Selecciona tipo de empleo"
                          [items]="empleos" itemValueField="id" itemTextField="name" [canSearch]="true" closeButtonText="Cancelar"
                          searchPlaceholder="Buscar" (onChange)="empleosChange($event)">
                        </ionic-selectable>
                    </ion-item>
          </div>
          <div padding style="margin-top: 0px;padding-top: 0px;">
                   <!-- <ion-label>Apellidos</ion-label>-->
                    <ion-item>
                        <ion-input placeholder="Nacionalidad"  value="Dominicana"  (input)="getText($event)"  formControlName="nacionalidad" type="text" minlength="5"></ion-input>
                    </ion-item>
          </div>
          <!--
          <div padding style="margin-top: 0px;padding-top: 0px;">
                    <ion-item>
                        <ion-input placeholder="Ocupación" (input)="getText($event)"  formControlName="ocupacion" type="text" maxlength="50"></ion-input>
                    </ion-item>
          </div>
        -->
        <div padding style="white-space: normal; font-size: 14px; z-index: 3; background-color: #18d586; color: #17243f; border-radius: 10px; margin: 10px;">
            <ion-checkbox style="margin-right: 10px;"  [(ngModel)]="this.vehiculo" color="primary" formControlName="valida" checked="false" ></ion-checkbox>            
            ¿Tienes vehículo propio?
            <br>
           Esta opción aumenta la probabilidad de que tu solicitud sea aprobada   
          </div>
          <div padding>
            <ion-button expand="block" color="primary" [disabled]="!myForm.valid" type="submit">Siguiente</ion-button>
          </div>
    </form>
</ion-content>
