.puntos{
	width: 100%;
    text-align: -webkit-center;
    border: 0px solid #818386;
    font-size: 20px;
    border-radius: 15px;
    --background: #f4f4f4;
    --inner-border-width: 0px;
}
ion-title{
  padding-left: 0px;
  padding-right: 30px;
}
.back{
  font-size: 20px;
    margin-left: 26px;
    margin-right: -26px;
}
	.mostrar-principal{
	    border-radius: 15px 15px 15px 15px;
	    background-color: #fff;
	    margin-bottom: 10px;
	}
	.focus_col{
		background-color: #ced4da;
		border-radius: 6px 6px 6px 6px;
	}
	.focus_col_no{
		background-color: #fff;
	}

	[col-1] {
	    margin-left: 2px;
	}
	[col-2] {
	    margin-left: 2px;
    	max-width: none;
    	width: 36px;
    	flex:none;
	}
	.myview{
		margin-top: 20px;
	}
	[ion-icon-end]{
    	margin-right: 20px;
    	font-size: 25px;
        color: black;
	}
	ion-content{
	    --background: #f4f4f4;
	}
	ion-searchbar{
	    --icon-color: #929ba4;
	    --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	    ::ng-deep{
	        .searchbar-input-container{            
	            .searchbar-input{ 
	                border-radius: 20px;
	            }
	        }
	    }   
	}
	ion-list{
		 background:none; 
	}
	ion-item{
	}
	[ion-icon-end-avatar]{
		font-size: 25px;
	}    
	.item-md {
	    padding-left: 16px;
	    padding-right: 0;
	    position: relative;
	    font-size: 1.6rem;
	    font-weight: normal;
	    text-transform: none;
	    color: #000;
	    background-color: transparent;
	    -webkit-box-shadow: none; 
	    box-shadow: none;
	    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.item-ios {
	    padding-left: 16px;
	    border-radius: 0;
	    position: relative;
	    font-size: 1.7rem;
	    color: #000;
	    background-color: transparent;
	    -webkit-transition: background-color 200ms linear;
	    transition: background-color 200ms linear;
	}

	.item-md.item-input.ng-valid.item-input-has-focus .item-inner, 
	.item-md.item-input.ng-valid.item-input-has-focus, .item-inner {
	     border-bottom-color: #32db64;
	    -webkit-box-shadow: inset 0 -0px 0 0 #32db64;
	    box-shadow: inset 0 -0px 0 0 #32db64;
	}
