<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-2 style="padding-top: 10px;">
              <ion-buttons>
                <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
          </ion-col>
          <ion-col col-10>
             <ion-title text-center>Como podemos mejorar</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>
<ion-content class="myview" color="">
  <ion-grid no-padding>
      	<form  [formGroup]="myForm" (ngSubmit)="enviarformulario()">
          <div padding style="padding-top: 30px;">
              <div  padding class="mostrar-principal">
                      <ion-row style="border-bottom: 1px solid #dee2e6;">
                          <ion-col col-2>
                                <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png" > 
                          </ion-col>
                          <ion-col col-10>
                                <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px; padding-top: 8px;" class="label-monstrar-radio">Déjanos tu calificación</ion-label>
                          </ion-col>
                      </ion-row>
                      <div padding style="padding-top: 10px;">
                                <ion-label style="font-size: 14px; color: #767a7d; white-space: normal;text-align: left;">
                                    En una escala del 1 a 10, donde 1 es la calificación más baja y 10 la más alta, ¿Qué tan probable es que recomiendes el servicio de nuestra aplicación Pagadores a tus familiares y amigos?
                                </ion-label>
                      </div>
                      <div padding style="padding-top:20px">
                                <ion-input id="puntaje" [(ngModel)]="puntaje" formControlName="puntaje" type="hidden"></ion-input>
                                <ion-item class="puntos">
                                    <ion-row style="width: 100%; text-align: -webkit-center;">
                                      <ion-col col-1 id="col1" (click)="sel('1')">1</ion-col>
                                      <ion-col col-1 id="col2" (click)="sel('2')">2</ion-col>
                                      <ion-col col-1 id="col3" (click)="sel('3')">3</ion-col>
                                      <ion-col col-1 id="col4" (click)="sel('4')">4</ion-col>
                                      <ion-col col-1 id="col5" (click)="sel('5')">5</ion-col>
                                      <ion-col col-1 id="col6" (click)="sel('6')">6</ion-col>
                                      <ion-col col-1 id="col7" (click)="sel('7')">7</ion-col>
                                      <ion-col col-1 id="col8" (click)="sel('8')">8</ion-col>
                                      <ion-col col-1 id="col9" (click)="sel('9')">9</ion-col>
                                      <ion-col col-2 id="col10"  (click)="sel('10')" style="text-align: left;">10</ion-col>
                                    </ion-row>
                                </ion-item>
                      </div>
              </div>
          </div>
          <div padding style="z-index: 0; position: absolute; bottom: 0px; width: 100%;">
              <ion-button expand="block" [disabled]="!myForm.valid" style="text-transform: none;" color="primary"  type="submit">Enviar calificación</ion-button>
          </div>
    </form>
  </ion-grid>
</ion-content>