<ion-content class="myview" color="" (click)="link()">
</ion-content>
<!--
<ion-footer class="ion-no-border">
  <ion-toolbar color="" >
    <div padding>
      <ion-button expand="block" type="button" style="text-transform: none;" color="primary" (click)="link()">Continuar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
-->