<ion-app>
  <div *ngIf="this.inicio==2" id="inicio"  (click)="linkmenu('principal/menu')" class="inicio">
      <div class="img"></div>
  </div>
  <ion-router-outlet id="primary" name="primary"></ion-router-outlet>
	<ion-tabs>
        <ion-tab-bar slot="bottom">
              <ion-tab-button tab="inicio">
                <ion-icon name="home-outline"></ion-icon>
                <ion-label>Inicio</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="perfilnotificaciones">
                <ion-icon  name="notifications-outline"></ion-icon>
                <ion-label>Notificaciones</ion-label>
              </ion-tab-button>

             <!--
             <ion-tab-button tab="menu">
                <ion-icon name="add-circle-outline"></ion-icon>
                <ion-label>Deudas</ion-label>
              </ion-tab-button>-->
             
             <!-- <ion-tab-button tab="soporte">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <ion-label>Soporte</ion-label>
              </ion-tab-button>-->
              
              <ion-tab-button tab="perfil">
                <ion-icon name="person-outline"></ion-icon>
                <ion-label>Perfil</ion-label>
              </ion-tab-button>
        </ion-tab-bar>
  </ion-tabs>
</ion-app>
