.inicio{
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: #444f65;
}
.inicio .img{
  background-image: url('../../assets/images/principal1.png');
  background-position-x: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: #000c3c;
}
.activa-notificaciones{
  

}
.desactiva-notificaciones{
  
  
}

[ion-icon-end]{
    margin-right: 20px;
    font-size: 25px;
}

ion-title {
  /*padding-left: 10px;
  margin-left: -20px;*/
}

ion-header{
  margin-bottom: -8px;
}
super-tabs-toolbar {
    color: white;
    height: 48px;
}


super-tabs-toolbar ion-icon {
    margin-top: -5px;
    --st-icon-size: 25px;
    --st-base-color-inactive: white;
    --st-icon-color-active: white;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px;
}

super-tab-button {
    height: 48px !important;
}

.header-md:after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none;
    background-repeat: repeat-x;
    content: "";
}


ion-icon {
    display: inline-block;
    font-size: 18px;
    /*color: #172833 ;*/
}

.principal{
  margin-top: 10px;
}

.tab-selected{
  background: var(--ion-color-primary);
}

ion-tab-button {
  --color: var(--ion-color-primary);
  --color-selected: var(--ion-color-tertiary);
}

ion-tab-button {
  padding-top: 0px;
}

ion-tab-button ion-icon {
    display: inine-block;
    font-size: 27px;
}

.button-md_principal{
      float: none;
      width: 140px;
      height: 118px;
      color: #f79633;
      margin-top:   15px;
      margin-right: 3%;
      margin-left:  3%;
      border: 1px #777 solid;
      background-color: #ffffff;
      padding: 0px;
      -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
      -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
      box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
      border-radius: 10px 10px 0px 0px;
}
[ion-slide]{
    width: 100% !important;
}
[item-principal] {
  margin-top: 20px;
}