<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-2 style="padding-top: 10px;">
              <ion-buttons>
                <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
          </ion-col>
          <ion-col col-10>
             <ion-title text-center>Refiere</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>
<ion-content class="myview" color="" >
<ion-grid>
      <div padding style="padding-top: 30px;">
              <div  padding class="mostrar-principal">
                      <ion-row style="border-bottom: 1px solid #dee2e6;">
                          <ion-col col-2>
                                <img style="height: 35px; width: 35px; margin-left: 2px;" src="assets/logos/logo_pagadores.png" > 
                          </ion-col>
                          <ion-col col-10>
                                <ion-label style="font-size: 14px; color:  var(--ion-color-primary) !important; margin-left: 0px; padding-top: 8px;" class="label-monstrar-radio">Invita a tus amigos</ion-label>
                          </ion-col>
                      </ion-row>
                      <div padding style="padding-top: 10px;">
                                <ion-label style="font-size: 14px; color: #767a7d; white-space: normal;text-align: left;">
                                    Invita a tus amigos para ganar dinero
                                </ion-label>
                      </div>
                      <div padding style="padding-top: 10px;
    font-size: 14px;
    text-align: center;
    border: 1px dashed;
    border-radius: 10px;
    margin-bottom: 10px;">
                            <ion-icon style="font-size: 25px; float: left; color: #77f9ca;" name="link-outline"></ion-icon>{{this.link}}
                      </div>
                      <ion-button expand="" (click)="compartir()" style="text-transform: none;" color="primary" >Compartir tu link</ion-button>
              </div>

      </div>
</ion-grid>
</ion-content>