<ion-header>
  <ion-toolbar>
          <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="this.navController.back()" style="font-size: 20px; margin-left: 26px; margin-right: -26px; color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
          </ion-buttons>
          <ion-title text-center  style="font-size: 18px !important;  text-align: center;  padding-left: 0px; padding-right: 0px; color: var(--ion-color-primary) ;">Verificación de código</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="myview">
    <form  [formGroup]="myForm" (ngSubmit)="enviarformulario()" #EnForm="ngForm">
           <div padding style="margin-top: 10px;padding-bottom:0px">
                    <ion-label style="font-size:20px;font-weight: bold;">Introduzca tu</ion-label>
                    <ion-label style="font-size:26px; margin-top: -10px; font-family: 'poppins-extraligthh';">código de Verificación</ion-label>
          </div>
           <div padding style="padding-top: 0px;">
                    <ion-label style="font-size: 13px; color: #767a7d; white-space: normal;">Enviamos a el correo electrónico su código de Verificación</ion-label>
          </div>
          <div padding>
                    <ion-row>
                      <ion-col col-3>
                      <ion-item>
                          <ion-input style='text-align: center; font-size: 27px;' (input)="getText($event)" (ionChange)="cambiar1()" #campo1 formControlName="campo1"  maxlength="1" id="codigo_recuperacion1" name="campo1" type="password"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col col-3>
                      <ion-item>
                          <ion-input style='text-align: center; font-size: 27px;' (input)="getText($event)" (ionChange)="cambiar2()" #campo2 formControlName="campo2" maxlength="1" id="codigo_recuperacion2" name="campo2" type="password"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col col-3>
                      <ion-item>
                          <ion-input style='text-align: center; font-size: 27px;' (input)="getText($event)" (ionChange)="cambiar3()"  #campo3 formControlName="campo3" maxlength="1" id="codigo_recuperacion3" name="campo3" type="password"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col col-3>
                      <ion-item>
                          <ion-input style='text-align: center; font-size: 27px;' (input)="getText($event)" formControlName="campo4" #campo4 maxlength="1" id="codigo_recuperacion4" name="campo4" type="password"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
          </div>
          <div padding text-center>
             <!-- <ion-label style="font-size:14px;font-weight: bold;"> ¿Aun no recibes tu código?</ion-label>
             <br>
             -->
             <div class="crono_wrapper">
               <p style="font-size:14px;font-weight: bold;"> 00:{{this.timeLeft2}}</p> 
              </div>
             <br>
             <ion-label stacked style="color:#000;font-size:10px;text-decoration: underline;"><a (click)="reenviar()" href="javascript:" style="font-size: 14px !important;"  class="">Reenviar código</a></ion-label>
          </div>
    </form>
</ion-content>
<ion-footer class="ion-no-border" style="height: 50px;">
  <ion-toolbar style="margin-top: -13px;">
    <div padding>
      <ion-button expand="block" type="submit" [disabled]="!myForm.valid" style="text-transform: none; --box-shadow: #000c3b;" color="primary" (click)="EnForm.ngSubmit.emit()">Confirmar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>