<ion-header>
      <ion-toolbar color="light">
        <ion-row>
          <ion-col col-2 style="padding-top: 10px;">
              <ion-buttons>
                <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
          </ion-col>
          <ion-col col-10>
             <ion-title text-center>¿Qué sigue?</ion-title>
          </ion-col>
        </ion-row>
      </ion-toolbar>
</ion-header>
<ion-content  *ngFor="let item of this.datosdeudas; let i = index">
        <div padding style="margin-top: 10px;padding-bottom:0px">
                    <ion-label style="font-size:18px;font-weight: bold;">¿Qué sigue?</ion-label>
        </div>
         <div padding style="padding-top: 0px;">
                  <ion-label style="font-size: 13px; color: #767a7d; white-space: normal;">
                    lee bien toda la información aquí abajo descripta
                  </ion-label>
        </div>


        <div padding style="padding-top: 0px;">
                  <ion-row>
                      <ion-col col-2 style="text-align: center; ">
                         <ion-checkbox color="medium"  *ngIf="item.status_aprobacion=='1' "    style="color: #94979a; --border-radius: 10px;" ></ion-checkbox>
                         <ion-checkbox color="secondary"  *ngIf="item.status_aprobacion>='2' " readonly="true" checked="true" style="color: #94979a; --border-radius: 10px;" ></ion-checkbox>
                      </ion-col>
                      <ion-col col-10>
                          <ion-label style="font-size:18px;font-weight: bold;">
                            Aceptar contraoferta
                          </ion-label>
                      </ion-col>
                    </ion-row>
                  <ion-row>
                      <ion-col col-2 style="text-align: center; --border-radius: 10px;">
                      </ion-col>
                      <ion-col col-10>
                          <ion-label style="font-size: 14px;white-space: normal;">
                              Aceptar la contraoferta realizada por el banco.
                          </ion-label>
                      </ion-col>
                  </ion-row>
        </div>

        <div padding style="padding-top: 0px;">
                  <ion-row>
                      <ion-col col-2 style="text-align: center; ">
                         <ion-checkbox color="medium"     *ngIf="item.status_aprobacion<='2'"    style="color: #94979a; --border-radius: 10px;" ></ion-checkbox>
                         <ion-checkbox color="secondary"  *ngIf="item.status_aprobacion>='3' " readonly="true" checked="true" style="color: #94979a; --border-radius: 10px;" ></ion-checkbox>
                      </ion-col>
                      <ion-col col-10>
                          <ion-label style="font-size:18px;font-weight: bold;">
                            Firma contrato digital
                          </ion-label>
                      </ion-col>
                    </ion-row>
                  <ion-row>
                      <ion-col col-2 style="text-align: center; --border-radius: 10px;">
                      </ion-col>
                      <ion-col col-10>
                          <ion-label style="font-size: 14px;white-space: normal;">
                              Para poder continuar con el proceso debes firmar el contrato que certifique tu deuda con el banco.
                          </ion-label>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col col-2 style="text-align: center; --border-radius: 10px;">
                      </ion-col>
                      <ion-col col-10>
                          <ion-label style="font-size: 14px;white-space: normal;">
                              <ion-button expand=" " *ngIf="item.status_aprobacion=='2'"  type="button" style="--box-shadow: 0px; --border-color: var(--ion-color-primary); --border-style: solid; --border-width: 1px; --background: white; color: #303131;text-transform: none;" (click)="firmar(this.deudaid)"> Firmar </ion-button>
                              <ion-button expand=" " *ngIf="item.status_aprobacion>'2'"  disabled=true type="button" style="--box-shadow: 0px; --border-color: var(--ion-color-primary); --border-style: solid; --border-width: 1px; --background: white; color: #303131;text-transform: none;" (click)="firmar(this.deudaid)"> Firmado </ion-button>
                              <ion-button expand=" " *ngIf="item.status_aprobacion<'2'"  disabled=true type="button" style="--box-shadow: 0px; --border-color: var(--ion-color-primary); --border-style: solid; --border-width: 1px; --background: white; color: #303131;text-transform: none;" (click)="firmar(this.deudaid)"> Firmar </ion-button>
                          </ion-label>
                      </ion-col>
                  </ion-row>
                  
        </div>

        <div padding style="padding-top: 0px;">
                  <ion-row>
                      <ion-col col-2 style="text-align: center; ">
                         <ion-checkbox color="medium"     *ngIf="item.status_aprobacion<='3' "    style="color: #94979a; --border-radius: 10px;" ></ion-checkbox>
                         <ion-checkbox color="secondary"  *ngIf="item.status_aprobacion>='4' " readonly="true" checked="true" style="color: #94979a; --border-radius: 10px;" ></ion-checkbox>
                      </ion-col>
                      <ion-col col-10>
                          <ion-label style="font-size:18px;font-weight: bold;">
                            Pago inicial
                          </ion-label>
                      </ion-col>
                    </ion-row>
                  <ion-row>
                      <ion-col col-2 style="text-align: center; --border-radius: 10px;">
                      </ion-col>
                      <ion-col col-10>
                          <ion-label style="font-size: 14px;white-space: normal;">
                              Despues de firmar el contrato, de acuerdo al monto que elegiste pagar como inicial, deber saldarlo para que esta contraoferta se active, recuerda que tus proximos pagos seran las cuotas 
                              y lo puedes hacer por nuestra aplicación 
                          </ion-label>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col col-2 style="text-align: center; --border-radius: 10px;">
                      </ion-col>
                      <ion-col col-10>
                          <ion-label style="font-size: 14px;white-space: normal;">
                              <ion-button expand=" "  *ngIf="item.status_aprobacion=='3'"  type="button" style="--box-shadow: 0px; --border-color: var(--ion-color-primary); --border-style: solid; --border-width: 1px;  --background: white; color: #303131;text-transform: none;" (click)="pagar(this.deudaid)"> Pagar </ion-button>
                              <ion-button expand=" "  *ngIf="item.status_aprobacion>'3'"   disabled=true  type="button" style="--box-shadow: 0px; --border-color: var(--ion-color-primary); --border-style: solid; --border-width: 1px;  --background: white; color: #303131;text-transform: none;" (click)="pagar(this.deudaid)"> Pagado </ion-button>
                              <ion-button expand=" "  *ngIf="item.status_aprobacion<'3'"  disabled=true  type="button" style="--box-shadow: 0px; --border-color: var(--ion-color-primary); --border-style: solid; --border-width: 1px;  --background: white; color: #303131;text-transform: none;" (click)="pagar(this.deudaid)"> Pagar </ion-button>
                          </ion-label>
                      </ion-col>
                  </ion-row>
                  
        </div>

        <br><br><br><br><br><br>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="" >
    <div no-padding>
      <ion-button expand="block" type="button" style="text-transform: none;" color="primary" (click)="finalizar()">
        Finalizar
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>