<ion-header>
  <ion-toolbar>
          <ion-buttons style="position: absolute; margin-top: 3px;">
                <ion-icon (click)="this.navController.back()" style="font-size: 20px; margin-left: 26px; margin-right: -26px; color: var(--ion-color-tertiary) ;" name="arrow-back-outline"></ion-icon>
          </ion-buttons>
          <ion-title text-center  style="font-size: 15px !important;  text-align: center;  padding-left: 0px; padding-right: 0px; color: var(--ion-color-primary) ;">Recuperación de contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="myview" >
    <form  [formGroup]="myForm" (ngSubmit)="enviarformulario()" #EnForm="ngForm">
          
           <div padding style="margin-top: 10px;padding-botom:0px">
                    <ion-label style="font-size:20px;font-weight: bold;">Recupera tu</ion-label>
                    <ion-label style="font-size:26px; margin-top: -10px; font-family: 'poppins-extraligthh';">contraseña</ion-label>
          </div>
          <div padding style="margin-top: 0px;">
                    <ion-label><b>Correo electrónico</b></ion-label>
                    <ion-item>
                        <ion-input style="font-size: 14px;"  placeholder="Escribe tu correo electrónico" formControlName="usuario" type="text"></ion-input>
                    </ion-item>
          </div>
    </form>
</ion-content>
<ion-footer class="ion-no-border" style="height: 50px;">
  <ion-toolbar style="margin-top: -13px;">
    <div padding>
      <ion-button expand="block" type="submit" [disabled]="!myForm.valid" style="text-transform: none; --box-shadow: #000c3b;" color="primary" (click)="EnForm.ngSubmit.emit()">Continuar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>