<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido a Pagadores</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="myview">
<ion-grid>
      <div padding text-center>
          <ion-img style="background-color:#f6f6f6;" width="170" height="110" src="assets/logos/logo1.png" ></ion-img>
      </div>
      <div padding text-center>
          <ion-label stacked style="color:#b1d9f8; font-size:25px; padding-left: 16px;">¡Bien {{this.nombresapellidos}}!</ion-label>
          <ion-label stacked style="color:#b1d9f8; font-size:25px; padding-left: 14px;">Tu cuenta ya está creada</ion-label>
      </div>
      <div padding  text-center>
          <ion-label stacked style="color:#A6ACAF; font-size:10px;"><br>
            ¡Gracias por ser parte de nuestra <br><br>
             Comunidad de Usuarias(os)!.
           </ion-label>
      </div>
      <div padding>
          <ion-button expand="block" (click)="link()" type="button">¡Ir a probar App!</ion-button>
      </div> 
</ion-grid>
</ion-content>