<ion-header>
  <ion-toolbar>
     <ion-row>
          <ion-col col-2>
                <ion-back-button style="height: 30px; color: var(--ion-color-primary) ;"></ion-back-button>
        </ion-col>
        <ion-col col-8>
             <ion-title style="text-align: center;  padding-left: 0px; padding-right: 0px;"><b>Dirección</b></ion-title>
        </ion-col>
        <ion-col col-2>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-header>




<ion-content class="myview">
    <form  [formGroup]="myForm" (ngSubmit)="enviarformulario('1')"  #EnForm="ngForm">
           <!--<div padding style="margin-top: 10px;">
                    <ion-label style="font-size:18px;font-weight: bold; text-transform: uppercase;">Crear cuenta</ion-label>
          </div>-->
          <div style="text-align: left; font-size: 18px;padding-bottom:10px;" padding slot="end">
                <b>2/2</b>
          </div>
          <div padding style="margin-top: 0px;padding-top: 0px;">
                    <!--<ion-label>Nombres</ion-label>-->
                    <ion-item>
                        <ion-input placeholder="Dirección" formControlName="direccion"  type="text" maxlength="50"></ion-input>
                    </ion-item>
          </div>
          <div padding style="margin-top: 0px;padding-top: 0px;">
                   <!-- <ion-label>Apellidos</ion-label>-->
                    <ion-item>
                        <ion-input placeholder="Sector" (input)="getText($event)"  formControlName="sector" type="text" maxlength="50"></ion-input>
                    </ion-item>
          </div>
          <div padding style="margin-top: 0px;padding-top: 0px;">
                   <!-- <ion-label>Apellidos</ion-label>-->
                    <ion-item>
                        <ion-input placeholder="Ciudad" (input)="getText($event)"  formControlName="ciudad" type="text" maxlength="50"></ion-input>
                    </ion-item>
          </div>
          <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-item style="--border-width: 1px; --border-radius: 7px;">
              <ionic-selectable [(ngModel)]="provincias" formControlName="provincia" placeholder="Provincia"
                [items]="provincia" itemValueField="id" itemTextField="denominacion" [canSearch]="true" closeButtonText="Cancelar"
                searchPlaceholder="Provincia" (onChange)="provinciaChange($event)">
              </ionic-selectable>
            </ion-item>
          </div>

          <div padding style="margin-top: 0px;padding-top: 0px;">
            <ion-item style="--border-width: 1px; --border-radius: 7px;">
              <ionic-selectable [(ngModel)]="industrias" formControlName="industria" placeholder="Industria"
                [items]="industria" itemValueField="id" itemTextField="denominacion" [canSearch]="true" closeButtonText="Cancelar"
                searchPlaceholder="Industria" (onChange)="provinciaChange($event)">
              </ionic-selectable>
            </ion-item>
          </div>

          <div padding style="white-space: normal; font-size: 14px; z-index: 3; ">
                <ion-checkbox style="margin-right: 10px;"  [(ngModel)]="this.politicas" color="primary" formControlName="valida" checked="false" ></ion-checkbox>
                Al dar click en el botón Enviar solicitud acepta que usaremos tus datos personales únicamente para tramitar tu solicitud. Te garantizamos que no compartiremos ni comercializaremos tu información personal con nadie. 
                <a  style="font-size: 14px !important;" (click)="informacion('2')" href="javascript:"  class="">Políticas de privacidad</a> 
                y 
                <a  style="font-size: 14px !important;" (click)="informacion('2')" href="javascript:"  class="">Términos y condiciones</a>
          </div>
                  
          <div padding>
            <ion-button expand="block" color="primary"  *ngIf="this.politicas==true"   [disabled]="!myForm.valid" type="submit">Enviar solicitud</ion-button>
          </div>
    </form>
</ion-content>
